{% load static %}
{% load i18n %}
<!DOCTYPE html>

{% comment %}
blocks:
    {title} (not used, set from view)
    {head}:
        common to all pages on the site
        {section_head}: new block defined in management, to separate common management javascript from specific pages
    {body_tag}: for replacing plain <body> tag with <body class=...  ...
    {status_bar_logo}: logo and image in terminal; link to terminal in management
    {extra_button}: used in management only, for adding stuff

    {content}: the actual webpage
        {manage_content}: in management only

{% endcomment %}

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />

    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/fonts/fonts.css' %}" />

    <link rel="stylesheet" href="{% static 'jquery-ui-1.11.2.custom/jquery-ui.structure.css' %}" />
    <link rel="stylesheet" href="{% static 'jquery-ui-1.11.2.custom/jquery-ui.theme.css' %}" />

    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/statusbar.css' %}" />

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="{% static 'jquery-ui-1.11.2.custom/external/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.11.2.custom/jquery-ui.js' %}"></script>

    {% comment %} jQuery UI {% endcomment %}

    {% comment %} bignumber (for all number manipulation) {% endcomment %}
    <script src="{% static 'js/big.js' %}"></script>

    {% comment %} mousewheel events {% endcomment %}
    <script src="{% static 'js/jquery.mousewheel.js' %}"></script>

    {% comment %} translation {% endcomment %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    {% comment %} common javascript files {% endcomment %}
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/common.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/draggable.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/widgets/calculations.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.simpleMenu.js' %}"></script>

    <title>{% block title %}{{title}} - {{site_title}}{% endblock %}</title>

    {% comment %} to avoid hardcoding urls in css files, here are some styles {% endcomment %}
    <style type="text/css">
        .custom-dialog-container .custom-dialog-close-button {
            background-image: url("{% static 'icons/close-thin.png' %}");
        }
    </style>

    <script type="text/javascript">
        $(window).load(function(){
            {# common to management #}
            var items = {
                terminal_menu_button: $("#terminal_button"),
                terminal_menu_content: $("#terminal_menu"),

                management_menu_button:  $("#management_button"),
                management_menu_content: $("#management_menu"),

                user_menu_button:        $("#user_button"),
                user_menu_content:       $("#user_menu")
            };

            // menus
            items.terminal_menu_button.simpleMenu(items.terminal_menu_content);
            items.management_menu_button.simpleMenu(items.management_menu_content);
            items.user_menu_button.simpleMenu(items.user_menu_content);
        });
    </script>
    {% block head %}{% endblock %}
</head>
{% block body_tag %}<body>{% endblock %}{% comment %} in case something needs to be assigned to body tag (styles, etc.){% endcomment %}
    <div id="status_bar">
        {% block status_bar_logo %}
            {# the logo: green/black in management, black/white in terminal #}
            {# thie is the 'terminal' version #}
            <div id="logo" class="nolink">
                <img src="{% static 'icons/logo_white.png' %}" alt="" />
            </div>
        {% endblock %}

        {% block terminal_menu %}{% endblock %}

        <div id="user_button" class="button-container simple-menu-button">
            <div class="vertical-separator"></div>

            <a href="#" class="button-text">{{ request.user }}</a>

            <ul id="user_menu" class="drop-down">
                {# store-related stuff #}
                {% if company %}
                    <li class="separator"><a  href="{% url 'pos:user_settings' company.url_name %}">{% trans 'User Settings' %}</a></li>
                {% endif %}
                <li><a href="{% url 'lock_session' %}">{% trans 'Switch User' %}</a> </li>
                <li><a href="{% url 'web:logout' %}">{% trans 'Log Out' %}</a></li>
            </ul>
        </div>

        <div id="management_button" class="button-container simple-menu-button">
            <div class="vertical-separator"></div>

            {# will be replaced by manage menu in management #}
            <a href="#" class="button-text">{% trans 'Management' %}</a>

            {% if company %} {# company does not exist when registering #}
                <ul id="management_menu" class="drop-down">
                    {# store-related stuff #}
                    <li class="store separator"><a href="{% url 'pos:list_categories' company.url_name %}">{% trans 'Categories' %}</a></li>
                    <li class="store"><a href="{% url 'pos:products' company.url_name %}">{% trans 'Products' %}</a></li>
                    <li class="store"><a href="{% url 'pos:list_discounts' company.url_name %}">{% trans 'Discounts' %}</a></li>
                    <li class="store"><a href="{% url 'pos:list_taxes' company.url_name %}">{% trans 'Taxes' %}</a></li>
                    <li class="store"><a href="{% url 'pos:list_registers' company.url_name %}">{% trans 'Cash Registers' %}</a></li>
                    <li class="store"><a href="{% url 'pos:list_contacts' company.url_name %}">{% trans 'Contacts' %}</a></li>
                    <li class="store"><a href="{% url 'pos:list_bills' company.url_name %}">{% trans 'Bills' %}</a></li>
                    {# company-related stuff #}
                    <li class="company separator"><a href="{% url 'pos:company_settings' company.url_name %}">{% trans 'Configuration' %}</a></li>
                    <li class="company"><a href="{% url 'pos:edit_company' company.url_name %}">{% trans 'Company' %}</a></li>
                    <li class="company"><a href="{% url 'pos:list_users' company.url_name %}">{% trans 'Users' %}</a></li>
                </ul>
            {% endif %}
        </div>

        <div id="management_extra_button" class="button-container {% block extra_button_class %}{% endblock %}">
            {% block extra_button %}
            {# the button for (mainly) adding stuff in management, does not exist in terminal #}
            {% endblock %}
        </div>

        <h1 class="status-bar-title">{% block status_bar_title %}{% endblock %}</h1>
    </div>

    {% block content %}{% endblock %}
</body>
