{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{% trans 'Bill No.' context 'Bill viewing page title' %} {{ bill.serial }}</title>

    <link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" />
    <link type="text/css" rel="stylesheet" href="{% static 'css/base.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/fonts/fonts.css' %}"/>

    <script language="javascript" src="{% static 'jquery-ui-1.11.2.custom/external/jquery/jquery.js' %}"></script>

    <style type="text/css">
        html, body {
            background-color: #ffffff;
        }

        .print{
            cursor: pointer;
            position: absolute;
            top: 10px;
            left: 10px;
            opacity: 0.2;
        }

        .print:hover {
            opacity: 1;
        }

        @media print{ /* hide the print button when printing */
            .print{
                display: none;
            }
        }
    </style>

    <script language="javascript">
        $(document).ready(function(){
            $(".print").click(function(){
                window.print();
            });
        });

    </script>
</head>
<body class="receipt-view">
    {# the print shortcut #}
    <img src="{% static 'icons/print_black.png' %}"
         alt="{% trans 'Print' %}"
         title="{% trans 'Print' %}"
         class="print" />

    {% comment %} for printing from javascript, cut off everything up to this line {% endcomment %}
    <!-- JS CUTOFF TO -->
    {% block content %}

    {% endblock %}
    {% comment %} for printing from javascript, cut off everything from this line on {% endcomment %}
    <!-- JS CUTOFF FROM -->
</body>
</html>