{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{% static 'css/terminal.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/products.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/categories.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/bill.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/contacts.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/payment.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" />

<style type="text/css">
</style>
{% endblock %}

{% block content %}
    sdfdsfds
{% endblock %}

