{% load i18n %}
{% load static %}

<div class="receipt-80mm">
    <div class="receipt-logo"></div>
    {% comment %}
        <logo>
        Company name

        Company address    Phone number
        Postal code        VAT ID
        City               Website

    {% endcomment %}
    <div class="issuing-company">
        <div class="issuing company-details-name"></div>

        <div class="issuing company-details-1"></div>
        <div class="issuing company-details-2"></div>
    </div>


    <div class="client-company">
        <div class="client company-details-name"></div>

        <div class="client company-details-1"></div>
        <div class="client company-details-2"></div>
    </div>

    {% comment %}
    PRODUCT                     Quantity      Amount
    Price     Tax               Discount
    {% endcomment %}
    <div class="receipt-items">
        <div class="items-header">
            <div class="receipt-row first">
                <div class="item-name">{% trans 'Product' %}</div>
                <div class="item-quantity">{% trans 'Quantity' %}</div>
                <div class="item-unit">&nbsp;{# unit has no label #}</div>
                <div class="item-amount">{% trans 'Amount' %}</div>
            </div>
            <div class="receipt-row second">
                <div class="item-price">{% trans 'Price' %}</div>
                <div class="item-tax">{% trans 'Tax' %}</div>
                <div class="item-discount">{% trans 'Discount' %}</div>
            </div>
        </div>

        <div class="items-body"></div>

        <div class="items-footer">
            <div class="receipt-total-text">{% trans 'Total' context 'Receipt footer text' %}</div>
            <div class="receipt-currency">{# currency goes here #}</div>
            <div class="receipt-total">{# grand_total goes here #}</div>
        </div>
    </div>

    <div class="receipt-cashier">
        {% comment %} the last row: cashier's name and date-time {% endcomment %}
            <div class="receipt-cashier-text">{% trans 'Cashier' %}: </div>
            <div class="receipt-cashier-name"></div>
            <div class="receipt-datetime"></div>
    </div>

    <div class="receipt-footer">
        {% comment %}misc stuff that goes on a receipt, such as:
        - gifts
        - coupons
        - pictures of horses
        {% endcomment %}
        <img src="{% static 'images/bill_horse.jpg' %}" alt="" class="horse-picture" />
    </div>
</div>