{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{% static 'css/terminal.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/products.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/categories.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/bill.css' %}" />

{# jquery libraries (only used in terminal) #}
<script src="{% static 'js/jquery.printThis.js' %}"></script>

{% comment %} the terminal {% endcomment %}
<script src="{% static 'js/widgets/terminal.js' %}"></script>
{% comment %} widgets {% endcomment %}
<script src="{% static 'js/widgets/categories.js' %}"></script> {% comment %} categories selector {% endcomment %}
<script src="{% static 'js/widgets/products.js' %}"></script> {% comment %} products selector {% endcomment %}
<script src="{% static 'js/widgets/search.js' %}"></script> {% comment %} searching products/categories {% endcomment %}
<script src="{% static 'js/widgets/bill.js' %}"></script> {% comment %} bill and its items {% endcomment %}
<script src="{% static 'js/widgets/print.js' %}"></script> {% comment %} formatting and printing receipts {% endcomment %}

{% comment %} other {% endcomment %}
<script src="{% static 'fuckyeah/fuckyeah.jquery.js' %}"></script>


{% comment %} 'embedded' javascript {% endcomment %}
<script type="text/javascript">
$(document).ready(function(){
    // global data and objects
    var g = { // global data for the terminal
        csrf_token: "{{ csrf_token }}",
        urls: {
              // terminal & stuff
              save_terminal_settings: "{% url 'pos:save_terminal' company.url_name  %}",
              // bill and items
              create_bill: "{% url 'pos:create_bill' company.url_name %}"
        },

        // config (data comes directly from view)
        config: {% autoescape off %}{{ config }}{% endautoescape %},

        // other data (directly from view)
        // includes: categories,
        data: {% autoescape off %}{{ data }}{% endautoescape %},

        // javascript objects (initialized later)
        objects:{
            terminal: null, // everything related to terminal, windows, controls etc
            categories: null,
            products: null,
            search: null,
            bill: null // current bill (will be loaded with ajax)
        },

        // static ui settings
        settings: {
            t: 100, // duration of show/hide events
            t_easing: 200, // duration of easing functions (drag start/stop)
            last_search: "", // last searched query
            search_update_interval: 1000 // checking if search query has changed
        },

        // cached jquery items
        items: {
            focused: null, // will be assigned a jquery element as soon as a key is pressed/mouse clicked

            // items that are ready to be inserted
            spacer: $("<img>", {src:"{% static 'graphics/spacer.png' %}"}),
            loading_animation: $("<img>", {src: "{% static 'graphics/loading.gif' %}"}),
            subcategory: $("<img>", {src:"{% static 'graphics/subcategory.png' %}"}),

            company_logo: null, // will be created when terminal initializes

            small_receipt_template: $("#small_receipt_template"),
            large_receipt_template: $("")
        }
    };

    // object initialization
    g.objects.terminal = new Terminal(g);
    g.objects.categories = new Categories(g); // categories selector (level 0 is the topmost category)
    g.objects.products = new Products(g);
    g.objects.search = new Search(g);
    g.objects.bill = new Bill(g);
});
</script>

{% endblock %}

{% block content %}
{% comment %} the bill (scrolling) {% endcomment %}
{% comment %} bill header has the same layout as items and will be copied when adding new (items) {% endcomment %}
<div id="bill_header" class="bill-item header">
    {% comment %} product name and code {% endcomment %}
    <div class="item-val name header">
        <div class="">{% trans 'Name' %}</div>
    </div>
    {% comment %} quantity and unit type {% endcomment %}
    <div class="item-val quantity header">
        <div class="">{% trans 'Qty' %}</div>
    </div>
    {% comment %} base price {% endcomment %}
    <div class="item-val price header">
        <div class="">{% trans 'Price' %}{# {{ currency }} #}</div>
    </div>
    {% comment %} tax, percent and absolute value {% endcomment %}
    <div class="item-val tax header">
        <div class="">{% trans 'Tax' %}</div>
    </div>
    {% comment %} discount {% endcomment %}
    <div class="item-val discount header">
        <div class="">{% trans 'Discount' %}</div>
    </div>
    {% comment %} total of this Item(s) {% endcomment %}
    <div class="item-val total header">
        <div class="">{% trans 'Total' %}</div>
    </div>
</div>
<div id="bill_scroll_outer">
    <div id="bill_scroll_inner">
        <div id="bill">
            <div class="bill-item collapsed" id="bill_item_template">
                {# name #}
                <div class="item-val name">
                    <img src="{% static 'icons/delete_active.png' %}"
                         class="delete"
                         alt="{% trans 'Remove' %}"
                         title="{% trans 'Remove product from bill' %}" />

                    <div class="value item name"></div>
                    <div class="more-button">
                        <button class="more">{% trans 'More' context 'More button in bill item' %}</button>
                    </div>
                </div>
                {# quantity #}
                <div class="item-val quantity">
                    <button class="qty-plus">+</button>
                    <input type="text" class="qty" />
                    <button class="qty-minus">-</button>
                </div>
                {# price #}
                <div class="item-val price">
                    <div class="value item price"></div>
                </div>
                {# tax #}
                <div class="item-val tax">
                    <div class="value item tax"></div>
                </div>
                {# discount #}
                <div class="item-val discount">
                    <div class="value item discount"></div>
                </div>
                {# sub-total #}
                <div class="item-val total">
                    <div class="value item total"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="details-box hidden" id="details_box_template">
    <div>{# tax section #}
        <p class="details-title">{% trans 'Tax' %}</p>
        <div class="tax-percent"></div>
        <div class="tax-absolute"></div>
    </div>

    <div>{# discounts section #}
        <p class="details-title">{% trans 'Discounts' %}</p>
        <ul class="discounts">
            {# discounts that are already on the products will be added on the fly #}
            <li class="select-existing">
                <select>
                    {# existing and valid discounts #}
                </select>
                <button>+</button>
            </li>
            <li class="add-new">
                {# just an input box and select for type of discount #}
                <input type="text" class="description" /><br />
                <input type="text" class="amount" />
                <select class="type">
                    <option value="Percent">%</option>
                    <option value="Absolute">{{ currency }}</option>
                </select>
            </li>
        </ul>
    </div>

    <div>{# notes #}
        <p class="details-title">{% trans 'Notes' %}</p>
        <textarea class="notes"></textarea>
    </div>

    <div>{# explode button #}
        <button class="explode">{% trans 'Explode' %}</button>
    </div>

    <div>{# save and cancel buttons #}
        <input type="button" value="{% trans 'Save' %}" class="ok"/>
        <input type="button" value="{% trans 'Cancel' %}" class="cancel"/>
    </div>
</div>

{% comment %} bill summary and till: fixed {% endcomment %}
<div id="till">
    {% comment %} bill summary: discounts total and tax total {% endcomment %}
    <div id="bill_summary">
        <div class="total">
            {% trans "Fakin total" %}:
            <p class="total">{# placeholder, this is #}</p>
        </div>
    </div>

    {% comment %} buttons etc. {% endcomment %}
    <div id="bill_actions">
        <button class="finish-the-fukin-bill">
            <span style="font-size: 30px; font-weight: bold; width: 100%;">
                FINISH THE FUKIN BILL
            </span>
        </button>
    </div>
</div>

{% comment %} separator: draggable div for resizing bill/controls {% endcomment %}
<div id="splitter"></div>

{% comment %} product selector and other controls {% endcomment %}
<div id="selector">
    <div id="categories">
        <div id="parents_scroll_outer">
            <div class="category-button hidden" id="category_button_home">
                <img class="category-button-icon" src="{% static 'graphics/home.png' %}" alt="{% trans 'Home' %}" />
                {% trans 'All' %}
            </div>
            <div id="category_parent" class="category-button hidden">
                &lt; GOU BEK
            </div>
            {% comment %} scrolling: parents {% endcomment %}
            <div id="parents_scroll_inner">
                <div id="parents"></div>
            </div>
        </div>
        
        {% comment %} scrolling: children {% endcomment %}
        <div id="children_scroll_outer">
            <div id="children_scroll_inner">
                <div id="children"></div>
            </div>
        </div>
    </div>
    <div id="products_scroll_outer">
        <div id="products_scroll_inner">
            <div id="products"></div>
        </div>
    </div>
    <div id="controls">
        <input type="text" id="search_products_filter" />
        <button type="button" id="search_products_submit"><img src="{% static 'graphics/search.png' %}"/></button>

        <div id="category_button_favorites">
            <img class="category-button-icon" src="{% static 'graphics/favorites.png' %}" alt="{% trans 'Favorites' %}" />
            {% trans 'Favorites' %}
        </div>
    </div>
</div>

<div id="templates" class="hidden">
    <div id="small_receipt_template">
        {% include 'pos/small_receipt.html' %}
    </div>
    <div id="large_receipt_template">
        {% include 'pos/large_receipt.html' %}
    </div>
</div>
{% endblock %}
