{% extends "pos/base.html" %}
{% load static %}
{% load i18n %}

{% block head %}

<link type="text/css" rel="stylesheet" href="{% static 'css/terminal.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/products.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/categories.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/bill.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/contacts.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/payment.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/print.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/locked.css' %}" />

<style type="text/css">
.item-val.quantity input[type='text']{
    background-image: url("{% static 'icons/quantity_background.png' %}");
    background-position: center center;
    background-repeat: no-repeat;
}

.details-box button.remove-item-discount{
    background-image: url("{% static 'icons/delete_active.png' %}");
}

.out-of-stock.product-button:after{
    content: "{% trans 'Out of stock' %}";
}

</style>

{# jquery libraries (only used in terminal) #}
<script src="{% static 'js/jquery.printThis.js' %}"></script>
<script src="{% static 'js/jquery.qrcode.min.js' %}"></script>

{% comment %} the terminal {% endcomment %}
<script src="{% static 'js/widgets/terminal.js' %}"></script>
{% comment %} widgets {% endcomment %}
<script src="{% static 'js/widgets/categories.js' %}"></script> {% comment %} categories selector {% endcomment %}
<script src="{% static 'js/widgets/products.js' %}"></script> {% comment %} products selector {% endcomment %}
<script src="{% static 'js/widgets/search.js' %}"></script> {% comment %} searching products/categories {% endcomment %}
<script src="{% static 'js/widgets/contacts.js' %}"></script> {% comment %} selecting clients (for bills) {% endcomment %}
<script src="{% static 'js/widgets/bill.js' %}"></script> {% comment %} bill and its items {% endcomment %}
<script src="{% static 'js/widgets/payment.js' %}"></script> {% comment %} formatting and printing receipts {% endcomment %}

{% comment %} 'embedded' javascript {% endcomment %}
<script type="text/javascript">
$(window).load(function(){
    function load_error(text){
        $("#loading_text").text("{% trans 'Error' %}");
        alert(text);
    }

    // check for support for some HTML5 functions
    if(typeof Storage == 'undefined'){
        load_error("{% trans 'Javascript function localStorage is not supported. Please update your browser.' %}");

        return;
    }

    // global data and objects
    var g = { // global data for the terminal
        csrf_token: "{{ csrf_token }}",
        urls: {
            // terminal & stuff
            save_terminal_settings: "{% url 'pos:save_terminal' company.url_name  %}",
            create_bill: "{% url 'pos:create_bill' company.url_name %}",
            get_unpaid_bills: "{% url 'pos:get_unpaid_bills' company.url_name %}",
            delete_unpaid_bill: "{% url 'pos:delete_unpaid_bill' company.url_name %}",
            finish_bill: "{% url 'pos:finish_bill' company.url_name %}",
            check_bill_status: "{% url 'pos:check_bill_status' company.url_name %}",
            get_payment_btc_info: "{% url 'pos:get_payment_btc_info' company.url_name  %}",
            change_payment_type: "{% url 'pos:change_payment_type' company.url_name %}",
            send_invoice: "{% url 'pos:send_invoice' company.url_name %}",
            // management: registers (a link is needed for choosing current register)
            manage_registers: "{% url 'pos:list_registers' company.url_name %}",
            // save last used register
{#            set_register: "{% url 'pos:set_register' company.url_name %}",#}
            // create contacts on the fly
            quick_contacts: "{% url 'pos:quick_contacts' company.url_name %}"
        },

        // config (data comes directly from view)
        config: {% autoescape off %}{{ config }}{% endautoescape %},

        // pos data (directly from view) (categories, products, taxes)
        data: {% autoescape off %}{{ data }}{% endautoescape %},

        // javascript objects (initialized later)
        objects:{
            terminal: null, // everything related to terminal, windows, controls etc
            categories: null,
            products: null,
            search: null,
            bill: null, // current bill (will be loaded with ajax)
            contacts: null,
            unlock: null
        },

        // static ui settings
        settings: {
            t: 100, // duration of show/hide events
            t_easing: 200, // duration of easing functions (drag start/stop)
            last_search: "", // last searched query
            search_update_interval: 1000, // checking if search query has changed

            last_payment_type: null // saves the last payment type so that the Payment() dialog will remember
        },

        // cached jquery items
        items: {
            company_color_logo: {% if company.color_logo %}$("<img>", {src: "{{ company.color_logo.url }}"}){% else %}null{% endif %},
            company_monochrome_logo: {% if company.monochrome_logo %}$("<img>", {src: "{{ company.monochrome_logo.url }}"}){% else %}null{% endif %},

            fullscreen_shadow: $("#fullscreen_shadow"),
            loading: $("#loading"),

            small_receipt_template: $("#small_receipt_template"),
            large_receipt_template: $("#large_receipt_template")
        },

        // other (mostly temporary) stuff
        unfinished_bill: null
    };

    // object initialization
    g.objects.terminal = new Terminal(g);
    g.objects.categories = new Categories(g); // categories selector (level 0 is the topmost category)
    g.objects.products = new Products(g);
    g.objects.search = new Search(g);
    g.objects.bill = new Bill(g);
    g.objects.contacts = new Contacts(g);
    g.objects.unlock = new UnlockScreen(
        "{% url 'pos:unlock_session' company.url_name %}",
        "{{ csrf_token }}",
        true,
        g
    );

    // in the beginning, show favorites and topmost category
    g.objects.categories.favorites_button_action();

    // datepickers
    $(".datepicker").datepicker({dateFormat: g.config.date_format});

    // unloading the window: save what's there to be saved
    window.onbeforeunload = function(){
        // the existing bill, if it needs saving
        save_local('bill', g.objects.bill.get_data());

        // search results
        save_local('search_results_by_text', g.objects.search.results_by_text);
    };

    // when everything is done, remove the loading screen and show the terminal
    // (this does not include request that are still waiting for response
    setTimeout(function(){
            g.items.loading.fadeOut("fast", function(){
            g.items.loading.remove();
        });
    }, 500);
});
</script>

{% endblock %}

{% block terminal_menu %}
    {# this has been replaced with a 'terminal' menu #}
    <div id="status_bar_company"></div>

    <div id="terminal_button" class="button-container simple-menu-button">
        <div class="vertical-separator right"></div>

        <div class="vertical-separator"></div>

        <a href="#" class="button-text">{% trans 'Terminal' %}</a>

        <ul id="terminal_menu" class="drop-down">
            {# store-related stuff #}
            <li class="separator">
                <a href="#">{% trans 'Switch User' %}</a>
            </li>
            <li>
                <a href="#">{% trans 'Lock' %}</a>
            </li>
            <li>
                <a href="{% url 'web:select_company' %}">{% trans 'Leave' %}</a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block content %}
    {% comment %} the loading screen {% endcomment %}
    <div id="loading">
        <div>
            <img src="{% static 'icons/loading.gif' %}" alt="loading" class="loading" />
            <span id="loading_text">{% trans 'Loading' %}</span>
        </div>
    </div>

    {% comment %} the locking screen {% endcomment %}
    <div class="hidden">
        <div id="lock_shadow" class="hidden"></div>
        {% include 'pos/unlock_content.html' %}
    </div>

    {% comment %} the bill (scrolling) {% endcomment %}
    <div id="left_column">
        <div id="bill_outer_container">
            {% comment %} bill header has the same layout as items and will be copied when adding new item {% endcomment %}
            <div id="bill_header" class="bill-item header">
                {# contact (if selected) #}
                <div id="bill_contact_label" class="hidden">{% trans 'Invoice for: ' %}</div>
                <div id="bill_contact_name" class="hidden bill-border-bottom"></div>

                <div class="bill-border-bottom contain-floats">
                    {% comment %} product name and code {% endcomment %}
                    <div class="item-val name header"> {% trans 'Product' %} </div>
                    {% comment %} quantity and unit type {% endcomment %}
                    <div class="item-val quantity header"> {% trans 'Qty' %} </div>
                    {% comment %} base price {% endcomment %}
                    <div class="item-val price header">{% trans 'Price' %}{# {{ currency }} #}</div>
                    {% comment %} tax, percent and absolute value {% endcomment %}
                    <div class="item-val tax header"> {% trans 'Tax' %} </div>
                    {% comment %} discount {% endcomment %}
                    <div class="item-val discount header"> {% trans 'Discount' %} </div>

                    {% comment %} total of this Item(s) {% endcomment %}
                    <div class="item-val total header">{% trans 'Total' %}</div>
                </div>
            </div>

            <div id="bill_container">
                <div id="bill">
                    <div class="bill-item collapsed" id="bill_item_template">
                        {# name #}
                        <div class="item-val name">
                            <img src="{% static 'icons/delete_active.png' %}"
                                 class="delete"
                                 alt="{% trans 'Remove' %}"
                                 title="{% trans 'Remove product from bill' %}" />

                            <div class="value item name"></div>

                            {# more button (expanded item only) #}
                            <button class="more">{% trans 'More' context 'More button in bill item' %}</button>

                            {# item code (expanded item only) #}
                            <div class="item code" title="{% trans 'Product code' %}"></div>
                        </div>
                        {# quantity #}
                        <div class="item-val quantity">
                            {# wrap everything in another div so that everything will be centered #}
                            <div>
                                <div class="out-of-stock-message">{% trans 'No more in stock' %}</div>
                                <button class="qty-plus">+</button>
                                <input type="text" class="qty" />
                                <button class="qty-minus">-</button>
                            </div>
                        </div>
                        {# price #}
                        <div class="item-val price">
                            <div class="value item price"></div>
                        </div>
                        {# tax #}
                        <div class="item-val tax">
                            <div class="value item tax"></div>
                        </div>
                        {# discount #}
                        <div class="item-val discount">
                            <div class="value item discount"></div>
                        </div>
                        {# sub-total #}
                        <div class="item-val total">
                            <div class="value item total"></div>
                        </div>
                    </div>
                </div>
            </div>

            {% comment %} bill summary and register: fixed {% endcomment %}
            <div id="register">
                {% comment %} bill summary: discounts total and tax total {% endcomment %}
                <div id="bill_summary">
                    <div class="total bill-border-top bill-border-bottom">
                        <p class="total">{# placeholder, this is #}-</p>
                        {% trans "Total" %}:
                    </div>
                </div>

                {% comment %} buttons etc. {% endcomment %}
                <div id="bill_actions">
                    <div class="register-button-container" id="finish_the_bill">
                        <button>{% trans 'Finish' context 'Create bill button text' %}</button>
                    </div>

                    <div class="register-button-container terminal-menu" id="bill_options">
                        <button class="open-menu">
                            {% trans 'Bill...' context 'bill options button text' %}
                            <img src="{% static 'icons/arrow_white_up.png' %}" alt="" />
                        </button>

                        <div id="bill_options_menu" class="terminal-menu-items">
                            <button class="terminal-menu-item select-client">{% trans 'Select client' %}</button>
                            <button class="terminal-menu-item options">{% trans 'Discount' %}</button>
                            <button class="terminal-menu-item save">{% trans 'Save' %}</button>
                            <button class="terminal-menu-item load">{% trans 'Load' %}</button>
                            <button class="terminal-menu-item clear">{% trans 'Clear' %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} separator: draggable div for resizing bill/controls {% endcomment %}
    <div id="splitter">
        <img src="{% static 'icons/grip_vertical.png' %}"
             alt="" title="{% trans 'Drag to resize bill' %}" />
    </div>

    {% comment %} product selector and other controls {% endcomment %}
    <div id="selector">
        <div id="categories">
            <div id="parents_scroll_outer">
                <div id="category_button_favorites" class="hoverable">
                    <img src="{% static 'icons/home.png' %}"
                         alt="{% trans 'Home' %}"
                         title="{% trans 'Home (show favorites)' %}" />
                </div>

                <div id="category_button_back" class="hoverable">
                    <img src="{% static 'icons/back_black.png' %}"
                         alt="{% trans 'Back' %}"
                         title="{% trans 'Back to parent category' %}" />
                </div>
                {% comment %} scrolling: parents {% endcomment %}
                <div id="parents_scroll_inner">
                    <div id="parents"></div>
                </div>
            </div>

            <div id="subcategories_title" class="selector-title">
                &nbsp;{# text will be set by categories.js:set_texts #}
            </div>

            {% comment %} scrolling: children {% endcomment %}
            <div id="children_scroll_outer">
                <div id="children_scroll_inner">
                    <div id="children"></div>
                </div>
            </div>
        </div>

        <div class="selector-title" id="products_title">
            &nbsp;{# text will be set by categories.js:set_texts #}
        </div>

        <div id="products_scroll_outer">
            <div id="products_scroll_inner">
                <div id="products"></div>
            </div>
        </div>

        <div id="controls">
            <div> {# for margins and position: absolute #}

                <div id="controls_more" class="terminal-menu">
                    <button class="open-menu">
                        {% trans 'Stuff' %}
                        <img src="{% static 'icons/arrow_white_up.png' %}" alt="" />
                    </button>

                    <div id="controls_menu" class="terminal-menu-items">
                        <button class="terminal-menu-item change-register">
                            {% trans 'Change register' %}<br/>
                        </button>
                    </div>
                </div>

                <div class="bill-border-top"></div>
                    <div id="search_container">
                    <input type="text" id="search_products_filter" placeholder="{% trans 'Search' %}" />
                    <button type="button" id="search_products_submit">
                        {% trans 'Go' context 'Search button text' %}
                    </button>
                </div>

                <div id="terminal_status">
                    <div id="current_date" class=""></div>
                    <div id="current_time" class=""></div>
                    <div id="current_register" class=""></div>
                </div>
            </div>
        </div>
    </div>

    {% comment %} the dialog for selecting register on login {% endcomment %}
    <div id="registers" class="hidden">
        {% trans 'Which register have you logged on to?' %}
        <select id="registers_list"> {# filled by javascript #} </select>
        <input type="button" value="{% trans 'Go' %}" id="select_register"/>
    </div>

    {% comment %} the dialog for selecting contact {% endcomment %}
    <div id="contacts" class="hidden">
        <div class="contact-type">
            <input type="button" class="company-switch" value="{% trans 'Company' %}" />
            <input type="button" class="individual-switch" value="{% trans 'Individual' %}" />
        </div>

        <div class="contact-form individual-form">
            <div class="left-column">
                <input type="text" class="first-name" placeholder="{% trans 'First name' %}" />
                <input type="text" class="last-name" placeholder="{% trans 'Last name' %}" />
                <select class="sex" autocomplete="off">
                    {% for s in sexes %}<option value="{{ s.0 }}">{{ s.1 }}</option>{% endfor %}
                </select>
                <input type="text" class="email" placeholder="{% trans 'E-mail' %}" />
                <input type="text" class="street-address" placeholder="{% trans 'Street address' %}" />
                <input type="text" class="postcode" placeholder="{% trans 'Post code' %}" />
            </div>
            <div class="right-column">
                <input type="text" class="city" placeholder="{% trans 'City' %}" />
                <input type="text" class="state" placeholder="{% trans 'State' %}" />
                <select class="country">{% for c in countries %}
                    {# default is the company's country #}
                    <option value="{{ c.0 }}" {% if c.0 == company.country %}selected{% endif %}>{{ c.1 }}</option>
                {% endfor %}</select>
                <input type="text" class="phone" placeholder="{% trans 'Phone' %}" />
                <input type="text" class="date-of-birth datepicker" placeholder="{% trans 'Date of birth' %}" />
            </div>
        </div>

        <div class="contact-form company-form">
            <div class="left-column">
                <input type="text" class="name" placeholder="{% trans 'Name' %}" />
                <input type="text" class="vat" placeholder="{% trans 'VAT' %}" />
                <input type="text" class="street-address" placeholder="{% trans 'Street address' %}" />
                <input type="text" class="postcode" placeholder="{% trans 'Post code' %}" />
                <input type="text" class="city" placeholder="{% trans 'City' %}" />
            </div>
            <div class="right-column">
                <input type="text" class="state" placeholder="{% trans 'State' %}" />
                <select class="country">{% for c in countries %}
                    <option value="{{ c.0 }}" {% if c.0 == company.country %}selected{% endif %}>{{ c.1 }}</option>
                {% endfor %}</select>
                <input type="text" class="email" placeholder="{% trans 'E-mail' %}" />
                <input type="text" class="phone" placeholder="{% trans 'Phone' %}" />
            </div>
        </div>

        <div class="custom-dialog-footer">
            {# clear: remove contact from the bill #}
            <input type="button" class="clear" value="{% trans 'Clear' %}" />
            {# save and cancel buttons #}
            <input type="button" class="cancel" value="{% trans 'Cancel' %}" />
            <input type="button" class="save" value="{% trans 'Save' %}" />
        </div>
    </div>

    {% comment %} the dialog for saving bills (just asks for optional notes) {% endcomment %}
    <div id="save_bill_dialog" class="hidden">
        <div class="container">
            <label for="save_bill_notes">{% trans 'Add a note to this bill (optional)' %}:</label>
            <input type="text" id="save_bill_notes" />
        </div>
    </div>

    {% comment %} the dialog for loading unpaid bills {% endcomment %}
    <div id="load_bill_dialog" class="hidden">
        <div class="container">
            <table class="load-bill">
                <thead>
                    <tr>
                        <td class="load-bill time">{% trans 'Time' %}</td>
                        <td class="load-bill items">{% trans 'Items #' %}</td>
                        <td class="load-bill notes">{% trans 'Notes' %}</td>
                        <td class="load-bill tools">
                            <img class="load-button hidden" {# buttons should not be shown in header o.0 #}
                                 src=""
                                 alt="{% trans 'Load' %}"
                                 title="{% trans 'Load this bill to terminal' %}" />

                            <img class="delete-button hidden"
                                 src="{% static 'icons/delete_black.png' %}"
                                 alt="{% trans 'Delete' %}"
                                 title="{% trans 'Delete this bill from the list' %}" />
                        </td>
                    </tr>
                </thead>

                <tbody>
                    {# content will be copied here #}
                </tbody>
            </table>
        </div>
    </div>

    {% comment %} the payment dialog {% endcomment %}
    <div id="payment" class="hidden">
        <div id="payment_types_menu">
            <div class="payment-type-text">{% trans "Choose payment type" %}</div>
            <div class="payment-type cash">{% trans 'Cash' %}</div>
            <div class="payment-type credit-card">{% trans 'Credit card' %}</div>
            <div class="payment-type paypal">{% trans 'Paypal' %}</div>
            <div class="payment-type bitcoin">{% trans 'Bitcoin' %}</div>
        </div>

        <div id="payment_details">
            <div class="bill-total-container">
                <div class="label"> {% trans 'Total' %}</div>
                <div class="bill-total"> </div>
            </div>

            <div class="payment-details cash hidden">
                <div class="cash-calc">
                    <div>
                        <div class="label">{% trans 'Received' %}</div>
                        <input type="text" class="customer-paid" />
                        <div class="currency_symbol">{{ currency_symbol }}</div>
                    </div>
                    <div class="return-change-container">
                        <div class="label">{% trans 'Change due' %}</div>
                        <input type="text" class="return-change" readonly />
                        <div class="currency_symbol">{{ currency_symbol }}</div>
                    </div>
                </div>
            </div>

            <div class="payment-details credit-card hidden">
                <div class="connect-text">{% trans "Connect your POS Terminal" %}</div>
            </div>

            <div class="payment-details paypal hidden">
                <div class="paypal-calc">
                    <div>
                        <div class="label">{% trans 'Customer email' %}</div>
                        <input type="text" id="customer_email" name="customer_email" class="customer-email" />

                        <button id="send_paypal_invoice" class="send-paypal-invoice" >{% trans "Send invoice" %}</button>
                    </div>
                </div>
            </div>

            <div class="payment-details bitcoin hidden">
                <div class="btc-qrcode"></div>

                <div class="btc-amount-container">
                    <div class="label">{% trans 'BTC' %}</div>
                    <div class="btc-amount"></div>
                </div>

                <div class="btc-address-container">
                    <div class="label">{% trans 'Send bitcoins to this address' %}</div>
                    <input class="btc-address" data-value="" value="" type="text" />
                </div>
            </div>
        </div>

        <div class="status hidden">
            <span class="paid hidden">{% trans "Paid" %}
                <span class="yes"></span>
            </span>
            <span class="waiting-payment">{% trans "Waiting payment" %}
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </span>
        </div>

        <div id="payment_controls">
            <button class="print"> {% trans 'Print' %}</button>
        </div>

        <button class="cancel" id="cancel_payment"></button>
    </div>

    {% comment %} the bill options dialog - bill notes and discount on total price {% endcomment %}
    <div id="bill_options_dialog" class="hidden">
        <div id="bill_discount_container">
            <div>
                {% blocktrans %} Discount (applied to bill's total) {% endblocktrans %}:
            </div>
            <div id="bill_discount_container">
                <input type="text" id="bill_discount_amount" />
                <select id="bill_discount_type">
                    <option value="Relative" selected>%</option>
                    <option value="Absolute">{{ currency }}</option>
                </select>
            </div>
        </div>

        <div id="bill_notes_container">
            <textarea id="bill_notes" placeholder="{% trans 'Notes on this bill' %}"></textarea>
        </div>
    </div>

    <div id="templates" class="hidden">
        <div class="details-box hidden" id="details_box_template">
            {# the arrow that should point to bill item #}
            <div class="item-arrow"></div>

            {# and the arrow should be behind the stuff below #}
            <div class="details-container">
                <div>{# tax section #}
                    <p class="details-title">{% trans 'Tax' %}</p>
                    <div class="tax-percent"></div>
                    <div class="tax-absolute"></div>
                </div>

                <div>{# discounts section #}
                    <p class="details-title">{% trans 'Discounts' %}</p>
                    <ul class="discounts">
                        {# discounts that are already on the products will be added on the fly #}
                        <li class="select-existing">
                            <select>
                                {# existing and valid discounts #}
                            </select>
                            <button class="add-discount">+</button>
                        </li>
                        <li class="add-new">
                            {# just an input box and select for type of discount #}
                            <input type="text" class="description" placeholder="{% trans 'Description' %}" /><br />
                            <input type="text" class="amount" placeholder="{% trans 'Amount' %}"/>
                            <select class="type">
                                <option value="Relative">%</option>
                                <option value="Absolute">{{ currency }}</option>
                            </select>
                        </li>
                    </ul>
                </div>

                <div>{# notes #}
                    <p class="details-title">{% trans 'Notes' %}</p>
                    <textarea class="notes"></textarea>
                </div>

                <div class="details-footer">
                    <div class="buttons explode">
                        <button class="explode">{% trans 'Explode' %}</button>
                    </div>

                    <div class="buttons cancel">
                        <input type="button" value="{% trans 'Cancel' %}" class="cancel"/>
                    </div>

                    <div class="buttons ok">
                        <input type="button" value="{% trans 'Save' %}" class="ok"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fullscreen shadow hidden" id="fullscreen_shadow"></div>

    <div class="bigger-btc-qrcode hidden"></div>
{% endblock %}

