{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/bills.css' %}"/>

    <script type="text/javascript">
        $(document).ready(function(){
            // append datepickers
            $("#id_issued_from, #id_issued_to").datepicker({
                dateFormat: "{{ date_format_js|escapejs }}"
            });

            // printing function
            $(".print-bill").click(function(){
                var id = parseInt($(this).attr("data-id"));

                if(isNaN(id)){
                    console.log("Invalid bill id");
                    return;
                }

                // fetch json with bill data from the server and print
                var url = "{% url 'pos:view_bill' company.url_name %}";
                url += '?' + $.param({bill_id: id});

                window.open(url, // window url
                        "{% trans 'Viewing Bill No.:' %}" + " " + id.toString(), // window title
                        "menubar=yes, toolbar=no", // formatters etc.
                        true // replace previous window when opening a new one
                );
            });

            {% include 'pos/manage/pagination.js' %}

        });
    </script>
{% endblock %}

{% block status_bar_title %}
    {% trans 'Bills' %}
{% endblock %}

{% block manage_content %}
    <div class="left-column">
        <h2>{% trans 'Search' context 'form title' %}</h2>

        <form method="get" action="{% url 'pos:list_bills' company.url_name %}" id="filter_form">
            <div class="error">{{ filter_form.non_field_errors }}</div>

            <div class="form-field">
                <div class="error">{{ filter_form.issued_from.errors }}</div>
                <div class="error">{{ filter_form.issued_to.errors }}</div>

                <div class="split-cell first bottom-space">
                    <label for="id_issued_from">{% trans 'Bill issue date: from' %}</label>
                    {{ filter_form.issued_from }}
                </div>

                <div class="split-cell last">
                    <label for="id_issued_to">{% trans 'To:' %}</label>
                    {{ filter_form.issued_to }}
                </div>
            </div>

            <div class="form-field">
                <div class="error">{{ filter_form.item_code.errors }}</div>
                {{ filter_form.item_code.label_tag }}
                {{ filter_form.item_code }}
            </div>

            <div class="form-field">
                <div class="error">{{ filter_form.contact.errors }}</div>
                {{ filter_form.contact.label_tag }}
                {{ filter_form.contact }}
            </div>

            <div class="form-field">
                <div class="error">{{ filter_form.id.errors }}</div>
                <label for="id_id">{% trans 'Bill no.' context 'bill search form' %}</label>
                {{ filter_form.id }}
            </div>

            <div class="form-field">
                <div class="error">{{ filter_form.amount_from.errors }}</div>
                <div class="error">{{ filter_form.amount_to.errors }}</div>

                <div class="split-cell first bottom-space">
                    <label for="id_amount_from">{% trans 'Amount: from' %}</label>
                    {{ filter_form.amount_from }}
                </div>

                <div class="split-cell last">
                    <label for="id_amount_to">{% trans 'To:' %}</label>
                    {{ filter_form.amount_to}}
                </div>
            </div>

            <div class="form-field">
                <div class="error">{{ filter_form.user_name.errors }}</div>
                {{ filter_form.user_name.label_tag }}
                {{ filter_form.user_name}}
            </div>

            <div class="form-field">
                <div class="split-cell first bottom-space">
                    {{ filter_form.sort_by.label_tag }}
                    {{ filter_form.sort_by }}
                </div>

                <div class="split-cell last">
                    {{ filter_form.sort_order.label_tag }}
                    {{ filter_form.sort_order }}
                </div>
            </div>

            {{ filter_form.page }}

            <div class="form-field">
                <div class="split-cell first">
                    {#  only display if search results are being displayed (it's just a link back to 'discounts') #}
                    <div class="clear-results">
                        {% if searched %}
                            <a href="{% url 'pos:list_bills' company.url_name %}">
                                {% trans 'Clear results' %}</a>
                        {% endif %}
                    </div>
                </div>

                <div class="split-cell last">
                    <input type="submit" value="{% trans 'Search' context 'submit button label' %}" class="hoverable"/>
                </div>

                <div class="cleared"></div>
            </div>
        </form>
    </div>

    <div id="content">
        <div id="container">
            <div class="results-header">
                {% if searched %}
                    {% trans 'Results found: ' %}{{ bills.paginator.count }}

                    <div class="pagination">
                        <a href="#"
                           class="fake paginator {% if not bills.has_previous %}disabled{% endif %}"
                           data-action="previous">
                            <img src="{% static 'icons/back_black.png' %}"
                                 class="hoverable"
                                 alt="{% trans 'Back' context 'Paginator page button' %}"
                                 title="{% trans 'Back' context 'Paginator page button' %}"/>
                        </a>

                        {% trans 'Page' %} {{ bills.number }} {% trans 'of' %} {{ bills.paginator.num_pages }}

                        <a href="#"
                           class="fake paginator {% if not bills.has_next %}disabled{% endif %}"
                           data-action="next">
                            <img src="{% static 'icons/forward_black.png' %}"
                                 class="hoverable"
                                 alt="{% trans 'Forward' context 'Paginator page button' %}"
                                 title="{% trans 'Forward' context 'Paginator page button' %}"/>
                        </a>
                    </div>
                {% else %}
                    {# only display last few bills #}
                    {% trans 'Recent bills' %}
                {% endif %}
            </div>

            <table id="bills_container">
                <thead class="bill-list header">
                    <tr>
                        <td class="column serial">{% trans 'No.' context 'bill management' %}</td>
                        <td class="column user">{% trans 'User' context 'bill management' %}</td>
                        <td class="column date">{% trans 'Issue date' context 'bill management' %}</td>
                        <td class="column contact">{% trans 'Contact name' context 'bill management' %}</td>
                        <td class="column total">{% trans 'Total' context 'bill management' %}</td>
                        <td class="column count">{% trans 'Items' context 'bill management' %}</td>
                        <td class="column view">&nbsp;</td>
                    </tr>
                </thead>

                <tbody>
                    {% for bill in bills %}
                        <tr class="bill-list item">
                            <td class="column serial">{{ bill.serial }}</td>
                            <td class="column user">{{ bill.user_name }}</td>
                            <td class="column date">{{ bill.timestamp }}</td>
                            <td class="column contact">{{ bill.contact.name }}</td>
                            <td class="column total">{{ bill.total }}</td>
                            <td class="column count">{{ bill.items|length }}</td>
                            <td class="column view">
                                <img src="{% static 'icons/print_black.png' %}"
                                     class="print-bill hoverable"
                                     alt="{% trans 'Print' %}"
                                     title="{% trans 'Print' %}"
                                     data-id="{{ bill.id }}" />
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}