{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/categories.css' %}" />
    <script type="text/javascript">
        $(document).ready(function(){
            var g = {
                data: {{ categories|safe }},
                delete_url: "{% url 'pos:delete_category' company.url_name %}",
                container: $("#category_tree"),
                toolbox: $("#tools"),

                categories: [], // top-level categories (Category() objects)
                subcontainers: {}, // dictionary {level:div}
                max_level: 8, // 9th level and deeper will be of the same color

                button_width: {{ box_dimensions.0 }},
                button_height: {{ box_dimensions.1 }},
                button_margin: 10, // category buttons' margins, in pixels
                toolbox_arrow_height: 30, // see categories.css, #tools .arrow:after (half of that value)

                draggable_easing_time: 100,
                tools_hide_time: 500,
                tools_show_delay: 800,
                tools_show_timeout: null,
                tools_hide_timeout: null
            };

            function get_container(level){
                if(level in g.subcontainers){
                    return g.subcontainers[level];
                }
                else{
                    var outer = $("<div>", {"class": "category-children-outer level-" + Math.min(level, g.max_level)});

                    outer.height(g.button_width + 2*g.button_margin);
                    if(level > 0) outer.hide(); // hide subcategories in the beginning

                    var parent = $("<div>", {"class":"category-children"});

                    g.container.append(outer);
                    outer.append(parent);

                    set_horizontal_draggable(parent, ".category-button", g.draggable_easing_time);

                    g.subcontainers[level] = parent;

                    return parent;
                }
            }

            function hashchange(){
                // trigger click on a button with the selected id
                var id = get_url_hash();
                if(id) $("div.category-button[data-id='" + id + "']", g.container).click();
            }

            Category = function(data, parent){
                var p = this;

                p.data = data;
                p.parent = parent; // Category() object
                p.children = []; // Category() objects

                if(p.parent) p.level = p.parent.level + 1;
                else p.level = 0;

                // get/create a container for this category (and its siblings)
                p.container = get_container(p.level);

                // create a category button (save id for later)
                p.button = $("<div>", {"class":"category-button", "data-id": p.data.id});
                p.button.css("background-color", "#" + p.data.color);
                p.button.width(g.button_width);
                p.button.height(g.button_height);
                p.button.appendTo(p.container);

                // data
                p.text = $("<span>").text(data.name);
                p.button.append(p.text);

                if(is_dark(p.data.color)) p.button.addClass("dark");

                // tools
                p.tools = $("<img>", {src: "{% static 'graphics/gear.png' %}", "class":"toolbox"});
                p.tools.appendTo(p.button);

                p.hide_tools = function(){
                    g.tools_hide_timeout = setTimeout(function(){
                        g.toolbox.fadeOut("fast");
                    }, g.tools_hide_time);
                };

                p.tools.unbind().mouseover(
                    // mouse over
                    function(){
                        g.tools_show_timeout = setTimeout(function(){
                            if(g.tools_hide_timeout){
                                clearTimeout(g.tools_hide_timeout);
                                g.tools_hide_timeout = null;
                                g.toolbox.hide(); // no hide_tools() because we don't want it to fade out, just hide it
                            }

                            // position the toolbox: find in which direction there will be enough space to show the box
                            var toolbox_size = {width: g.toolbox.outerWidth(), height: g.toolbox.outerHeight()};

                            var button_pos = p.tools.offset();
                            var button_size = {width: p.tools.outerWidth(), height: p.tools.outerHeight()};

                            var document_size = {width: $(window).width(), height: $(window).height()};

                            var toolbox_pos = {left: button_pos.left + button_size.width/2 - toolbox_size.width/2, top: 0};

                            // make some vertical space for the box:
                            if(document_size.height - button_pos.top - g.toolbox_arrow_height > toolbox_size.height){
                                toolbox_pos.top = button_pos.top + g.toolbox_arrow_height + button_size.height/2;
                                $(".bottom", g.toolbox).hide();
                                $(".top", g.toolbox).show();
                            }
                            else{
                                toolbox_pos.top = button_pos.top -
                                        toolbox_size.height -
                                        g.toolbox_arrow_height +
                                        button_size.height/2;
                                $(".top", g.toolbox).hide();
                                $(".bottom", g.toolbox).show();
                            }

                            // if there's no space to the bottom, show the toolbar above the button
                            g.toolbox.show();
                            g.toolbox.offset(toolbox_pos);

                            // bind button events:
                            // add subcategory: visit the add url
                            $("input.add-subcategory", g.toolbox).unbind().click(function(){
                                window.location.href = p.data.add_child_url;
                            });

                            // edit this category: visit the edit url
                            $("input.edit", g.toolbox).unbind().click(function(){
                                window.location.href = p.data.edit_url;
                            });

                            // delete category: send ajax request to server, if everything OK, delete this object
                            $("input.delete", g.toolbox).unbind().click(function(){
                                var dlg = confirmation_dialog(
                                    "{% trans 'Delete category' context 'confirmation dialog title' %}",
                                    "{% trans 'Are you sure you want to delete category' %} " + p.data.name + "?",
                                    function(){
                                        send_data(g.delete_url, {category_id: p.data.id}, "{{ csrf_token }}", function(recv_data){
                                            if(recv_data.status != 'ok'){
                                                error_message(
                                                    gettext("Could not delete category"),
                                                    recv_data.message
                                                );
                                            }
                                            else{
                                                // ok, delete this object from the document
                                                p.button.remove();
                                                g.toolbox.hide();

                                                // delete the object from parent's list
                                                if(p.parent){
                                                    var c = p.parent.children;
                                                    for(var i = 0; i < c.length; i++){
                                                        if(c[i].data.id == p.data.id){
                                                            remove_from_array(c, i);
                                                            break;
                                                        }
                                                    }

                                                    // if this was the last category, 'click' the parent
                                                    if(c.length == 0){
                                                        p.parent.button.click();
                                                    }
                                                }
                                                dlg.dialog("destroy");
                                            }
                                        });
                                    },
                                    function(){
                                        // do nothing
                                        dlg.dialog("destroy");
                                    }
                                );
                            });

                            // view products: visit url: <products>#category:<id>
                            $("input.view-products", g.toolbox).unbind().click(function(){
                                window.location.href = "{% url 'pos:products' company.url_name %}" + "#category:" + p.data.id;
                            });

                        }, g.tools_show_delay);

                    });
                p.tools.mouseout(function(){
                    if(g.tools_show_timeout) clearTimeout(g.tools_show_timeout);
                });

                // mouse out
                g.toolbox.unbind()
                    .mouseover(function(){
                        // clear the hide timeout if mouse is inside the toolbox
                        if(g.tools_hide_timeout) clearTimeout(g.tools_hide_timeout);
                    })
                    .mouseleave(function(){ p.hide_tools(); });
                p.tools.mouseleave(function(){ p.hide_tools(); });

                // create children
                for(var i = 0; i < p.data.children.length; i++){
                    p.children.push(new Category(p.data.children[i], p));
                }

                // events
                p.button.click(function(){
                    // show and shade all categories on the path to this
                    // if this category has children, shade everything from this category on
                    // if this category has no children, shade everything from this category's parent on
                    var i, level = 0;
                    var categories = null;
                    var container = null;
                    var new_categories = null;

                    // first, hide all containers deeper than the selected level
                    i = p.level + 1;
                    while(i in g.subcontainers){
                        g.subcontainers[i].parent().hide();
                        i++;
                    }

                    do{
                        if(level == 0) categories = g.categories;
                        else{
                            if(new_categories) categories = new_categories;
                            else break;
                        }

                        container = g.subcontainers[level];
                        container.parent().show();

                        // hide all buttons in this container
                        $(".category-button", container).hide();

                        // show only buttons that belong to current category
                        for(i = 0; i < categories.length; i++){
                            categories[i].button.show();

                            // if this button is in the path, highlight it, otherwise shade it
                            if(categories[i].data.id != p.data.path[level]){
                                categories[i].button.addClass("shaded");
                            }
                            else{
                                // this is the next list of children to be shown
                                categories[i].button.removeClass("shaded");
                                new_categories = categories[i].children;
                            }
                        }

                        level++;
                    }
                    while(level <= p.level);

                    // show subcategories of this very category
                    if(p.children.length > 0 && (level in g.subcontainers)){
                        container = g.subcontainers[level];
                        container.parent().show();
                        $(".category-button", container).hide();

                        for(i = 0; i < p.children.length; i++){
                            p.children[i].button.show().removeClass("shaded");
                        }
                    }

                    // update url
                    $(window).unbind('hashchange');
                    window.location.hash = "#" + p.data.id;
                    $(window).bind('hashchange', hashchange);
                });
            };

            // create top-level categories
            for(var i = 0; i < g.data.length; i++){
                g.categories.push(new Category(g.data[i], null));
            }

            // if there's something in the url, click it
            hashchange();
            $(window).bind('hashchange', hashchange);
        });
    </script>
{% endblock %}

{% block status_bar_title %}{% trans 'Categories' %}{% endblock %}

{% block extra_button %}
    <a class="extra-button" href="{% url 'pos:add_category' company.url_name -1 %}"
       title="{% trans 'Add a new top-level category' %}">
        {% trans 'Add category' %}
    </a>
{% endblock %}

{% block manage_content %}
    <div id="search">{# TODO #}</div>

    <div id="category_tree">
        {# filled with javascript #}
    </div>

    <div id="tools" class="hidden">
        <div class="arrow-container">
            <div class="arrow top"></div>
        </div>

        <input type="button" class="add-subcategory hoverable" value="{% trans 'Add subcategory' %}" />
        <input type="button" class="edit hoverable" value="{% trans 'Edit' %}" />
        <input type="button" class="delete hoverable" value="{% trans 'Delete' %}" />
        <input type="button" class="view-products hoverable" value="{% trans 'View products' %}" />

        <div class="arrow-container">
            <div class="arrow bottom"></div>
        </div>
    </div>
{% endblock %}
