{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <script type="text/javascript" src="{% static 'js/jquery.customfileinput.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.colorPicker.js' %}"></script>

    <link type="text/css" rel="stylesheet" href="{% static 'css/management/categories.css' %}" />
    <style type="text/css">
    div.color-button.selected:after{
       position: absolute;
        right: 5px;
        bottom: 5px;
        width: 30px;
        height: 30px;
        content: "";
        background-color: rgba(0,0,0,0.3);
        background-image: url("{% static 'icons/selected_category_color.png' %}");
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100% 100%;
    }

    </style>

    <script type="text/javascript">
    $(document).ready(function(){
        var colors = {% autoescape off %}{{ colors }}{% endautoescape %};

        var items = {
            color_input: $("#id_color"),
            color_list: $("#color_list")
        };

        items.color_input.colorPicker(colors, items.color_list);
    })
    </script>

{% endblock %}

{% block status_bar_title %}
    {% if add %}
        {% trans 'Add category' %}
    {% else %}
        {% trans 'Edit category' %}
    {% endif %}
{% endblock %}

{% block manage_content %}
    {% if add %}
        {% if parent %}{% trans 'In category' %} '{{ parent.name }}'{% endif %}
        <form action="{% url 'pos:add_category' company.url_name parent.id %}" method="post" enctype="multipart/form-data">
    {% else %}
        <form action="{% url 'pos:edit_category' company.url_name category.id %}" method="post" enctype="multipart/form-data">
    {% endif %}

    <div class="edit-container">
        {% csrf_token %}

        <div class="error">{{ form.non_field_errors }}</div>

        <div class="form-field">
            <div class="error">{{ form.name.errors }}</div>
            {{ form.name.label_tag }}
            {{ form.name}}
        </div>

        {# parent stays hidden when adding category #}
        <div class="form-field{% if add %} hidden{% endif %}">
            <div class="error">{{ form.parent.errors }}</div>
            {{ form.parent.label_tag }}
            {{ form.parent }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.image.errors }}</div>
            {{ form.image.label_tag }}
            <div>{{ form.image }}</div>
        </div>

        <div class="form-field">
            <div class="error">{{ form.description.errors }}</div>
            {{ form.description.label_tag }}
            {{ form.description }}
        </div>

        {# color is hidden, javascript deals with it #}
        {{ form.color }}
        <div class="form-field">
            {{ form.color.label_tag }}
            <div id="color_list"></div>
        </div>

        <div class="form-field">
            <div class="split-cell first">
                <input type="submit" value="{% trans 'Save' %}" />
            </div>
            <div class="split-cell last">
                {# return to categories and select the parent #}
                <a class="button cancel"
                   href="{% url 'pos:list_categories' company.url_name %}{% if add and parent %}#{{ parent.id }}{% else %}#{{ category.id }}{% endif %}">
                {% trans 'Cancel' %}</a>
            </div>
        </div>
    </div>
    </form>
{% endblock %}