{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
<script type="text/javascript" src="{% static 'js/jquery.customfileinput.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'css/management/company.css' %}" />

<style type="text/css">
#color_logo{
    max-width:{{color_logo_dimensions.0}}px;
    max-height:{{color_logo_dimensions.1}}px;
}
#monochrome_logo{
    max-width: {{ monochrome_logo_dimensions.0 }}px;
    max-height: {{ monochrome_logo_dimensions.1 }}px;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    $("#id_color_logo")
        .customFileInput()
        .change(function(){
            preview_image(this, "#logo", {{color_logo_dimensions.0}}, {{color_logo_dimensions.1}});
        });
    $("#id_monochrome_logo")
        .customFileInput()
        .change(function(){
            preview_image(this, "#logo", {{monochrome_logo_dimensions.0}}, {{monochrome_logo_dimensions.1}});
        });
});

</script>
{% endblock %}

{% block manage_content %}

<h1>{% trans 'Company' %}</h1>

<form action="{% url 'pos:edit_company' company.url_name %}" method="post" enctype="multipart/form-data">
    <div class="error">{{ form.non_field_errors }}</div>
    {% csrf_token %}

    <div class="management-column">
        {% if company.color_logo %}
            <img id="logo" src="{{ company.color_logo.url }}" alt="company_logo" />
        {% else %}
            <img id="logo" src="{% static 'graphics/placeholder.png' %}" alt="company_logo" class="logo-placeholder" />
        {% endif %}

        <div class="form-field">
            <div class="error">{{ form.color_logo.errors }}</div>
            {{ form.color_logo.label_tag }}
            <div> {{ form.color_logo }} </div>
        </div>

        <div class="form-field">
            <div class="error">{{ form.monochrome_logo.errors }}</div>
            {{ form.monochrome_logo.label_tag }}
            <div> {{ form.monochrome_logo }} </div>
        </div>

        <div class="form-field">
            <div class="error">{{ form.name.errors }}</div>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.url_name.errors }}</div>
            {{ form.url_name.label_tag }}
            {{ pos_url }}{{ form.url_name }}
        </div>
    </div>

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.vat_no.errors }}</div>
            {{ form.vat_no.label_tag }}
            {{ form.vat_no }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.street.errors }}</div>
            {{ form.street.label_tag }}
            {{ form.street }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.postcode.errors }}</div>
            {{ form.postcode.label_tag }}
            {{ form.postcode }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.city.errors }}</div>
            {{ form.city.label_tag }}
            {{ form.city }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.state.errors }}</div>
            {{ form.state.label_tag }}
            {{ form.state }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.country.errors }}</div>
            {{ form.country.label_tag }}
            {{ form.country }}
        </div>
    </div>

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.phone.errors }}</div>
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.notes.errors }}</div>
            {{ form.notes.label_tag }}
            {{ form.notes }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.email.errors }}</div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.website.errors }}</div>
            {{ form.website.label_tag }}
            {{ form.website }}
        </div>

        <div class="form-footer">
            <div class="form-footer-column">
                <input type="button" id="static_cancel" value="{% trans 'Cancel' %}" />
            </div>
            <div class="form-footer-column">
                <input type="submit" value="{% trans 'Save' %}" />
            </div>
        </div>
    </div>
</form>

{% endblock %}