{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block status_bar_title %}{% trans 'Company' %}{% endblock %}

{% block extra_button %}
    {# a link to configuration #}

{% endblock %}

{% block section_head %}
<script type="text/javascript" src="{% static 'js/jquery.customfileinput.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'css/management/company.css' %}" />

<style type="text/css">
#color_logo_container, #monochrome_logo_container{
    background-size: cover; /* crop fill */
    background-position: center center;
    background-color: #ffffff;
}

.image-buttons{
    position: relative;
    height: {{ color_logo_dimensions.1 }}px;
    float: right;
}

#color_logo_container{
    {# if there's an image for the company, show it in background #}
    {% if company.color_logo %}
        background-image: url("{{ company.color_logo.url }}");
    {% endif %}

    width:{{ color_logo_dimensions.0 }}px;
    height:{{ color_logo_dimensions.1 }}px;
}

#monochrome_passepartout{
    background-color: #ffffff;
    width:{{ color_logo_dimensions.0 }}px;
    height:{{ color_logo_dimensions.1 }}px;
}

#monochrome_logo_container{
    background-color: #ffffff;

    {% if company.monochrome_logo %}
        background-image: url("{{ company.monochrome_logo.url }}");
    {% endif %}

    width:{{ monochrome_logo_dimensions.0 }}px;
    height:{{ monochrome_logo_dimensions.1 }}px;

    position: relative;
}

input[type='checkbox'].clear + label{
    display: block;
    position: absolute;

    left: 100%;
    top: 50%;

    margin-top: -10px;
    margin-left: 5px;

    width: 20px;
    height: 20px;

    background-image: url("{% static 'icons/delete_image_unchecked.png' %}");
    background-size: 20px 20px;

    cursor: pointer;
}

input[type='checkbox'].clear:checked + label{
    background-image: url("{% static 'icons/delete_image_checked.png' %}");
}

</style>

<script type="text/javascript">
$(document).ready(function(){
    var items = {
        color_logo_input: $("#id_color_logo"),
        color_logo_container: $("#color_logo_container"),

        monochrome_passepartout: $("#passepartout"),
        monochrome_logo_input: $("#id_monochrome_logo"),
        monochrome_logo_container: $("#monochrome_logo_container"),

        auto_create: $("#auto_create")
    };

    // resize the buttons according to column and image width
    $("div.image-buttons").width(
        $(".management-column").first().width() - {{ color_logo_dimensions.0 }}
    );

    // set the monochrome logo 'passepartout'
    var dist = ({{ color_logo_dimensions.0 }} - {{ monochrome_logo_dimensions.0 }})/2
    items.monochrome_logo_container.css("top", dist + "px");
    items.monochrome_logo_container.css("left", dist + "px");

    items.color_logo_input
        .customFileInput("{% trans 'Choose file...' %}")
        .change(function(){
            preview_image(this, "#color_logo_container");
            // hide the auto-create button or the new logo will be created from the old one
            items.auto_create.hide();
        });

    items.monochrome_logo_input
        .customFileInput("{% trans 'Choose file...' %}")
        .change(function(){
            preview_image(this, "#monochrome_logo_container", {{ monochrome_logo_dimensions.0 }}, {{ monochrome_logo_dimensions.1 }});
        });

    // the delete image buttons
    // replace labels with delete images
    $("input[type='checkbox'] + label").text("").attr("title", "{% trans 'Remove logo' %}");

    // what does the auto-create button do:
    // send an auto-create request to server and when response arrives, refresh the page;
    // the server will create an image and save it and on refresh, it will be displayed;
    // since browsers remember values when refreshing, no harm will be done
    items.auto_create.click(function(){
        send_data("{% url 'pos:create_monochrome_logo' company.url_name %}", {}, "{{ csrf_token }}", function(response){
            if(response.status != 'ok'){
                error_message(
                    "{% trans 'Creating logo failed' %}",
                    response.message
                );
            }
            else{
                // logo created, reload page
                window.location.reload();
            }
        });
    });

});

</script>
{% endblock %}

{% block manage_content %}
<form action="{% url 'pos:edit_company' company.url_name %}" method="post" enctype="multipart/form-data">
    <div class="error">{{ form.non_field_errors }}</div>
    {% csrf_token %}

    <div class="management-column">
        {# color logo: image and browse button #}
        <div class="images">
            <h2 class="custom-label">{% trans 'Color logo' %}</h2>
            <p class="custom-label">{% trans 'For web and full-page bill prints' %}</p>

            <div class="image-buttons">
                <div class="error">{{ form.color_logo.errors }}</div>

                <div class="bottom">
                    <div>{{ form.color_logo }}</div>
                </div>
            </div>

            <div id="color_logo_container"></div>
        </div>

        {# monochrome logo: image, auto-create button and browse button #}
        <div class="images">
            <h2 class="custom-label">{% trans 'Monochrome logo' %}</h2>
            <p class="custom-label">{% trans 'For thermal printers' %}</p>

            <div class="image-buttons">
                <div class="error">{{ form.monochrome_logo.errors }}</div>

                <div class="bottom">
                    <div>{# keep this button in its own block #}
                        {# do not show it if there's no color logo #}
                        {% if company.color_logo %}
                            <input type="button"
                                value="{% trans 'Auto-create' context 'monochrome logo button' %}"
                                id="auto_create"/>
                        {% endif %}
                    </div>

                    <div>{{ form.monochrome_logo }}</div>
                </div>
            </div>

            <div id="monochrome_passepartout">
                <div id="monochrome_logo_container"></div>
            </div>
        </div>

    </div>
    <div class="management-column">

        <div class="form-field">
            <div class="error">{{ form.name.errors }}</div>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.url_name.errors }}</div>
            {{ form.url_name.label_tag }}
            {{ pos_url }}{{ form.url_name }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.vat_no.errors }}</div>
            {{ form.vat_no.label_tag }}
            {{ form.vat_no }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.street.errors }}</div>
            {{ form.street.label_tag }}
            {{ form.street }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.postcode.errors }}</div>
            {{ form.postcode.label_tag }}
            {{ form.postcode }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.city.errors }}</div>
            {{ form.city.label_tag }}
            {{ form.city }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.state.errors }}</div>
            {{ form.state.label_tag }}
            {{ form.state }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.country.errors }}</div>
            {{ form.country.label_tag }}
            {{ form.country }}
        </div>
    </div>

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.phone.errors }}</div>
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.notes.errors }}</div>
            {{ form.notes.label_tag }}
            {{ form.notes }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.email.errors }}</div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.website.errors }}</div>
            {{ form.website.label_tag }}
            {{ form.website }}
        </div>

        <div class="form-footer">
            <div class="form-footer-column">
                <input type="button" id="static_cancel" value="{% trans 'Cancel' %}" />
            </div>
            <div class="form-footer-column">
                <input type="submit" value="{% trans 'Save' %}" />
            </div>
        </div>
    </div>
</form>

{% endblock %}