{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
<script type="text/javascript" src="{% static 'js/jquery.customfileinput.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'css/management/company.css' %}" />

<style type="text/css">

/* logos and containers and stuff */
/* color logo */
#default_color_logo, #color_logo_container{
    width: {{ color_logo_dimensions.0 }}px;
    height: {{ color_logo_dimensions.1 }}px;
}

#color_logo_container { position: absolute; }
#default_color_logo { background-image: url("{% static 'images/company_placeholder_color.png' %}"); /* the default background image */ }

#remove_color_logo, #remove_monochrome_logo{
    left: {{ color_logo_dimensions.0 }}px;
}

#default_monochrome_logo{
    background-image: url("{% static 'images/company_placeholder_monochrome.png' %}"); /* the default background image */
}

.image-buttons{
    position: relative;
    height: {{ color_logo_dimensions.1 }}px;
}

/* monochrome logo */
#monochrome_passepartout{
    width:{{ color_logo_dimensions.0 }}px;
    height:{{ color_logo_dimensions.1 }}px;
}

#monochrome_logo_container{
    width:{{ monochrome_logo_dimensions.0 }}px;
    height:{{ monochrome_logo_dimensions.1 }}px;
}

.delete-image-button{
    background-image: url("{% static 'icons/delete_active.png' %}");
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    var items = {
        color_logo_input: $("#id_color_logo"),
        color_logo_container: $("#color_logo_container"),
        remove_color_logo: $("#remove_color_logo"),

        monochrome_passepartout: $("#passepartout"),
        monochrome_logo_input: $("#id_monochrome_logo"),
        monochrome_logo_container: $("#monochrome_logo_container"),
        remove_monochrome_logo: $("#remove_monochrome_logo"),

        auto_create: $("#auto_create")
    };

    // resize the buttons according to column and image width
    $("div.image-buttons").width(
        /*$(".management-column").first().width() - {{ color_logo_dimensions.0 }}*/
    );

    // set the monochrome logo 'passepartout'
    items.monochrome_logo_container.css("left", ({{ color_logo_dimensions.0 }} - {{ monochrome_logo_dimensions.0 }})/2 + "px");
    items.monochrome_logo_container.css("top", ({{ color_logo_dimensions.1 }} - {{ monochrome_logo_dimensions.1 }})/2 + "px");

    // setting background
    function set_background(object, url){
        if(url){
            // background color is initial and background image is url
            object.css("background-color", "#ffffff");
            object.css("background-image", "url(" + url + ")");
        }
        else{
            // the background is transparent and there's no image
            object.css("background-color", "transparent");
            object.css("background-image", "none");
        }
    }

    // logo upload controls
    function logo_input(input, container, url){
        input
            .customFileInput(container)
            .change(function(){
                upload_image(input.get(0), url, "{{ csrf_token }}", {{ max_upload_size }}, function(response){
                        if(response.status != 'ok'){
                            // something went wrong
                            error_message(
                                "{% trans 'Error while uploading a new logo' %}",
                                response.message
                            );
                        }
                        else{
                            // replace the old logo with the new one
                            set_background(container, response.logo_url);
                        }
                    });

                // reset the form or it won't be changed when deleting and re-uploading the same image
                logo_input(input, container, url);
        });
    }

    function logo_removal(button, input, container, url){
        button.click(function(e){
            e.preventDefault();
            // replace the input with a new one
            var new_input = $("<input>", {type: 'file', id: input.attr("id")});
            input.replaceWith(new_input);
            logo_input(new_input, container, url);

            send_data(url, {/* send nothing */}, "{{ csrf_token }}", function(response){
                if(response.status != 'ok'){
                    // something went wrong (wtf?!)
                    error_message(
                        "{% trans 'Error while deleting logo' %}",
                        response.message
                    );

                    // do nothing else
                }
                else{
                    // everything ok, clear the logo from container
                    set_background(container, null);
                }
            });
        });
    }

    // init the two functions above for each logo
    logo_input(items.color_logo_input, items.color_logo_container, "{% url 'pos:upload_color_logo' company.url_name %}");
    logo_removal(items.remove_color_logo, items.color_logo_input, items.color_logo_container, "{% url 'pos:upload_color_logo' company.url_name %}");

    logo_input(items.monochrome_logo_input, items.monochrome_logo_container, "{% url 'pos:upload_monochrome_logo' company.url_name %}");
    logo_removal(items.remove_monochrome_logo, items.monochrome_logo_input, items.monochrome_logo_container, "{% url 'pos:upload_monochrome_logo' company.url_name %}");

    items.auto_create.click(function(){
        send_data("{% url 'pos:create_monochrome_logo' company.url_name %}", {}, "{{ csrf_token }}",
            function(response){
                if(response.status != 'ok'){
                    error_message(
                            "{% trans 'Error while creating logo' %}",
                            response.message
                    );
                }
                else{
                    items.monochrome_logo_container.css("background-image", "url(" + response.logo_url + ")");
                }
            });
    });

    // set initial backgrounds
    {% if company.color_logo %}
        set_background(items.color_logo_container, "{{ company.color_logo.url }}");
    {% endif %}

    {% if company.monochrome_logo %}
        set_background(items.monochrome_logo_container, "{{ company.monochrome_logo.url|default:'null' }}");
    {% endif %}
});

</script>
{% endblock %}

{% block status_bar_title %}{% trans 'Company' %}{% endblock %}

{% block extra_button %}
    {# a link to configuration #}
    <a class="button-text" href="{% url 'pos:company_settings' company.url_name %}">
        {% trans 'Configuration' %}
    </a>
{% endblock %}


{% block manage_content %}
<form action="{% url 'pos:edit_company' company.url_name %}" method="post" enctype="multipart/form-data">
    <div class="error">{{ form.non_field_errors }}</div>
    {% csrf_token %}

    <div class="management-column">
        {# color logo: image and browse button #}
        <div class="images">
            <h2 class="custom-label">{% trans 'Color logo' %}</h2>
            <p class="custom-label">{% trans 'For web and full-page bill prints' %}</p>

            <div class="image-buttons">
                {% comment %} <div class="error">{{ form.color_logo.errors }}</div> {% endcomment %}
                <button id="remove_color_logo"
                        class="delete-image-button no-shadow hoverable"
                        title="{% trans 'Remove image' %}"></button>

                <div id="default_color_logo" class="hoverable"></div>
                <div id="color_logo_container" class="hoverable"></div>
                <input type="file" id="id_color_logo" class="hoverable" title="{% trans 'Click to change logo' %}" />
            </div>

        </div>

        {# monochrome logo: image, auto-create button and browse button #}
        <div class="images">
            <h2 class="custom-label">{% trans 'Monochrome logo' %}</h2>
            <p class="custom-label">{% trans 'For thermal printers' %}</p>

            {# do not show it if there's no color logo #}
            <div class="image-buttons">
                {% comment %}<div class="error">{{ form.monochrome_logo.errors }}</div>{% endcomment %}
                <input type="button" class="hoverable"
                   value="{% trans 'Auto-create' context 'monochrome logo button' %}"
                   id="auto_create"/>

                <button id="remove_monochrome_logo"
                        class="delete-image-button hoverable no-shadow"
                        title="{% trans 'Remove image' %}"></button>

                <input type="file" id="id_monochrome_logo" title="{% trans 'Click to change logo' %}" />

                <div id="monochrome_passepartout">
                    <div id="default_monochrome_logo" class="hoverable"></div>
                    <div id="monochrome_logo_container" class="hoverable"></div>
                </div>
            </div>
        </div>

        <div class="form-field">
            <div class="error">{{ form.name.errors }}</div>
            {{ form.name.label_tag }}
            {{ form.name }}
        </div>

    </div>
    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.url_name.errors }}</div>
            {{ form.url_name.label_tag }}
            {{ pos_url }}{{ form.url_name }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.vat_no.errors }}</div>
            {{ form.vat_no.label_tag }}
            {{ form.vat_no }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.street.errors }}</div>
            {{ form.street.label_tag }}
            {{ form.street }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.postcode.errors }}</div>
            {{ form.postcode.label_tag }}
            {{ form.postcode }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.city.errors }}</div>
            {{ form.city.label_tag }}
            {{ form.city }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.state.errors }}</div>
            {{ form.state.label_tag }}
            {{ form.state }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.country.errors }}</div>
            {{ form.country.label_tag }}
            {{ form.country }}
        </div>
    </div>

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.phone.errors }}</div>
            {{ form.phone.label_tag }}
            {{ form.phone }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.notes.errors }}</div>
            {{ form.notes.label_tag }}
            {{ form.notes }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.email.errors }}</div>
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.website.errors }}</div>
            {{ form.website.label_tag }}
            {{ form.website }}
        </div>

        <div class="form-field no-label">
            <div class="split-cell first">
                <input type="button" id="static_cancel" value="{% trans 'Cancel' %}" class="hoverable" />
            </div>
            <div class="split-cell last">
                <input type="submit" value="{% trans 'Save' %}" class="hoverable" />
            </div>
        </div>
    </div>
</form>

{% endblock %}