{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/management/config.css' %}" />
<script type="text/javascript">
$(document).ready(function(){
    $("img.currency").click(function(){
        $("#id_currency").val($(this).attr("data-character"));
    });
});
</script>
{% endblock %}

{% block status_bar_title %}{% trans 'Configuration' %}{% endblock %}

{% block extra_button %}
    <a class="button-text" href="{% url 'pos:edit_company' company.url_name %}">
        {% trans 'Company' %}
    </a>
{% endblock %}

{% block manage_content %}
<form action="{% url 'pos:company_settings' company.url_name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.date_format.errors }}</div>
            {{ form.date_format.label_tag }}
            {{ form.date_format }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.time_format.errors }}</div>
            {{ form.time_format.label_tag }}
            {{ form.time_format }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.timezone.errors }}</div>
            {{ form.timezone.label_tag }}
            {{ form.timezone }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.currency.errors }}</div>
            {{ form.currency.label_tag }}
            {{ form.currency }}
        </div>

        <div class="form-field">
            {# decimal separator and decimal places belong in the same row #}
            <div class="error">{{ form.decimal_separator.errors }}</div>
            <div class="error">{{ form.decimal_places.errors }}</div>

            <div class="split-cell first">
                {{ form.decimal_separator.label_tag }}
                {{ form.decimal_separator }}
            </div>
            <div class="split-cell last">
                {{ form.decimal_places.label_tag }}
            {{ form.decimal_places }}
            </div>
        </div>
    </div>

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.bill_serial_format.errors }}</div>
            {{ form.bill_serial_format.label_tag }}
            {{ form.bill_serial_format }}

            {% comment %} special note about bill formatting {% endcomment %}

        </div>
    </div>

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.payment_bitcoin_address.errors }}</div>
            {{ form.payment_bitcoin_address.label_tag }}
            <span class="help-text">{{ form.payment_bitcoin_address.help_text }}</span>
            {{ form.payment_bitcoin_address }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.payment_bitcoin_address.errors }}</div>
            {{ form.payment_paypal_address.label_tag }}
            <span class="help-text">{{ form.payment_paypal_address.help_text }}</span>
            {{ form.payment_paypal_address }}
        </div>

        <div class="form-field no-label">
            <div class="split-cell first">
                <input type="button" id="static_cancel" value="{% trans 'Cancel' %}" class="hoverable" />
            </div>
            <div class="split-cell last">
                <input type="submit" value="{% trans 'Save' %}" class="hoverable" />
            </div>
        </div>
    </div>

    <!--
    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.interface_product_button_size.errors }}</div>
            {{ form.interface_product_button_size.label_tag }}
            {{ form.interface_product_button_size }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.product_display.errors }}</div>
            {{ form.product_display.label_tag }}
            {{ form.product_display }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.display_breadcrumbs.errors }}</div>
            {{ form.display_breadcrumbs.label_tag }}
            {{ form.display_breadcrumbs }}
        </div>
    </div>
    -->
</form>

{% endblock %}

