{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/contacts.css' %}"/>
    <script type="text/javascript">
    $(document).ready(function(){
        // create a simple menu
        $("#add_contact_button").simpleMenu($("#add_contact_menu"));
    });
    </script>
{% endblock %}

{% block status_bar_title %}{% trans 'Contacts' %}{% endblock %}

{# this button is actually a drop-down menu and needs a special class for the arrow indicator #}
{% block extra_button_class %}simple-menu-button{% endblock %}
{% block extra_button %}
    {# a very special extra button #}
    <a id="add_contact_button" href="#" class="button-text">{% trans 'Add Contact' %}</a>

    <ul id="add_contact_menu" class="drop-down">
        {# add company #}
        <li class="type-company">
            <a class="type-company"
               href="{% url 'pos:add_contact' company.url_name %}?type=Company">{% trans 'company' %}</a>
        </li>
        {# add individual #}
        <li class="type-individual">
            <a class="type-individual"
               href="{% url 'pos:add_contact' company.url_name %}?type=Individual">{% trans 'individual' %}</a>
        </li>
    </ul>
{% endblock %}

{% block manage_content %}
    <div class="left-column">
        {% comment %} filter contacts {% endcomment %}
        <h2>{% trans 'Search' context 'form title' %}</h2>
        <form method="post" action="{% url 'pos:list_contacts' company.url_name %}">
            {% csrf_token %}
            <div class="error">{{ filter_form.non_field_errors }}</div>

            <div class="form-field">
                <div class="error">{{ filter_form.name.errors }}</div>
                {{ filter_form.name.label_tag }}
                {{ filter_form.name }}
            </div>

            <div class="form-field clear-floats">
                {{ filter_form.type.label_tag }}
                <div class="error">{{ filter_form.type.errors }}</div>

                <div class="split-cell first">
                    {{ filter_form.type }}
                </div>
                <div class="split-cell last">
                    <input type="submit" value="{% trans 'Search' context 'submit button label' %}"/>
                </div>
            </div>

            <div class="clear-floats"></div>
        </form>
    </div>

    <div class="content">
        <div id="contacts">
            <table id="contacts_index">
                <tr>
                    <td{% if letter == '#' %} class="current-letter"{% endif %}>
                        {# letters that are not in the alphabet #}
                        <a href="{% url 'pos:list_contacts' company.url_name %}?letter=*">#</a>
                    </td>
                    {# all letters of the alphabet #}
                    {% for l in alphabet %}
                        <td{% if letter == 'l' %} class="current-letter"{% endif %}>
                            <a href="{% url 'pos:list_contacts' company.url_name %}?letter={{ l }}">{{ l }}</a>
                        </td>
                    {% endfor %}
                </tr>
            </table>

            <div class="results">
                <h2>{% if letter %}
                    {{ letter|upper }}
                {% else %}
                    {% trans 'Search results' %}
                {% endif %}</h2>
            </div>

            <div class="contact-container">
            {% if c.count == 0 %}
                {% trans 'No results found' %}
            {% else %}
                {% for c in contacts %}
                    {% comment %} two different layouts, for company and individual {% endcomment %}
                    {% ifequal c.type 'Individual' %}
                        <table class="details type-individual">
                            <thead>
                                <tr>
                                    <td>{{ c.first_name }} {{ c.last_name }}</td>
                                    <td>
                                        <img src="{% static 'icons/individual.png' %}"
                                             title="{% trans 'Individual' %}"
                                             alt="{% trans 'Individual' %}" />
                                    </td>
                                    <td>
                                        <div class="controls">
                                            {% comment %} edit this contact {% endcomment %}
                                            <a href="{% url 'pos:edit_contact' company.url_name c.id %}">
                                                <img src="{% static 'icons/edit_white.png' %}"
                                                     title="{% trans 'Edit' %}"
                                                     alt="{% trans 'Edit' %}"
                                                     class="hoverable" />
                                            </a>
                                            {% comment %} delete this contact {% endcomment %}
                                            <a href="{% url 'pos:delete_contact' company.url_name %}"
                                               data-id="{{ c.id }}"
                                               class="delete-link">
                                                <img src="{% static 'icons/delete_white.png' %}"
                                                     title="{% trans 'Delete' %}"
                                                     alt="{% trans 'Delete' %}"
                                                     class="hoverable" />
                                            </a>
                                        </div>
                                        {% trans 'Individual' context 'contact type' %}
                                    </td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ c.street_address }}</td>
                                    <td>T</td>
                                    <td>{{ c.phone }}</td>
                                </tr>
                                <tr>
                                    <td>{{ c.postcode }} {{ c.city }}</td>
                                    <td>E</td>
                                    <td><a href="mailto:{{ c.email }}">{{ c.email }}</a></td>
                                </tr>
                                <tr>
                                    <td>{{ c.country }}</td>
                                    <td>*</td>
                                    <td>{{ c.date_of_birth|date:date_format_django }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    {% else %}
                    <table class="details type-company">
                        <thead>
                            <tr>
                                <td>{{ c.company_name }}</td>
                                <td>
                                    <img src="{% static 'icons/company.png' %}"
                                         title="{% trans 'Company' %}"
                                         alt="{% trans 'Company' %}" />
                                </td>
                                <td>
                                    <div class="controls">
                                        {% comment %} edit this contact {% endcomment %}
                                        <a href="{% url 'pos:edit_contact' company.url_name c.id %}">
                                            <img src="{% static 'icons/edit_white.png' %}"
                                                 title="{% trans 'Edit' %}"
                                                 alt="{% trans 'Edit' %}"
                                                 class="hoverable" />
                                        </a>
                                        {% comment %} delete this contact {% endcomment %}
                                        <a href="{% url 'pos:delete_contact' company.url_name %}"
                                           data-id="{{ c.id }}"
                                           class="delete-link">
                                            <img src="{% static 'icons/delete_white.png' %}"
                                                 title="{% trans 'Delete' %}"
                                                 alt="{% trans 'Delete' %}"
                                                 class="hoverable" />
                                        </a>
                                    </div>
                                    {% trans 'Company' context 'contact type' %}
                                </td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ c.street_address }}</td>
                                <td>T</td>
                                <td>{{ c.phone }}</td>
                            </tr>
                            <tr>
                                <td>{{ c.postcode }} {{ c.city }}</td>
                                <td>E</td>
                                <td><a href="mailto:{{ c.email }}">{{ c.email }}</a></td>
                            </tr>
                            <tr>
                                <td>{{ c.country }}</td>
                                <td>VAT</td>
                                <td>{{ c.vat }}</td>
                            </tr>
                        </tbody>
                    </table>
                    {% endifequal %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
{% endblock %}

