{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% comment %} add/edit contact form {% endcomment %}

{% block section_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/management/contacts.css' %}"/>
{% endblock %}

{% block status_bar_title %}
    {% if add %}
        {% if type == 'Individual' %}
            {% trans 'Add contact: Individual' %}
        {% else %}
            {% trans 'Add contact: Company' %}
        {% endif %}
    {% else %}
        {% if type == 'Individual' %}
            {% trans 'Edit contact: Individual' %}
        {% else %}
            {% trans 'Edit contact: Company' %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block manage_content %}
    {% if add %}
        <form action="{% url 'pos:add_contact' company.url_name %}" method="post">
    {% else %}
        <form action="{% url 'pos:edit_contact' company.url_name contact_id %}" method="post">
    {% endif %}

        {% csrf_token %}
        <div class="hidden"> {{ form.type }} </div> {# a hidden type field #}

        {{ form.non_field_errors }}

        <div class="management-column">
            {% if type == 'Individual' %}
                {# individual fields #}
                <div class="form-field">
                    <div class="error">{{ form.first_name.errors }}</div>
                    {{ form.first_name.label_tag }}
                    {{ form.first_name }}
                </div>

                <div class="form-field">
                    <div class="error">{{ form.last_name.errors }}</div>
                    {{ form.last_name.label_tag }}
                    {{ form.last_name }}
                </div>

                <div class="form-field">
                    <div class="error">{{ form.sex.errors }}</div>
                    {{ form.sex.label_tag }}
                    {{ form.sex }}
                </div>
            {% else %}
                {# company fields #}
                <div class="form-field">
                    <div class="error">{{ form.company_name.errors }}</div>
                    {{ form.company_name.label_tag }}
                    {{ form.company_name }}
                </div>
            {% endif %}

            <div class="form-field">
                <div class="error">{{ form.email.errors }}</div>
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.street_address.errors }}</div>
                {{ form.street_address.label_tag }}
                {{ form.street_address }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.postcode.errors }}</div>
                {{ form.postcode.label_tag }}
                {{ form.postcode }}
            </div>

            {% if type == 'Individual' %}
                {# the column breaks here for individual form #}
                </div>
                <div class="management-column">
            {% endif %}

            <div class="form-field">
                <div class="error">{{ form.city.errors }}</div>
                {{ form.city.label_tag }}
                {{ form.city }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.state.errors }}</div>
                {{ form.state.label_tag }}
                {{ form.state }}
            </div>

            {% if type == 'Company' %}
                {# the column breaks here for company form #}
                </div>
                <div class="management-column">
            {% endif %}

            <div class="form-field">
                <div class="error">{{ form.country.errors }}</div>
                {{ form.country.label_tag }}
                {{ form.country }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.phone.errors }}</div>
                {{ form.phone.label_tag }}
                {{ form.phone }}
            </div>

            {% if type == 'Individual' %}
                <div class="form-field">
                    <div class="error">{{ form.date_of_birth.errors }}</div>
                    {{ form.date_of_birth.label_tag }}
                    {{ form.date_of_birth }}
                </div>
            {% else %}
                <div class="form-field">
                    <div class="error">{{ form.vat.errors }}</div>
                    {{ form.vat.label_tag }}
                    {{ form.vat }}
                </div>
            {% endif %}

            <div class="form-field">
                <div class="split-cell first">
                    <input type="submit" value="{% trans 'Save' %}" class="hoverable" />
                </div>
                <div class="split-cell last">
                    <a class="button cancel hoverable"
                       href="{% url 'pos:list_contacts' company.url_name %}">{% trans 'Cancel' %}</a>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

