{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/stock.css' %}"/>

    <script type="text/javascript">
        $(document).ready(function(){
            {% include 'pos/manage/pagination.js' %}

            var keyboard = new Keyboard();

            var items = {
                add_stock: $("a#add_stock"),
                stock_input: $("#stock_section table tr#stock_input"),
                stock_name: $("#stock_name"),
                quantity: $("#quantity"),
                stock: $("#stock"),
                type: $("#type"),
                unit: $("#unit"),
                purchase_price: $("#purchase_price"),
                for_product: $("#for_product"),
                save_stock: $("#save_stock"),
                stock_list: $("#stock_list table"),
                document: $("#document"),
                select_product: $("button#select_product"),
                for_product_wrapper: $("div#for_product_wrapper"),
                add_to_selected_products: $("button#add_to_selected_products"),
                selected_products: $("#selected_products"),
                deduction: $("#deduction"),
                hidden_selected_product: $("#selected_products table tr.hidden"),
                remove_from_selected_products: $("#selected_products button.remove"),
                management_content: $("#management_content"),
                stock_products: $("#stock_list td.stock-products"),
                search_stock_input: $("#search_stock_input"),
                search_stock: $("#search_stock"),
                stock_td_list: $("#stock_list table.list td:nth-child(1)")
            };

            var selected_product = '';

            items.add_stock.click(function() {
                if (items.stock_input.is(":hidden")) {
                    items.stock_input.show();

                    keyboard.add("cancel-when-adding-stock", 'escape', function () {
                        items.add_stock.click();
                    });
                } else {
                    items.stock_input.hide();

                    keyboard.remove("cancel-when-adding-stock");
                }
            });

            items.stock_name.on('focus', function() {
                if ($(this).val() == gettext("select product")) {
                    $(this).val("");
                }
            });

            items.stock_name.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("select product"));
                }
            });

            items.quantity.on('focus', function() {
                if ($(this).val() == gettext("quantity")) {
                    $(this).val("");
                }
            });

            items.quantity.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("quantity"));
                }
            });

            items.stock.on('focus', function() {
                if ($(this).val() == gettext("stock")) {
                    $(this).val("");
                }
            });

            items.stock.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("stock"));
                }
            });

            items.for_product.on('focus', function() {
                if ($(this).val() == gettext("select product")) {
                    $(this).val("");
                }
            });

            items.for_product.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("select product"));
                }
            });

            items.purchase_price.on('focus', function() {
                if ($(this).val() == gettext("purchase price")) {
                    $(this).val("");
                }
            });

            items.purchase_price.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("purchase price"));
                }
            });

            function check_entry_data() {
                var all_ok = true;

                if (items.stock_name.val() == gettext("name") || items.stock_name.val() == "") {
                    items.stock_name.addClass("error");
                    all_ok = false;
                } else {
                    items.stock_name.removeClass("error");
                }

                if (items.quantity.val() == gettext("quantity") || items.quantity.val() == "") {
                    items.quantity.addClass("error");
                    all_ok = false;
                } else {
                    items.quantity.removeClass("error");
                }

                if (items.stock.val() == gettext("stock") || items.stock.val() == "") {
                    items.stock.addClass("error");
                    all_ok = false;
                } else {
                    items.stock.removeClass("error");
                }

                if (items.for_product.val() == gettext("select product") || items.for_product.val() == "") {
                    items.for_product.addClass("error");
                    all_ok = false;
                } else {
                    items.for_product.removeClass("error");
                }

                if (items.purchase_price.val() == gettext("purchase price") || items.purchase_price.val() == "") {
                    items.purchase_price.addClass("error");
                    all_ok = false;
                } else {
                    items.purchase_price.removeClass("error");
                }

                if (all_ok) {
                    return true;
                }

                return false;
            }

            function autoCompleteRender(ul, item) {
                var searchTerm = this.term;
                var itemLabel = item.label;

                // hehe
                var product_id = itemLabel.split(",").pop();
                itemLabel = itemLabel.replace("," + product_id, "");

                itemLabel = itemLabel.replace(new RegExp("(" + searchTerm + ")", "gi"), '<strong class="search-term">$1</strong>');

                return $("<li></li>").data("item.autocomplete", item).append('<a>' + itemLabel + '</a>').appendTo(ul);
            }

            function products_autocomplete(element) {
                if(element.data('ui-autocomplete')) {
                    element.autocomplete("destroy");
                }

                element.autocomplete({
                    source: function(request, response) {
                        var data = {name_filter: request.term};
                        var sd = {data: JSON.stringify(data), csrfmiddlewaretoken: "{{ csrf_token }}"};

                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "{% url 'pos:search_products' company.url_name %}",
                            data: sd,
                            timeout: 30000,
                            success: function(response_data){
                                if (response_data) {
                                    var data = [];

                                    $.each(response_data, function(key, value) {
                                        var parsed_data = parse_product_data(value, "{{ separator }}", {{ decimal_places }});
                                        data.push(parsed_data.name + " " + parsed_data.tax_price + "{{ currency_symbol }}" + "," + parsed_data.id);
                                    });

                                    response(data);
                                }
                            }
                        });
                    },
                    minLength: 0,
                    delay: 250,
                    select: function(event, ui) {
                        var text = ui.item.value;
                        var product_id = text.split(",").pop();

                        selected_product = product_id;

                        text = text.replace("," + product_id, "");
                        items.for_product.val(text);

                        if (items.type.val() == "ingredient") {
                            if (items.stock_name.val() == gettext("name")) {
                                items.stock_name.val("");
                            }
                        }

                        return false;
                    },
                    change: function(event, ui) {
                    }
                }).data("ui-autocomplete")._renderItem = autoCompleteRender;
            }

            items.save_stock.click(function() {
                if (check_entry_data()) {
                    var for_product = [];

                    $.each(items.selected_products.find('table .data'), function() {
                        for_product.push([$(this).attr("data-product"), $(this).attr("data-deduction")]);
                    });

                    var data = {
                        document: items.document.val(),
                        stock_name: items.stock_name.val(),
                        quantity: items.quantity.val(),
                        stock: items.stock.val(),
                        type: items.type.val(),
                        unit: items.unit.val(),
                        for_product: for_product,
                        purchase_price: items.purchase_price.val()
                    };

                    send_data("{% url 'pos:save_stock' company.url_name %}", data, "{{ csrf_token }}", function(response) {
                        if (response && 'data' in response && 'redirect_url' in response.data) {
                            location.replace("{% url 'web:redirect_page' %}?url=" + encodeURIComponent(response.data.redirect_url));
                        }
                    });
                }
            });

            items.type.on('change', function() {
                if ($(this).val() == "item") {
                    items.stock_name.prop("disabled", true);
                    items.stock_name.val(items.for_product.val());

                    items.stock.prop("disabled", true);
                    if (items.quantity.val() == gettext("quantity")) {
                        items.stock.val(gettext("will be the same as quantity"));
                    }
                } else {
                    items.stock_name.prop("disabled", false);
                    items.stock_name.val("");

                    items.stock.prop("disabled", false);
                    items.stock.val("");
                }
            });

            items.quantity.on('input', function() {
                if (items.type.val() == "item") {
                    items.stock.val(items.quantity.val());
                }
            });

            items.select_product.on('click', function() {
                custom_dialog(gettext("Select product for stock"), items.for_product_wrapper, 800, {});

                if (items.type.val() == "item") {
                    items.deduction.prop("disabled", true);
                    if (items.deduction.val() == "" && items.unit.val() == "Piece") {
                        items.deduction.val("1");
                    } else {
                        items.deduction.val("");
                    }
                } else {
                    items.deduction.prop("disabled", false);
                }
            });

            function already_selected(to_product) {
                var inside = false;

                $.each(items.selected_products.find('table .data'), function() {
                    if ($(this).attr("data-product") == to_product) {
                        inside = true;

                        return false;
                    }
                });

                return inside;
            }

            function update_select_product_text() {
                if (items.selected_products.find('table .data').length == 0) {
                    items.select_product.text(gettext("select product"));
                } else {
                    items.select_product.text(items.selected_products.find('table .data').length + " " + gettext("selected product/s"));
                }
            }

            items.add_to_selected_products.on('click', function() {
                var to_product = selected_product;
                var deduction = items.deduction.val();
                var html = '';

                if (already_selected(to_product)) {
                    return;
                }

                if (items.for_product.val() == gettext("select product")) {
                    return;
                }

                if (selected_product == "") {
                    return;
                }

                if (items.type.val() == "item" && (items.selected_products.find('table .data').length > 0)) {
                    custom_dialog(gettext("Info"), "You cannot add more than one item to stock with type item.", 300, {ok: gettext("OK")});

                    return;
                }

                var hidden_selected_product = items.hidden_selected_product.clone();

                hidden_selected_product.removeClass("hidden").addClass("data");

                hidden_selected_product.attr("data-product", to_product);
                hidden_selected_product.attr("data-deduction", deduction);

                hidden_selected_product.find('.for-product').text(items.for_product.val());
                hidden_selected_product.find('.deduction').html(deduction + '<button class="remove"></button>');

                html = html + hidden_selected_product.prop('outerHTML');

                items.selected_products.find('tbody').append(html);

                update_select_product_text();
            });

            $(document).on('click', items.remove_from_selected_products.selector, function() {
                $(this).parent().parent().remove();

                update_select_product_text();
            });

            items.stock_products.on('mouseover', function() {
                $(this).find('div.info').show();
            }).on('mouseleave', function() {
                $(this).find('div.info').hide();
            });

            items.search_stock.click(function() {
                location.replace("{% url 'pos:manage_stock' company.url_name 1 %}?search=" + encodeURIComponent(items.search_stock_input.val()));
            });

            items.document.change(function() {
                var document_id = $(this).val();
                location.replace("{% url 'pos:manage_stock' company.url_name 1 %}?document=" + document_id);
            });

            products_autocomplete(items.for_product);

            var hash = get_url_hash();
            var element = $("#document_" + hash);

            if (element.length > 0) {
                element.children().addClass("selected");
                $('html,body').animate({scrollTop: element.offset().top}, 'fast');
            }

            $("a.paginator").unbind().click(function(e) {
                e.preventDefault();

                if ($(this).hasClass("disabled")) {
                    return false;
                }
            });

            items.type.change();
            items.management_content.css("overflow", "visible");
            items.stock_input.hide();

            keyboard.add("enter-when-search-focused", 'enter', function () {
                if (items.search_stock_input.is(":focus")) {
                    items.search_stock.click();
                }
            });

            var search_param = decodeURIComponent(getUrlParameter('search'));
            if (search_param != "") {
                items.search_stock_input.val(search_param);

                items.stock_td_list.each(function() {
                    var td_text = $(this).html();

                    td_text = td_text.replace(new RegExp("(" + search_param + ")", 'gi'), '<span class="searched">$1</span>');
                    $(this).html(td_text);
                });
            }

            var document_param = decodeURIComponent(getUrlParameter('document'));
            items.document.val(document_param);
        });
    </script>
{% endblock %}

{% block extra_button %}
    <a id="add_stock" class="extra-button">{% trans 'Add stock' %}</a>
{% endblock %}

{% block status_bar_title %}
    {% trans 'Stock' %}
{% endblock %}

{% block manage_content %}
    <div class="left-column">
        <div id="filter_form" class="fake-form">
            <h2>{% trans "Search" %}</h2>

            <div class="form-field">
                <div class="error"></div>

                <input id="search_stock_input" class="search-stock-input" maxlength="30" type="text" placeholder="{% trans "Search query" context 'search documents' %}">
            </div>


            <div class="form-field">
                <div class="split-cell first">
                    <input type="submit" id="search_stock" value="{% trans "Search" %}" class="hoverable">
                </div>

                <div class="cleared"></div>
            </div>
        </div>
    </div>

    <div id="stock_section">
        {% include "pos/manage/stock_header.html" %}

        <div id="stock_list">
            <div class="results-header">
                {% trans 'Results found: ' %}{{ stocks.paginator.count }}

                <div class="pagination">
                    <a href="{{ prev_url }}"
                       class="paginator {% if not stocks.has_previous %}disabled{% endif %}"
                       data-action="previous">
                        <img src="{% static 'icons/back_black.png' %}"
                             class="hoverable"
                             alt="{% trans 'Back' context 'Paginator page button' %}"
                             title="{% trans 'Back' context 'Paginator page button' %}"/>
                    </a>

                    {% trans 'Page' %} {{ stocks.number }} {% trans 'of' %} {{ stocks.paginator.num_pages }}

                    <a href="{{ next_url }}"
                       class="paginator {% if not stock.has_next %}disabled{% endif %}"
                       data-action="next">
                        <img src="{% static 'icons/forward_black.png' %}"
                             class="hoverable"
                             alt="{% trans 'Forward' context 'Paginator page button' %}"
                             title="{% trans 'Forward' context 'Paginator page button' %}"/>
                    </a>
                </div>
            </div>

            <div id="document_wrapper">
                <span>{% trans "Document" context "stock" %}:</span>

                <select id="document">
                    <option value="all">{% trans "all documents" context "stock" %}</option>

                    {% for document in documents %}
                        <option value="{{ document.id }}">
                            {{ document.number }} - {{ document.supplier.company_name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <table class="list">
                <thead>
                    <tr>
                        <td>{% trans "Name" %}</td>
                        <td>{% trans "Quantity" %}</td>
                        <td>{% trans "Stock" %}</td>
                        <td>{% trans "Left in stock" %}</td>
                        <td>{% trans "Type" %}</td>
                        <td>{% trans "Unit" %}</td>
                        <td>{% trans "For product" %}</td>
                        <td>{% trans "Purchase price" %}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr id="stock_input">
                        <td><input type="text" id="stock_name" name="stock_name" placeholder="{% trans "name" %}" /></td>
                        <td><input type="text" id="quantity" name="quantity" placeholder="{% trans "quantity" %}" /></td>
                        <td><input type="text" id="stock" name="stock" placeholder="{% trans "stock" %}" /></td>
                        <td>&nbsp;</td>
                        <td>
                            <select id="type" name="type">
                                {% for type in stock_types  %}
                                    <option value="{{ type.0 }}">{% if type.0 == 'item' %}{% trans "as item" %}{% elif type.0 == 'ingredient' %}{% trans "as ingredient" %}{% endif %}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <select id="unit" name="unit">
                                {% for unit in units %}
                                    <option value="{{ unit.0 }}">{{ unit.1 }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td class="controls">
                            <button type="button" id="select_product" name="select_product" >{% trans "select products" %}</button>

                            <div id="for_product_wrapper">
                                <div id="searcher">
                                    <div id="search_input">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>{% trans "deduction" %}</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><input type="text" id="for_product" name="for_product" value="{% trans "select product" %}" /></td>
                                                    <td><input type="text" id="deduction" /></td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <button id="add_to_selected_products"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="selected_products">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <td>{% trans "for product" %}</td>
                                                    <td>{% trans "deduction" %}</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr class="hidden">
                                                    <td class="for-product"></td>
                                                    <td class="deduction"></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                </div>
                            </div>
                        </td>
                        <td class="controls">
                            <input type="text" id="purchase_price" name="purchase_price" placeholder="{% trans "purchase price" %}" />
                            <button id="save_stock" class="save hoverable no-shadow"></button>
                        </td>
                    </tr>

                    {% for stock in stocks %}
                        <tr id="stock_{{ stock.id }}">
                            <td>
                                {% if stock.stock_type == "item" %}
                                    {% if stock.stock_products|length > 0 %}
                                        {{ stock.stock_products.0.product.name }}
                                    {% endif %}
                                {% elif stock.stock_type == "ingredient" %}
                                    {{ stock.name }}
                                {% endif %}
                            </td>
                            <td>{{ stock.quantity }}</td>
                            <td>{{ stock.stock}}</td>
                            <td>{{ stock.left_stock }}</td>
                            <td>
                                {% if stock.stock_type == "item" %}
                                    {% trans "item" %}
                                {% elif stock.stock_type == "ingredient" %}
                                    {% trans "ingredient" %}
                                {% endif %}
                            </td>
                            <td class="unit-type">{% trans stock.unit_type %}</td>
                            <td class="stock-products">{{ stock.stock_products|length }}
                                {% if stock.stock_products|length > 0 %}
                                    <div class="info">
                                        {% if stock.stock_type == "item" and stock.unit_type == "kg" %}
                                            {{ stock.stock_products.0.product.name }}
                                        {% else %}
                                            <ol>
                                                <li><span class="product-name"></span> <span class="product-deduction"><strong>{% trans "deduction" %}</strong></span></li>

                                                {% for sp in stock.stock_products %}
                                                    <li>
                                                        <span class="product-name">{{ sp.product.name }}</span> <span class="product-deduction">
                                                            {% if sp.deduction %}
                                                                {% if sp.deduction and stock.stock_type == "item" and stock.unit_type != "kg" %}
                                                                    {{ sp.deduction }}
                                                                {% endif %}
                                                            {% endif %}
                                                        </span>
                                                    </li>
                                                {% endfor %}
                                            </ol>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </td>
                            <td>{% if stock.purchase_price %}{{ stock.purchase_price }}{% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}