{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/stock.css' %}"/>

    <script type="text/javascript">
        $(document).ready(function(){
            {% include 'pos/manage/pagination.js' %}

            var keyboard = new Keyboard();

            var items = {
                add_document: $("a#add_document"),
                document_input: $("#documents table tr#document_input"),
                document_number: $("#document_number"),
                document_date: $("#document_date"),
                entry_date: $("#entry_date"),
                supplier: $("#supplier"),
                save_document: $("#save_document"),
                documents_list: $("#documents_list table")
            };

            items.add_document.click(function() {
                if (items.document_input.is(":hidden")) {
                    items.document_input.show();

                    keyboard.add("cancel-when-adding-document", 'escape', function () {
                        items.add_document.click();
                    });
                } else {
                    items.document_input.hide();

                    keyboard.remove("cancel-when-adding-document");
                }

                return false;
            });

            items.document_number.on('focus', function() {
                if ($(this).val() == gettext("document number from supplier")) {
                    $(this).val("");
                }
            });

            items.document_number.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("document number from supplier"));
                }
            });

            items.document_date.on('focus', function() {
                if ($(this).val() == gettext("document date")) {
                    $(this).val("");
                }
            });

            items.document_date.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("document date"));
                }
            });

            items.entry_date.on('focus', function() {
                if ($(this).val() == gettext("entry date")) {
                    $(this).val("");
                }
            });

            items.entry_date.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("entry date"));
                }
            });

            items.supplier.on('focus', function() {
                if ($(this).val() == gettext("supplier")) {
                    $(this).val("");
                }
            });

            items.supplier.on('blur', function() {
                if ($(this).val() == "") {
                    $(this).val(gettext("supplier"));
                }
            });

            function check_entry_data() {
                var all_ok = true;

                if (items.document_number.val() == gettext("document number from supplier") || items.document_number.val() == "") {
                    items.document_number.addClass("error");
                    all_ok = false;
                } else {
                    items.document_number.removeClass("error");
                }

                if (items.document_date.val() == gettext("document date") || items.document_date.val() == "") {
                    items.document_date.addClass("error");
                    all_ok = false;
                } else {
                    items.document_date.removeClass("error");
                }

                if (items.entry_date.val() == gettext("entry date") || items.entry_date.val() == "") {
                    items.entry_date.addClass("error");
                    all_ok = false;
                } else {
                    items.entry_date.removeClass("error");
                }

                if (items.supplier.val() == gettext("supplier") || items.supplier.val() == "") {
                    items.supplier.addClass("error");
                    all_ok = false;
                } else {
                    items.supplier.removeClass("error");
                }

                if (all_ok) {
                    return true;
                }

                return false;
            }

            function parse_data(data, search_term) {
                var string = "";

                if (data.company_name) {
                    string = data.company_name + ", ";
                }

                if (data.first_name && data.last_name) {
                    string = string + data.first_name + " " + data.last_name + ", "
                }

                if (data.street_address && data.city && data.postcode) {
                    string = string + data.street_address + ", " + data.postcode + " " + data.city + ", ";
                }

                // must be the last one
                if (data.vat) {
                    string = string + data.vat;
                }

                return string;
            }

            function autoCompleteRender(ul, item) {
                var searchTerm = this.term;
                var itemLabel = item.label;
                itemLabel = itemLabel.replace(new RegExp("(" + searchTerm + ")", "gi"), '<strong class="search-term">$1</strong>');

                return $("<li></li>").data("item.autocomplete", item).append('<a>' + itemLabel + '</a>').appendTo(ul);
            }

            function contacts_autocomplete(element) {
                if(element.data('ui-autocomplete')) {
                    element.autocomplete("destroy");
                }

                element.autocomplete({
                    source: function(request, response) {
                        var data = {search_term: request.term};
                        var sd = {data: JSON.stringify(data), csrfmiddlewaretoken: "{{ csrf_token }}"};

                        $.ajax({
                            type: "POST",
                            dataType: "json",
                            url: "{% url 'pos:get-contacts' company.url_name %}",
                            data: sd,
                            timeout: 30000,
                            success: function(response_data){
                                if (response_data.status == "ok") {
                                    var data = [];
                                    if (response_data.data) {
                                        var durs_contacts = $.parseJSON(response_data.data.durs_contacts);
                                        var my_contacts = $.parseJSON(response_data.data.my_contacts);

                                        $.each(durs_contacts, function(key, value) {
                                            data.push(parse_data(value, request.term));
                                        });
                                    }

                                    response(data);
                                }
                            }
                        });

                    },
                    minLength: 2,
                    delay: 350
                }).data("ui-autocomplete")._renderItem = autoCompleteRender;
            }

            items.save_document.click(function() {
                if (check_entry_data()) {
                    var data = {
                        document_number: items.document_number.val(),
                        document_date: items.document_date.val(),
                        entry_date: items.entry_date.val(),
                        supplier: items.supplier.val()
                    };

                    send_data("{% url 'pos:save_document' company.url_name %}", data, "{{ csrf_token }}", function(response) {
                        if (response && 'data' in response && 'redirect_url' in response.data) {
                            location.replace("{% url 'web:redirect_page' %}?url=" + encodeURIComponent(response.data.redirect_url));
                        }
                    });
                }
            });

            contacts_autocomplete(items.supplier);

            $("#document_date, #entry_date").datepicker({
                dateFormat:"{{ date_format_js|escapejs }}"
            });

            var hash = get_url_hash();
            var element = $("#document_" + hash);

            if (element.length > 0) {
                element.children().addClass("selected");
                $('html,body').animate({scrollTop: element.offset().top}, 'fast');
            }

            $("a.paginator").unbind().click(function(e) {
                e.preventDefault();

                if ($(this).hasClass("disabled")) {
                    return false;
                }
            });
        });
    </script>
{% endblock %}

{% block extra_button %}
    <a id="add_document" class="extra-button">{% trans 'Add document' %}</a>
{% endblock %}

{% block status_bar_title %}
    {% trans 'Stock' %}
{% endblock %}

{% block manage_content %}
    <div class="left-column">
        <div id="filter_form" class="fake-form">
            <h3>{% trans "Search" %}</h3>

            <input id="general_filter" class="search-filter" type="text" placeholder="{% trans "Search query" context 'search documents' %}">

            <div id="filter_form_controls">
                <div class="split-cell last">
                    <input type="button" id="update_results" class="ok hoverable" value="{% trans "Search" %}">
                </div>

                <div class="cleared"></div>
            </div>
        </div>
    </div>

    <div id="documents">
        {% include "pos/manage/stock_header.html" %}

        <div id="documents_list">
            <table>
                <thead>
                    <tr>
                        <th>{% trans "Document number" %}</th>
                        <th>{% trans "Document date" %}</th>
                        <th>{% trans "Entry date" %}</th>
                        <th>{% trans "Datetime created" %}</th>
                        <th>{% trans "Supplier" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr id="document_input">
                        <td><input type="text" id="document_number" name="document_number" value="{% trans "document number from supplier" %}"/></td>
                        <td><input type="text" id="document_date" name="document_date" value="{% trans "document date" %}"/></td>
                        <td><input type="text" id="entry_date" name="entry_date" value="{% trans "entry date" %}"/></td>
                        <td>&nbsp;</td>
                        <td class="controls">
                            <input type="text" id="supplier" name="supplier" value="{% trans "supplier" %}"/>
                            <button id="save_document" class="save hoverable no-shadow"></button>
                        </td>
                    </tr>
                    {% for document in documents %}
                        <tr id="document_{{ document.id }}">
                            <td>{{ document.number }}</td>
                            <td>{{ document.document_date }}</td>
                            <td>{{ document.entry_date }}</td>
                            <td>{{ document.datetime_created }}</td>
                            <td>
                                {% if document.supplier.first_name and document.supplier.last_name %}
                                    {{ document.supplier.first_name }} {{ document.supplier.last_name }}
                                {% else %}
                                    {{ document.supplier.company_name }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% trans 'Documents: ' %}{{ documents.paginator.count }}

            <div class="pagination">
                <a href="{{ prev_url }}"
                   class="paginator {% if not documents.has_previous %}disabled{% endif %}"
                   data-action="previous">
                    <img src="{% static 'icons/back_black.png' %}"
                         class="hoverable"
                         alt="{% trans 'Back' context 'Paginator page button' %}"
                         title="{% trans 'Back' context 'Paginator page button' %}"/>
                </a>

                {% trans 'Page' %} {{ documents.number }} {% trans 'of' %} {{ documents.paginator.num_pages }}

                <a href="{{ next_url }}"
                   class="paginator {% if not documents.has_next %}disabled{% endif %}"
                   data-action="next">
                    <img src="{% static 'icons/forward_black.png' %}"
                         class="hoverable"
                         alt="{% trans 'Forward' context 'Paginator page button' %}"
                         title="{% trans 'Forward' context 'Paginator page button' %}"/>
                </a>
            </div>
        </div>
    </div>
{% endblock %}