{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% comment %} template for management section {% endcomment %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/managebase.css' %}" />

    <script type="text/javascript">
    $(document).ready(function(){
        // cancel button: on any static form, refresh the page on click
        $("#static_cancel").click(function(){
            // reload() doesn't do any good (browsers remember form values)
            window.location.href = window.location;
        });
    });
    </script>

    {% block section_head %}{% endblock %}
{% endblock %}

{% block status_bar_title %}{% endblock %}

{% block status_bar_logo %}
    <a href="{% url 'pos:terminal' company.url_name %}" title="{% trans 'Go to terminal' %}">
        <div id="logo" class="link">
            {# logo block will be replaced with link to management in terminal #}
            <img src="{% static 'icons/logo_black_sign.png' %}"
                 alt="{% trans 'Go to terminal' %}"
                 title="{% trans 'Go to terminal' %}"/>
        </div>
    </a>
{% endblock %}

{% block content %}
    <div id="management_content">
        {% comment %} block filled by manage templates {% endcomment %}
        {% block manage_content %}
            <span style="font-size:150px; margin: 50px;">Ch00s sumtin to manag, MOFO!</span>
        {% endblock %}
    </div>
{% endblock %}
