{% extends 'pos/base.html' %}
{% load static %}
{% load i18n %}

{% comment %} template for management section {% endcomment %}

{% block head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/managebase.css' %}" />

    <script type="text/javascript">
    $(document).ready(function(){
        // common javascript:
        // delete links: capture clicks and show a confirmation dialog; visit the delete url (add the id to POST data)
        $("a.delete-link").click(function(e){
            e.preventDefault();
            e.stopPropagation();

            var url = $(this).attr("href");
            var id = parseInt($(this).attr("data-id"));
            var title = $(this).attr("data-text");

            if(!id){
                console.error("Wrong id: " + id.toString());
                return;
            }

            confirmation_dialog(
                "{% trans 'Are you sure?' context 'delete confirmation dialog text' %}",
                title,
                function(){
                    // visit the url and send id in POST data
                    send_data(url, {id: id}, "{{ csrf_token }}", function(response){
                        if(response.status != 'ok'){
                            error_message("{% trans 'Could not delete object' %}", response.message);
                        }
                        else{
                            // the object has been deleted, reload the page
                            // window.location.reload() is no good because it prompts the user
                            // to resend search form data (if there's a search form)
                            window.location = window.location;
                        }
                    });
                },
                function(){
                    // close the dialog and do nothing
                    // (confirmation_dialog handles the closing etc.)
                }
            );
        });

        // cancel button: on any static form, refresh the page on click
        $("#static_cancel").click(function(){
            // reload() doesn't do any good (browsers remember form values)
            window.location.href = window.location;
        });
    });
    </script>

    {% block section_head %}{% endblock %}
{% endblock %}

{% block status_bar_title %}{% endblock %}

{% block status_bar_logo %}
    <a href="{% url 'pos:terminal' company.url_name %}" title="{% trans 'Go to terminal' %}">
        <div id="logo" class="link">
            {# logo block will be replaced with link to management in terminal #}
            <img src="{% static 'icons/logo_black_sign.png' %}"
                 alt="{% trans 'Go to terminal' %}"
                 title="{% trans 'Go to terminal' %}"/>
        </div>
    </a>
{% endblock %}

{% block content %}
    <div id="management_content">
        {% comment %} block filled by manage templates {% endcomment %}
        {% block manage_content %}
            <div id="management_hint">
                {% trans 'Choose what you want to manage from this menu.' %}
            </div>
        {% endblock %}
    </div>
{% endblock %}
