{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<script type="text/javascript">// <![CDATA[
function show_suggestions(data){
    div_obj = $("#suggestion_list");
    div_obj.empty();
    
    for(var i = 0; i < data.suggestions.length; i++){
        s = data.suggestions[i];
        
        entry = $("<p>", {"class":"suggestion-list-item"});
        entry.text(s);
        
        div_obj.append(entry);
        
        entry.click(function(){
            $("#id_url_name").val($(this).text());
        });
    }
}
                                           
$(document).ready(function(){
    // get url suggestions after #id_name loses fo\cus
    $("#id_name").blur(function(){
        send_data("{% url 'pos:url_name_suggestions' %}",
                {'name':$(this).val()},
                "{{ csrf_token }}",
                function(returned_data){
                    show_suggestions(returned_data);
                }
        );
    });
    
    // show image before upload
    $("#id_color_logo").change(function(){
        preview_image(this, "#logo", {{color_logo_dimensions.0}}, {{color_logo_dimensions.1}});
    });
});

// ]]>
</script>

{% endblock %}

{% block status_bar %}
    TEH STATUS IS EMPTY
{% endblock %}

{% block content %}
<img id="logo" src="">

<form action="{% url 'pos:register_company' %}" method="post"
      {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>

    {% csrf_token %}
    {{ form.non_field_errors }}
    <!-- name -->
    <div class="form_field">
        {{ form.name.errors }}
        <label for="id_name">{% trans 'Company name' %}:</label>
        {{ form.name }}
    </div>
    <!-- url -->
    <div class="form_field">
        {{ form.url_name.errors }}
        <label for="id_url_name">{% trans 'POS address' %}:</label>
        <div>
            {{ pos_url }} {{ form.url_name }} /
            <div id="suggestion_list"></div>
        </div> 
        <div class="help-text">
        {% blocktrans %}Your POS system will be accessible at this address.
        It can consist of characters, numbers and dashes only.
        You can make up your own or choose from the suggestions below.
        It can be changed later.
        {% endblocktrans %}</div>
    </div>
    <!-- logo -->
    <div class="form-field">
        {{ form.color_logo.errors }}
        <label for="id_color_logo">{% trans 'Company logo' %}:</label>
        {{ form.color_logo }}
        <div class="help-text">{% trans 'Allowed formats: TODO' %}</div>
    </div>
    <!-- e-mail -->
    <div class="form-field">
        {{ form.email.errors }}
        <label for="id_email">{% trans 'Contact e-mail' %}:</label>
        {{ form.email }}
        <div class="help-text">{% trans 'Official e-mail address of the company' %}</div>
    </div>
    <!-- street, number -->
    <div class="form-field">
        {{ form.street.errors }}
        <label for="id_street">{% trans 'Street address and house number' %}:</label>
        {{ form.street }}
    </div>
    <!-- post code -->
    <div class="form-field">
        {{ form.postcode.errors }}
        <label for="id_postcode">{% trans 'ZIP/Postal code' %}:</label>
        {{ form.postcode }}
    </div>
    <!-- city -->
    <div class="form-field">
        {{ form.city.errors }}
        <label for="id_city">{% trans 'City' %}:</label>
        {{ form.city }}
    </div>
    <!-- country -->
    <div class="form-field">
        {{ form.country.errors }}
        <label for="id_country">{% trans 'Country' %}:</label>
        {{ form.country }}
    </div>
    <!-- phone -->
    <div class="form-field">
        {{ form.phone.errors }}
        <label for="id_phone">{% trans 'Phone number' %}:</label>
        {{ form.phone }}
    </div>
    <!-- VAT exemption no. -->
    <div class="form-field">
        {{ form.vat_no.errors }}
        <label for="id_vat_no">{% trans 'VAT exemption number' %}:</label>
        {{ form.vat_no }}
    </div>
    <!-- notes -->
    <div class="form-field">
        {{ form.notes.errors }}
        <label for="id_notes">{% trans 'Additional info/notes' %}:</label>
        {{ form.notes }}
    </div>
    
    <p><input type="submit" value="{% trans 'Submit' %}" /></p>
</form>

{% endblock %}

