{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/management/taxes.css' %}" />
<style type="text/css">

</style>

<script type="text/javascript">
$(document).ready(function(){
    var tax_data = {% autoescape off %}{{ taxes }}{% endautoescape %};
    var tax_objects = [];

    var items = {
        table: $("#tax_table"),
        list: $("#tax_list"),
        add_button: $("#new_tax"),
        save_button: $("#save_taxes"),
        cancel_button: $("#cancel"),

        tax_template: $("#tax_template").detach().removeAttr("id")
    };

    var default_id = -1;

    Tax = function(data){
        var p = this;

        p.data = data;

        // copy the template row
        p.row = items.tax_template.clone();

        p.items = {
            read:{
                name: $(".name .read", p.row),
                amount: $(".amount .read", p.row)
            },
            edit:{
                name: $(".name .edit", p.row),
                amount: $(".amount .edit", p.row)
            },

            edit_button: $("button.edit", p.row),
            save_button: $("button.save", p.row),
            cancel_button: $("button.cancel", p.row),
            delete_button: $("button.delete", p.row)
        };

        p.list_item = $("<option>");

        //
        // methods
        //
        // edit
        // save
        // cancel
        // delete
        p.update_list_item = function(id, name){
            p.list_item.val(id);
            p.list_item.text(name);

            if(p.data.default){
                items.list.val(id);
                default_id = id;
            }
        };

        p.update_to_data = function(){
            p.update_list_item(data.id, data.name);
        };

        p.update_to_inputs = function(){
            p.update_list_item(p.data.id, p.items.edit.name.val());
        };

        p.delete_button_action = function(){
            // if this tax hasn't been saved yet (can't happen)
            if(p.data.id == -1){
                console.error("Deleting tax with id = -1");
                return;
            }

            // send a delete request to the server
            send_data("{% url 'pos:delete_tax' company.url_name %}",
                {id: p.data.id}, "{{ csrf_token }}",
                function(response){
                    if(response.status != 'ok'){
                        error_message(
                            "{% trans 'Could not delete tax' %}",
                            response.message
                        );
                    }
                    else{
                        // remove the tax from the list
                        p.list_item.remove();
                        // remove tax row
                        p.row.remove();
                        // remove row from the defaults list

                        var i;
                        for(i = 0; i < tax_objects.length; i++){
                            if(tax_objects[i] === p){
                                remove_from_array(tax_objects, i);
                                return;
                            }
                        }
                    }
            });
        };

        p.save_button_action = function(){
            // gather the data and send it to the server
            var data = {
                id: p.data.id,
                name: p.items.edit.name.val(),
                amount: p.items.edit.amount.val()
            };

            // send to server
            send_data("{% url 'pos:edit_tax' company.url_name %}",
                data, "{{ csrf_token }}",
                function(response){
                    if(response.status != 'ok'){
                        error_message(
                            "{% trans 'Saving tax failed' %}",
                            response.message
                        );
                    }
                    else{
                        // update the data and show readonly
                        p.data = response.data;
                        p.show_readonly();

                        // update the list item
                        p.update_to_data();
                    }
                });
        };

        p.show_readonly = function(){
            toggle_elements(p.items.read, true);
            toggle_elements(p.items.edit, false);

            p.items.edit_button.show();
            p.items.delete_button.show();

            p.items.save_button.hide();
            p.items.cancel_button.hide();

            p.items.read.name.text(p.data.name);
            p.items.read.amount.text(p.data.amount);
        };

        p.show_editable = function(){
            if(!{{ edit_permission | lower }}){
                error_message(
                    "{% trans 'Cannot edit tax' %}",
                    "{% trans 'You have no permission to edit taxes' %}"
                );
                return;
            }

            toggle_elements(p.items.read, false);
            toggle_elements(p.items.edit, true);

            p.items.edit_button.hide();
            p.items.delete_button.hide();

            p.items.save_button.show();
            p.items.cancel_button.show();

            p.items.edit.name.val(p.data.name);
            p.items.edit.amount.val(p.data.amount);

            // focus on tax name
            p.items.edit.name.focus();
        };

        //
        // init
        //
        // insert the row it into table
        items.table.append(p.row.show());

        // fill with read-only data
        p.show_readonly();

        // and insert another row in the tax list (for choosing the default tax)
        p.update_to_data();
        items.list.append(p.list_item);

        // buttons
        p.items.edit_button.unbind().click(function(){
            p.show_editable();
        });

        p.items.cancel_button.unbind().click(function(){
            p.show_readonly();
        });
        p.items.delete_button.unbind().click(p.delete_button_action);
        p.items.save_button.unbind().click(p.save_button_action);

        // when name changes, reflect it in the list
        p.items.edit.name.unbind().change(p.update_to_inputs);
    };

    // create taxes
    var i;
    for(i = 0; i < tax_data.length; i++){
        tax_objects.push(new Tax(tax_data[i]));
    }

    // select the default tax
    if(default_id != -1){
        items.list.val(default_id);
    }

    // the 'add tax' button
    items.add_button.click(function(){
        // create a a new tax with id=-1 and blank values
        var new_data = {
            name: "",
            amount: "0",
            id: -1,
            'default': false
        };

        var tax = new Tax(new_data);
        tax_objects.push(tax);
        tax.show_editable();
    });

    // the 'set default' select box
    items.list.change(function(){
        // send {id:<selected tax id>} to server
        send_data("{% url 'pos:set_default_tax' company.url_name %}",
            {id:$(this).val()}, "{{ csrf_token }}",
            function(response){
                if(response.status != 'ok'){
                    error_message("{% trans 'Could not set default tax' %}", response.message);
                }
                else{
                    // nothing to do, everything is selected already
                }
        });
    });
});
</script>

{% endblock %}

{% block status_bar_title %} {% trans 'Taxes' %} {% endblock %}

{% block extra_button %}
    <a href="#" id="new_tax" class="extra-button">
        {% trans 'Add Tax' %}</a>
{% endblock %}

{% block manage_content %}
    <p>{% trans 'Choose default tax' %}</p>
    <p class="explanation">
        {% trans 'This will be chosen by default when adding new products' %}
    </p>
    <select id="tax_list"></select>

    <table>
        <thead>
            <tr>
                <td>{% trans 'Name (optional)' %}</td>
                <td>{% trans 'Amount' %} (%)</td>
                <td></td>{% comment %} new and delete buttons {% endcomment %}
            </tr>
        </thead>

        <tbody id="tax_table">
            <tr id="tax_template" class="tax hidden">
                <td class="name">
                    <span class="read"></span>
                    <input type="text"
                           maxlength="{{ max_name_length }}"
                           class="edit hidden" />
                </td>
                <td class="amount">
                    <span class="read"></span>
                    <input type="text"
                           class="edit hidden" />
                </td>
                <td class="controls">
                    {% comment %} edit, delete, save and cancel buttons {% endcomment %}
                    <button class="edit">edit</button>
                    <button class="delete">delete</button>
                    <button class="save hidden">save</button>
                    <button class="cancel hidden">cancel</button>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}

