{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/management/tills.css' %}" />
{% endblock %}

{% block status_bar_title %}{% trans 'Registers' %}{% endblock %}

{% block extra_button %}
    <a class="extra-button"
       href="{% url 'pos:add_register' company.url_name %}">
        {% trans 'Add Register' %}
    </a>
{% endblock %}

{% block manage_content %}
    {# the list of registers: on the left #}
    <div class="content">
        <table id="registers">
            <thead>
                {# include: register name, receipt format and type, and location #}
                <tr>
                    <td class="name">{% trans 'Register Name' %}</td>
                    <td class="format">{% trans 'Receipt Format' %}</td>
                    <td class="type">{% trans 'Receipt Type' %}</td>
                    <td class="location">{% trans 'Location' %}</td>
                    <td class="controls">{# edit and delete links #}</td>
                </tr>
            </thead>

            <tbody>
                {% for r in registers %}
                <tr>
                    <td class="name">{# register name is a link to edit form #}
                        <a href="{% url 'pos:edit_register' company.url_name r.id %}"> {{ r.name }} </a>
                    </td>
                    <td class="format">{{ r.get_receipt_format_display }}</td>
                    <td class="type">{{ r.get_receipt_type_display }}</td>
                    <td class="location">{{ r.location }}</td>
                    <td class="controls">
                        <a href="{% url 'pos:delete_register' company.url_name %}"
                           data-id="{{ r.id }}"
                           class="delete-link">
                            <img src="{% static 'icons/delete_black.png' %}"
                                 alt="{% trans 'Delete' %}"
                                 title="{% trans 'Delete' %}" />
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}

