{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% comment %} add/edit register form {% endcomment %}

{% block section_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/management/tills.css' %}"/>
{% endblock %}

{% block status_bar_title %}{% trans 'Add a register' context 'page title' %}{% endblock %}

{% block manage_content %}
    <div class="edit-container">
        {% if add %}
            <form action="{% url 'pos:add_register' company.url_name %}" method="post">
        {% else %}
            <form action="{% url 'pos:edit_register' company.url_name register_id %}" method="post">
        {% endif %}

            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="form-field">
                <div class="error">{{ form.name.errors }}</div>
                {{ form.name.label_tag }}
                {{ form.name }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.receipt_format.errors }}</div>
                {{ form.receipt_format.label_tag }}
                {{ form.receipt_format }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.receipt_type.errors }}</div>
                {{ form.receipt_type.label_tag }}
                {{ form.receipt_type }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.print_logo.errors }}</div>
                {{ form.print_logo.label_tag }}
                {{ form.print_logo }}
            </div>

            <div class="form-field clear-floats">
                <div class="error">{{ form.location.errors }}</div>
                {{ form.location.label_tag }}
                {{ form.location }}
            </div>

            <div class="form-field">
                <div class="error">{{ form.print_location.errors }}</div>
                {{ form.print_location.label_tag }}
                {{ form.print_location }}
            </div>

            <div class="form-field clear-floats">
                <div class="split-cell first">
                    <a class="button cancel hoverable"
                       href="{% url 'pos:list_registers' company.url_name %}">{% trans 'Cancel' %}</a>
                </div>
                <div class="split-cell last">
                    <input type="submit" value="{% trans 'Save' %}" class="hoverable" />
                </div>
            </div>
        </form>
    </div>
{% endblock %}

