{% extends "pos/manage/manage.html" %}
{% load static %}
{% load i18n %}

{% block section_head %}
<link type="text/css" rel="stylesheet" href="{% static 'css/management/config.css' %}" />
<script type="text/javascript">
$(document).ready(function(){
    $("img.currency").click(function(){
        $("#id_currency").val($(this).attr("data-character"));
    });
});
</script>
{% endblock %}

{% block status_bar_title %}{% trans 'User settings' %}{% endblock %}

{# no extra buttons this time {% block extra_button %} {% endblock %} #}

{% block manage_content %}
<form action="{% url 'pos:user_settings' company.url_name %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="management-column">
        <div class="form-field">
            <div class="error">{{ form.product_button_size.errors }}</div>
            {{ form.product_button_size.label_tag }}
            {{ form.product_button_size }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.product_display.errors }}</div>
            {{ form.product_display.label_tag }}
            {{ form.product_display }}
        </div>

        <div class="form-field">
            <div class="error">{{ form.display_breadcrumbs.errors }}</div>
            {{ form.display_breadcrumbs.label_tag }}
            {{ form.display_breadcrumbs }}
        </div>

        <div class="form-field no-label">
            <div class="split-cell first">
                <input type="button" id="static_cancel" value="{% trans 'Cancel' %}" class="hoverable" />
            </div>
            <div class="split-cell last">
                <input type="submit" value="{% trans 'Save' %}" class="hoverable" />
            </div>
        </div>

    </div>
</form>

{% endblock %}

