{% extends "site/bootstrap.html" %}
{% load i18n %}
{% load static %}

{% block content %}
    <section>
        <div class="container">
            <h2>{% trans 'Awaiting actions' %}</h2>

            {% if actions|length %}
                {% for a in actions %}
                    asdf asdf asdf
                {% endfor %}
            {% else %}
                <p>{% trans 'You have no pending actions.' %}</p>
            {% endif %}
        </div>
    </section>

    <section>
    <div class="container">
        <h2>{% trans 'Your companies' %}</h2>

        {% if companies|length %}
            <p>{% trans 'You are not part of any company yet.' %}</p>
            <p>{% trans 'Create your own company or wait for an invite.' %}</p>
        {% else %}
            {% for c in companies %}

            {% endfor %}
        {% endif %}
    </div>

    </section>
{% endblock %}

