{% extends 'site/bootstrap.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }} - {{ site_title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'bootstrap/sign_up.css' %}" />
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    {% trans 'Join the future in retail business.' %}
                    <p class="free-ad">
                        {% trans 'Register for free.' %}
                    </p>
                </div>
                <form action="" >
                    <div class="col-md-4">
                        <div class="form-field">
                            {{ user_form.first_name.label_tag }}
                            {{ user_form.first_name}}
                        </div>

                        <div class="form-field">
                            {{ user_form.last_name.label_tag }}
                            {{ user_form.last_name }}
                        </div>

                        <div class="form-field">
                            {{ user_form.email.label_tag }}
                            {{ user_form.email }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-field">
                            {{ user_form.password1.label_tag }}
                            {{ user_form.password1 }}
                        </div>
                        <div class="form-field">
                            {{ user_form.password2.label_tag }}
                            {{ user_form.password2 }}
                        </div>

                        <div class="form-field">
                            <input type="submit" class="buttons" value="{% trans 'Register' %}" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}