{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load i18n %}

{% block head %}
<style type="text/css">
img.category-placeholder{
    width:{{image_dimensions.0}}px;
    height:{{image_dimensions.1}}px;
}
</style>
{% endblock %}

{% block manage_content %}

<a href="{% url 'pos:add_category' company.url_name -1 %}">Add category</a><br />

{% for c in categories %}
    {{c.level}}
    {% thumbnail c.image image_dimensions.2 as im %}
        <img src="{{ im.url }}">
    {% empty %}
        <img src="{% static 'placeholder.png' %}" class="category-placeholder">
    {% endthumbnail %}

{% if c.image %}{% endif %}
    <a href="{% url 'pos:edit_category' company.url_name c.id %}">{{c.name}}</a>
    <a href="{% url 'pos:add_category' company.url_name c.id %}">Add subcagetory</a>
    <a href="{% url 'pos:delete_category' company.url_name c.id %}">Delete</a><br />
{% endfor %}
{% endblock %}
