{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<style type="text/css">
img.category-placeholder{
    width:{{ image_dimensions.0 }}px;
    height:{{ image_dimensions.1 }}px;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
    $("#id_image").change(function(){
        preview_image(this, "#image", {{image_dimensions.0}}, {{image_dimensions.1}});
    });
})
</script>

{% endblock %}

{% block manage_content %}
{% if category.image %}
    <img id="image" src="{{ category.image.url }}" />
{% else %}
    <img id="image" src="{% static 'placeholder.png' %}" class="category-placeholder" />
{% endif %}

{% comment %} two different urls for adding and editing categories {% endcomment %}
{% if add %}
    <form action="{% url 'pos:add_category' company.url_name parent_id %}" method="post" enctype="multipart/form-data">
{% else %}
    <form action="{% url 'pos:edit_category' company.url_name category_id %}" method="post" enctype="multipart/form-data">
{% endif %} 
    {% csrf_token %}
    {% for field in form %}
        <div class="form-field-container">
        {% if field.errors %}
            <div class="form-field-error">{{ field.errors }}</div>
        {% endif %}
        <div class="field-label-tag">{{ field.label_tag }}</div>
        <div class="form-field">{{ field }}</div>
        </div>
    {% endfor %}
    <p><input type="submit" value="{% trans 'Save' %}" /></p>
    <p><a href="{% url 'pos:list_categories' company.url_name %}">Cancel</a></p>
    {% if not add %}
        <p><a href="{% url 'pos:delete_category' company.url_name category_id %}">{% trans 'Delete' %}</a></p>
    {% endif %}
</form>

{% endblock %}

