{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load i18n %}
{% block head %}
<script type="text/javascript">
$(document).ready(function(){
    $("#id_image").change(function(){
        preview_image(this, "#logo", {{logo_dimensions.0}}, {{logo_dimensions.1}});
    });
})

</script>
{% endblock %}

{% block manage_content %}
<!-- <div id="logo_container"></div> -->
<img id="logo" src="{% if company.image %}{{ company.image.url }}{% else %}#{% endif %}" alt="company_logo">

<form action="{% url 'pos:edit_company' company.url_name %}" method="post" enctype="multipart/form-data">
    {{ form.non_field_errors }}
    {% csrf_token %}
    {% for field in form %}
        <div class="form_field_container">
            {% if field.errors %}
            <div class="form_field_error">{{ field.errors }}</div>
            {% endif %}
            <div class="field_label_tag">{{ field.label_tag }}</div>
            <div class="form_field">
            {% ifequal field.name 'image' %}
                {% comment %} take special care of the image upload field {% endcomment %}
                <input id="image-clear_id" name="image-clear" type="checkbox" /> <label for="image-clear_id">{% trans 'Delete' %}</label>
                <input id="id_image" name="image" type="file" />
            {% else %}
                {{ field }}
            {% endifequal %}
            </div>
        </div>
    {% endfor %}
    <p><input type="submit" value="{% trans 'Save' %}" /></p>
</form>

<p>TODO: remove POS account</p>

{% endblock %}