{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load i18n %}

{% comment %} add/edit contact form {% endcomment %}

{% block head %}

<script type="text/javascript">
individual_fields = ["first_name", "last_name", "date_of_birth"];    
company_fields = ["company_name", "vat"];

$(document).ready(function(){
    function render_fields(fields, show){
        for(var i = 0; i < fields.length; i++){
            obj = $("#id_" + fields[i] + "_container");
            if(show) obj.show();
            else obj.hide();
        }
    }

    // use datepicker on all date inputs
    $("#id_date_of_birth").datepicker({
    	dateFormat:"{{ date_format_jquery|escapejs }}"
    });
    
    $("#id_type").change(function(){
        // when the contact type listbox changes, hide and show relevant inputs
        if($("#id_type").val() == "Individual") individual = true;
        else individual = false;
        
        if(individual){
            // show only field for individual contact type
            render_fields(individual_fields, true);
            render_fields(company_fields, false);
        }
        else{
            // show only fields for company type
            render_fields(individual_fields, false);
            render_fields(company_fields, true);
        }
    });
    
    // force the correct fields from start
    $("#id_type").change();
});

</script>

{% endblock %}

{% block manage_content %}
{% if add %}
    <form action="{% url 'pos:add_contact' company.url_name %}" method="post">
{% else %}
    <form action="{% url 'pos:edit_contact' company.url_name contact_id %}" method="post">
{% endif %}
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <div class="form-field-container" id="{{field.auto_id}}_container">
        {% if field.errors %}
            <div class="form-field-error">{{ field.errors }}</div>
        {% endif %}
        <div class="field-label-tag">{{ field.label_tag }}</div>
        <div class="form-field">{{ field }}</div>
        </div>
    {% endfor %}
    <p><input type="submit" value="{% trans 'Save' %}" />
<a href="{% url 'pos:list_contacts' company.url_name %}">{% trans 'Cancel' %}</a></p>
</form>

{% endblock %}

