{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load i18n %}


{% block manage_content %}

{% comment %} filter contacts {% endcomment %}
<form method="post" action="{% url 'pos:list_discounts' company.url_name %}">
{{ filter_form.as_p }}
{% csrf_token %}
<input type="submit" value="submit" />
</form>

{% comment %} add contact {% endcomment %}
<p><a href="{% url 'pos:add_discount' company.url_name %}">{% trans 'Add' %}</a></p>

{% for d in discounts %}
    <p>{{ d.code }}</p>
    <p>{{ d.description }}
    <a href="{% url 'pos:edit_discount' company.url_name d.id %}">{% trans 'Edit' %}</a>
    <a href="{% url 'pos:delete_discount' company.url_name d.id  %}">{% trans 'Delete' %}</a>
    </p>
{% endfor %}

{% comment %} paginator pages {% endcomment %}
<div class="paginator">
    {% for p in paginator.page_range %}
        <a href="?page={{p}}" {% comment %} django templates can only compare strings{% endcomment %}
            {% if p|stringformat:"s" == current_page|stringformat:"s" %} class="current_page"{% endif %}>
            &nbsp;{{p}}&nbsp;</a>
        {% if not forloop.last %}|{% endif %}
    {% endfor %}
</div>


{% endblock %}

