{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
<style type="text/css">
img.preview-product{
    max-width:{{ image_dimensions.0 }}px;
    max-height:{{ image_dimensions.1 }}px;
}
</style>



{% comment %}
javascript:
    1. get from server:
        - list of categories
        - list of units
        - list of available discounts (all_discounts)
    2. if search criteria has changed, get results from server:
        on change or 'update' button press: update_products() >
         > after data is received: show_products > for each product: render_product()
    3. show product:
        - render_product(product) > show all product data in a cloned product_details div >
         > edit button: show_product_edit_dialog(), delete button > delete_product()
    4. editing product:
        - show_product_edit_dialog() > clear edit_dialog div and add all product's data to edit boxes etc.
        - adding/deleting discounts > add_discount(): adds a list item to discounts' ul >
         > refresh() discounts: clears ul and re-adds all selected products > discounts that are available to add are in all_discounts
        - save: save_product(): if it's a new product, id = -1, send to server > update_products();
           if it's an existing product, send to server > redraw the existing product in its parent div > render_product()
        - delete: ask for confirmation > send to server
        
product's data:
    show_products() assigns a new parent_div to product > parent_div.data({product:product}) holds all info on this product
     > gets overwritten on save, is untouched on cancel

reference to a product is its parent div (that contains product's .data()).

{% endcomment %}
<script type="text/javascript">


var categories = []; // list of pairs "label", "value"
var units = [];
var all_discounts = {};

var last_value;
var update_timeout;

check_interval_duration = 500;
update_timeout_duration = 1500;

$(document).ready(function(){
    // functions:
    function update_products(){
        // update products when search criteria has changed (gets called on timeout or on click)
        // assemble a JSON object with all search criteria and pass it to the view
        search_criteria = {
            general_filter:$("#general_filter").val(),
        };
        
        if(adv_chk_obj.prop("checked") == true){
            // add criteria from the advanced div
            $(".filter").each(function(){
                if($(this).val()){
                    search_criteria[$(this).attr("id")] = $(this).val(); 
                }
            });
            // add the category id (stored in .data())
            cat_fil_id = "category_filter";
            search_criteria[cat_fil_id] = $("#" + cat_fil_id).data().id;
        }
        
        // send to the view
        send_data("{% url 'pos:search_products' company.url_name %}",
                search_criteria, "{{ csrf_token }}", function(recv_data){
                    show_products(recv_data);
        });
        return false;
    }
    
    function show_products(data){
        // show products that search returned
        // clear products div
        products_div = $("#products_list");
        products_div.empty();
        
        if(data.length == 0){
            products_div.append("{% trans 'No products found' %}");
        }
        
        var i;
        for(i=0; i<data.length; i++){
            // make a div for each product
            parent_div = $("<div>", {"class":"product-details"});
            products_div.append(parent_div);
            
            // save product to .data()
            parent_div.data({product:data[i]});
            render_product(parent_div);
        }
    }
    
    function render_product(parent){
        var tmp_obj, i;
        
        // product details include:
        // name                        | price / unit_type
        //           | category        | tax 
        //   image   | description     | discounts
        //           | private_notes   | stock
        // shop_code | code 
        
        // update this div
        div_obj = parent;
        product = parent.data().product;
        
        // empty parent and copy all stuff from #product_details_template to it
        div_obj.empty();
        div_obj.append($("#product_details_template > table").clone());
        
        // add product data to data()
        div_obj.data(product);
        // name
        $(".product-name", div_obj).append(product.name);
        // price and unit
        tmp_obj = $(".product-price", div_obj);
        tmp_obj.append("{% trans 'Price' %}: {{ currency }} " + product.price +
                " / " + product.unit_type_display);
        // image
        tmp_obj = $("<img>");
        show_image(product, tmp_obj);
        $(".product-image", div_obj).append(tmp_obj);

        // category
        $(".product-category", div_obj).append("{% trans 'Category' %}: " + product.category);
        // tax
        $(".product-tax", div_obj).append("{% trans 'Tax' %}: " + product.tax + "%");
        // description
        $(".product-description", div_obj).append(product.description);
        // discount list
        tmp_obj = $(".product-discounts", div_obj);
        var li_obj;
        for(var key in product.discounts){
            li_obj = $("<li>", {title:""});
            li_obj.append(product.discounts[key].code + " " +
                discount_amount(product.discounts[key]));
            
            // tooltip:
            discount_tooltip(product.discounts[key], li_obj);
            tmp_obj.append(li_obj);
        }
        
        // private notes
        $(".product-private-notes", div_obj).append(product.private_notes);
        // stock
        if(product.stock){
            $(".product-stock", div_obj).append(product.stock + " " + 
                product.unit_type_display + " {% trans 'left in stock' %}");
        }
        
        // shop code
        $(".product-shop-code", div_obj).append(product.shop_code);
        // code
        $(".product-code", div_obj).append(product.code);
        
        // if a user has no permission to edit/delete, don't show buttons
        manage_obj = $(".product-management", div_obj);
        edit_button = $("input.product-edit-button", manage_obj);
        delete_button = $("input.product-delete-button", manage_obj);
        
        if({{can_edit|lower}}){
            // enable and add functionality to:
            // edit button
            edit_button.prop('disabled', false);
            edit_button.click(function(){
                show_product_edit_dialog(parent);
            });
            // delete button
            delete_button.prop('disabled', false);
            delete_button.click(function(){
                delete_product(parent);
            });
        }
        else{
            // just disable
            edit_button.prop('disabled', true);
            delete_button.prop('disabled', true);
        }
        
        div_obj.show();
    }
    
    function discount_amount(discount){
        if(discount.type == 'Percent') return " (" + discount.amount + "%)";
        else return " ({{currency}} " + discount.amount + ")";
    }
    
    function discount_tooltip(discount, li_obj){
    	// tooltip - discount details
        var tooltip = "";
        
        // tooltip = discount.code + "<br/>" // discount code (already in the <li>)
        tooltip += discount.description + "<br/>" // description
        
        // if no dates are set, show 'no date limit', otherwise 'from ... to ...'
        if(!discount.start_date && !discount.end_date){
        	tooltip += "{% trans 'No date limits' %}"
        }
        else{
        	if(discount.start_date) tooltip += "{% trans 'from' %} " + discount.start_date 
    		if(discount.end_date) tooltip += " {% trans 'to' %} " + discount.end_date
        }
        
        // TODO: set style for inactive discount
        if(!discount.active) tooltip += "<br/>{% trans 'inactive' %}" // active
        
        li_obj.tooltip({content:tooltip});
    }
    
    function add_discount(ul_obj, product, key){
        // add a list item and a delete link to product edit dialog
        if(!product.discounts[key]) return;
        else discount = product.discounts[key];
        
        li_obj = $("<li>", {title:""});
        li_obj.data({id:discount.id}); // store id in data() for later retrieval
        
        discount_tooltip(discount, li_obj);
        
        // delete button
        btn_obj = $("<input>", {type:"button", value:"x","class":"delete-discount"});
        btn_obj.click(function(){
        	if(key in product.discounts) delete product.discounts[key];
            refresh_discounts(product);
        });
        li_obj.append(discount.code + " " + discount_amount(discount));
        li_obj.append(btn_obj);
        ul_obj.append(li_obj);
    }
    
    function refresh_discounts(product){
        // clear everything discount-related and redraw
        ul_obj = $("#edit_dialog #edit_discounts");
        ul_obj.empty();
        
        // add discounts in product
        for(var key in product.discounts){
            add_discount(ul_obj, product, key);
        }
        
        // add another item, this time with all available discounts
        // in a listbox and an 'add' button
        li_obj = $("<li>")
        sel_obj = $("<select>", {id:"edit_discount_list"});
        //btn_obj = $("<input>", {type:"button",value:"{% trans 'Add' %}"});
        li_obj.append(sel_obj);
        //li_obj.append(btn_obj);
        li_obj.data({id:false}); // don't store or send this item
        ul_obj.append(li_obj);
        
        // add discounts NOT in product to add listbox
        var added = 0;
        for(var key in all_discounts){
            if(key in product.discounts) continue;
            
            opt_obj = $("<option>")
            .attr("value", key)
            .append(all_discounts[key].code + " " + discount_amount(all_discounts[key]));
            
            sel_obj.append(opt_obj);
            added++;
        }
        // only add the listbox if there's anything to add
        if(added > 0){
            // unselect the first item in listbox to avoid confusion
            sel_obj.prop("selectedIndex", -1);
            
            //btn_obj.click(function(){ // add button
            sel_obj.unbind().change(function(){ // no add buttons
                d_id = $(":selected", sel_obj).val();
                
                // add data to product
                product.discounts[d_id] = all_discounts[d_id];
                refresh_discounts(product);
            });
        }
        else{
            // remove the last, 'add' entry
            li_obj.remove();
        }
    }
    
    function upload_image_status(status, save_obj, del_obj, upl_obj, img_obj){
    	var show, hide;
    	
    	switch(status){
    	   case 'image':
    		   // product has image and it is not being edited
    		   show = [save_obj, del_obj, img_obj];
    		   hide = [upl_obj];
    		   break;
    	   case 'no_image':
               // product has no image and it is not being edited
               show = [save_obj, upl_obj, img_obj];
               hide = [del_obj];
    		   break;
    	   case 'uploading':
    		   // image is uploading
    		   show = [img_obj];
    		   hide = [save_obj, del_obj, upl_obj];
    		   break;
    	}
    	
    	for(i = 0; i < show.length; i++) show[i].show();
    	for(i = 0; i < hide.length; i++) hide[i].hide();
    }
        
    function show_image(product, obj){
    	if(!product.image){
    		// show 'placeholder' image
    		obj.attr("src", "{% static 'placeholder.png' %}");
    		obj.attr("alt", product.name);
    		obj.addClass("preview-product");
    	}
    	else{
    		// show the real image
    		obj.attr("src", product.image);
    		obj.attr("alt", "{% trans 'No image' %}");
    		obj.removeClass("preview-product");
    	}
    }
    
    function show_product_edit_dialog(parent){
        var i;
        
        product = parent.data().product;
        
        edit_obj = $("#edit_dialog");
        
        // save button (unbind previously bound objects)
        save_btn_obj = $("#edit_product_save", edit_obj) 
        save_btn_obj.unbind().click(function(){
            save_product(parent);
        });
        
        // cancel button
        $("#edit_product_cancel", edit_obj).unbind().click(function(){
            // reload the product
            get_product(parent);
            // destroy the dialog (content will be deleted when it opens again)
            edit_obj.dialog(edit_obj).dialog("destroy");
        });
        
        // init all fields
        $("#edit_product_name", edit_obj).val(product.name).focus();
        $("#edit_product_price", edit_obj).val(product.price);
        // ... per unit (listbox with unit types)
        var sel_obj = $("#edit_unit_type", edit_obj);
        
        for(i=0; i<units.length;i++){
            opt_obj = $("<option>")
                .attr("value", units[i].value)
                .text(units[i].name);
            
            if(units[i].value == product.unit_type){
                opt_obj.attr("selected", "selected");
            }
            
            sel_obj.append(opt_obj);
        }
        
        // listbox with categories
        sel_obj = $("#edit_product_category", edit_obj).empty();
        
        for(i=0; i < categories.length; i++){
            opt_obj = $("<option>")
            .attr("value", categories[i].value)
            .append(categories[i].label);
            
            if(categories[i].label == product.category){
                opt_obj.attr("selected", "selected");
            }
            sel_obj.append(opt_obj);
        }
        
        // product image
        del_obj = $("#edit_product_delete_image", edit_obj);
        upl_obj = $("#edit_product_image_upload", edit_obj);
        img_obj = $("#edit_product_image", edit_obj);

        // reset the upload control (.val() doesn't work for security reasons)
        $("#edit_product_image_input_form").get(0).reset();

        // show product image, if it exists
        show_image(product, img_obj);

        product.change_image = false;
        
        // upload <input>: preview image on upload and store base64 data for sending to server
        upl_obj.unbind().change(function(){
        	// get image (base64) and store it to .data()
            obj = upl_obj.get(0);

            // filetype filter
            rFilter = /^image\/(?:{{ image_upload_formats }})$/i; {% comment %}  {% endcomment %}

            f = f = obj.files[0]
            if(obj.files && f){ // check for browser compatibility
            	var reader = new FileReader();
                // read the file
                reader.onload = function(e){
                    // check file type
                    if (!rFilter.test(f.type)){
                    	alert("{% trans 'Wrong file type for the uploaded image!' %}");
                    	upload_image_status('no_image', save_btn_obj, del_obj, upl_obj, img_obj);
                        return null;
                    }
                    if(f.size > {{ max_upload_size_bytes }}){
                    	alert("{% trans 'File too large, maximum size for upload is' %} {{ max_upload_size }} MB");
                    	upload_image_status('no_image', save_btn_obj, del_obj, upl_obj, img_obj);
                    	return null;
                    }
                    
                    // store the file in output
                    product.image_data = e.target.result;
                    
                    // preview image
                    // show_image() cannot be used here because we're showing image from data:, no from url
                    img_obj.attr("src", product.image_data);
                    img_obj.attr("alt", product.name);
                    
                    // update dialog
                    upload_image_status('image', save_btn_obj, del_obj, upl_obj, img_obj);
                }
                reader.readAsDataURL(obj.files[0]);
                // disable the save() button until everything is uploaded
                upload_image_status('uploading', save_btn_obj, del_obj, upl_obj, img_obj);
                // image will have to be uploaded
                product.change_image = true;
            }
            
            del_obj.show();
            upl_obj.hide();
        });
        
        del_obj.unbind().click(function(){
            // show/hide controls
            upload_image_status('no_image', save_btn_obj, del_obj, upl_obj, img_obj);
            
            // image was changed
            product.change_image = true;
            // nothing to upload
            product.image_data = null;
            // and also nothing to show
            product.image = null;
            // delete image source and name
            show_image(product, img_obj);
        });
        
        if(product.image){
        	// product already has an image: show it
        	show_image(product, img_obj);
        	upload_image_status('image', save_btn_obj, del_obj, upl_obj, img_obj);
        }
        else{
        	upload_image_status('no_image', save_btn_obj, del_obj, upl_obj, img_obj);
        }
        
        // tax
        $("#edit_product_tax", edit_obj).val(product.tax);
        $("#edit_product_description", edit_obj).val(product.description);
        $("#edit_product_price", edit_obj).val(product.price);
        
        // discounts
        // add to list
        ul_obj = $("#edit_discounts", edit_obj);
        ul_obj.empty();
        var discount = "";
        var btn_obj = "";
        
        // for the first time
        refresh_discounts(product);
        
        $("#edit_product_private_notes", edit_obj).val(product.private_notes);
        $("#edit_product_stock", edit_obj).val(product.stock);
        $("#edit_product_shop_code", edit_obj).val(product.shop_code);
        $("#edit_product_code", edit_obj).val(product.code);
        
        // show the edit dialog
        edit_obj.dialog({
            modal: true
        });
        
        // set dialog title: if there's no name, it's for adding new product
        if(product.name)
            edit_obj.dialog('option', 'title', "{% trans 'Edit product' %}: " + product.name);
        else
            edit_obj.dialog('option', 'title', "{% trans 'Add product' %}");
        
        edit_obj.dialog('option', 'width', 900); // TODO: remove fixed width
    }
    
    function get_product(parent){
        // get product's data from the server and put
        // it where it was before (product.parent)
        get_data(parent.data().product.get_url, function(data){
            parent.data({product:data});
            render_product(parent);
        });
        
        // close the dialog
        $("#edit_dialog").dialog("destroy");
    }
    
    function save_product(parent){
        // get product's data from the dialog and send
        // id
        // price - numeric value
        // unit type
        // discounts - list of discount ids
        // image_changed
        // image
        // category - id
        // code
        // shop code
        // description
        // private notes
        // tax
        // stock
        product = parent.data().product;
        
        dlg_obj = $("#edit_dialog");
        
        data = {};
        data['id'] = product.id;
        data['name'] = $("#edit_product_name", dlg_obj).val();
        data['price'] = $("#edit_product_price", dlg_obj).val();
        data['unit_type'] = $("#edit_unit_type :selected", dlg_obj).val();
        // image: if changed, encode uploaded image to base64
        data['change_image'] = product.change_image;
        if(product.change_image) data['image'] = product.image_data
        
        data['category'] = $("#edit_product_category", dlg_obj).val();
        data['tax'] = $("#edit_product_tax", dlg_obj).val();
        data['description'] = $("#edit_product_description", dlg_obj).val();
        // discounts: get all <li> items and put them into an array
        discounts = [];
        $("ul#edit_discounts li", dlg_obj).each(function(){
            id = $(this).data().id;
            if(id) discounts.push(id); // the last entry is the listbox and button, don't add that
        });
        data['discounts'] = discounts;
        data['private_notes'] = $("#edit_product_private_notes", dlg_obj).val();
        data['stock'] = $("#edit_product_stock", dlg_obj).val();
        data['shop_code'] = $("#edit_product_shop_code", dlg_obj).val();
        data['code'] = $("#edit_product_code", dlg_obj).val();
        
        if(data['id'] == "-1"){
            // it's a new product
            // refresh search criteria
            send_data("{{ add_url }}", data, "{{csrf_token}}",
                function(response){
                    if(response.status != 'ok') alert(response.message);
                    else{
                        // re-do the current search and close the dialog
                        update_products();
                        dlg_obj.dialog("destroy");
                    }
                }
            );
        }
        else{
            // the product's been edited
            // send data to server and update the div with the retrieved 'cleaned' data
            send_data(product.edit_url, data, "{{csrf_token}}",
                function(response){
                    if(response.status != 'ok') alert(response.message);
                    else get_product(parent);
                }
            );
        }
    }
    
    function delete_product(parent){
    	product = parent.data().product;
        // confirm deletion
        if(confirm("{% trans 'Delete product ' %} '" + product.name + "'?")){
            // TODO: GET or POST method? CSRF tokens? security?
            get_data(product.delete_url, function(data){
                if(data.status != 'ok') alert(data.message);
                else{
                    // remove the product's div and delete the variable
                    parent.remove();
                }
            });
        }
    }
    
    ////////////////////
    // data retrieval
    ////////////////////
    // categories list
    get_data("{% url 'pos:JSON_categories' company.url_name %}",
        function(data){
            // convert categories' data from the server to a list for autocomplete data:
            // (server:client)
            // name > label
            // id > value
            categories = [];
            for(var i = 0; i < data.length; i++){
                categories.push({label:data[i].breadcrumbs, value:data[i].id})
            }
            return false;
        }
    );
    
    // unit types
    get_data("{% url 'pos:JSON_units' company.url_name %}",
        function(data){
            units = [];
            for(var i=0; i<data.length; i++){
                units.push({"value":data[i][0], "name":data[i][1]});
            }
            return false;
        }
    );

    // discounts
    get_data("{% url 'pos:JSON_discounts' company.url_name %}",
        function(data){
            all_discounts = data;
        }
    );
    
    ////////////////////
    // searching
    ////////////////////
    gf_obj = $("#general_filter");
    gf_obj.keypress(function(e){
        if(e.which == 13){ // enter pressed
            update_products();
        }
    });
    
    // hide the template
    $("div#product_details_template").hide();
    $("div#edit_dialog").hide();
    
    // general products search box timers
    setInterval(function(){ // check for change
        new_value = gf_obj.val(); 
        if(last_value != new_value){
            if(new_value.length < 2) return;
            last_value = new_value; // changed, update products
            clearTimeout(update_timeout);
            update_timeout = setTimeout(update_products, update_timeout_duration);
        }
        return false;
    }, check_interval_duration);
        
    // advanced search div
    adv_div_obj = $("#advanced_search"); 
    adv_div_obj.hide();
    
    adv_chk_obj = $("#advanced_search_toggle");
    
    adv_chk_obj.change(function(){
       if(adv_chk_obj.prop("checked") == false){
           adv_div_obj.hide();
       }
       else adv_div_obj.show();
       
       return false;
    });
    
    // categories autocomplete list
    cat_inp_obj = $("#category_filter");
    cat_inp_obj.autocomplete({ source: categories, minLength:0 });
    cat_inp_obj.autocomplete( "option", "delay", check_interval_duration );
    
    cat_inp_obj.focus(function(){
        cat_inp_obj.autocomplete( "search", "" );
    });
    
    cat_inp_obj.on("autocompleteselect", function (e, ui) {
        // override the default autocomplete behavior:
        e.preventDefault(); // prevent the "value" being written to the edit box
        this.value = ui.item.label; // write label
        cat_inp_obj.data("id", ui.item.value); // save the value (category id) to data field
    });
    
    cat_inp_obj.blur(function(){
        // if nothing is selected, remove data from the object
        if(cat_inp_obj.val().length == 0){
            cat_inp_obj.removeData();
        }
    });
    
    // update products on button click
    $("#update_results").click(function(){
        update_products();
    });

    ///////////////////////////
    // creating new products
    ///////////////////////////
    if({{can_edit|lower}}){ {% comment %} |lower because: python: True, javascript: true {% endcomment %}
        $("#add_product").click(function(){
            // show the edit dialog with nothing but default values
            
            // empty product
            product = {
                "id":-1,// new product's id = -1 until the server assigns an id
                "discounts":{}, // no discounts so far
                "tax":{{default_tax}} // tax from config
            };
            // save it to a dummy div
            parent = $("#new_product_dummy");
            parent.data({product:product});
            
            show_product_edit_dialog(parent);
        });
    }
    else{
        $("#add_product").prop("disabled", true);
    }
    
    gf_obj.focus();
});

</script>

{% endblock %}

{% block manage_content %}

{% comment %} filters {% endcomment %}
<div id="filter_form">
    <label for="general_filter">{% trans 'Search' %}:</label><input id="general_filter" class="search-filter" />
    <input type="checkbox" id="advanced_search_toggle" /><label for="advanced_search_toggle">{% trans 'Advanced' %}</label><br />

    <div id="advanced_search">
        {% trans 'Category' %}
        <input id="category_filter" /><!-- this input does not have a "filter" class - the filtering value is stored in data() and needs to be accessed separately from the others -->
        <div id="category_list_select"></div><br />
        
        <label for="product_code_filter">{% trans 'Product code' %}</label><input type="text" id="product_code_filter" class="filter" />
        <label for="shop_code_filter">{% trans 'Shop code' %}</label><input type="text" id="shop_code_filter" class="filter" />
        <label for="name_filter">{% trans 'Name' %}</label><input type="text" id="name_filter" class="filter" />
        <label for="description_filter">{% trans 'Description' %}</label><input type="text" id="description_filter" class="filter" />
        <label for="notes_filter">{% trans 'Notes' %}</label><input type="text" id="notes_filter" class="filter" />
        <label for="tax_filter">{% trans 'Tax' %}</label><input type="text" id="tax_filter" class="filter" />
        <label for="price_filter">{% trans 'Price' %}</label><input type="text" id="price_filter" class="filter" />
        <label for="discount_filter">{% trans 'Discount code' %}</label><input type="text" id="discount_filter" class="filter" />
        <input type="button" id="update_results" value="{% trans 'Update' %}" />
    </div>
</div>
<hr>
<div id="add_product_container">
    <input type="button" id="add_product" value="{% trans 'Add product' %}">
</div>
<hr>
<div id="products_list"></div>

{% comment %} a template for editing/adding product (dialog) {% endcomment %}
<div id="edit_dialog">
    <table border="1"> <!-- TODO remove border -->
        <tr>
            <td colspan="2">
                <p><label for="edit_product_name">{% trans 'Name' %}</label> <input type="text" id="edit_product_name" /></p>
            </td>
            <td>{% comment %} price per unit {% endcomment %}
                <p><label for="edit_product_price">{% trans 'Price' %}</label> <input id="edit_product_price" />
                   <label for="edit_unit_type">{% trans 'per' %}</label><select id="edit_unit_type"></select>
            </td>
        </tr>
        <tr>
            <td rowspan="3">{% comment %} image spans over 3 rows {% endcomment %}
                <p><img id="edit_product_image" src="#" alt="" class="preview-product"/></p>
                <p>{% comment %} the form that follows is here only because input type="file" cannot be reset unless the form it belongs to is reset {% endcomment %}
                    <form id="edit_product_image_input_form"><input type="file" id="edit_product_image_upload" /></form>
                    <input type="button" id="edit_product_delete_image" value="{% trans 'Delete image' %}" />
                </p>
            </td> 
            {% comment %} list of categories {% endcomment %}
            <td><p><label for="edit_product_category">{% trans 'Category' %}</label>
                <select id="edit_product_category"></select></p></td>
            <td><p><label for="edit_product_tax">{% trans 'Tax' %}</label> <input type="text" id="edit_product_tax" />%</p></td>
        </tr>
        <tr>
            <td><p><label for="edit_product_description">{% trans 'Description' %}</label></p>
                <textarea id="edit_product_description"></textarea></td>
            <td>
                {% comment %} discounts {% endcomment %}
                <p>{% trans 'Discounts' %}</p>
                <ul id="edit_discounts"></ul>
            </td>
        </tr>
        <tr>
            <td><p>{% trans 'Private notes' %}:</p>
                <textarea id="edit_product_private_notes"></textarea>
            </td>
            <td><p><label for="edit_product_stock">{% trans 'Units left in stock' %}</label><input type="text" id="edit_product_stock" /></p></td>
        </tr>
        <tr>
            <td><p><label for="edit_product_shop_code">{% trans 'Shop code' %}</label><input type="text" id="edit_product_shop_code" /></p></td> {% comment %} this row again has 3 columns {% endcomment %}
            <td><p><label for="edit_product_code">{% trans 'Product code' %}</label><input type="text" id="edit_product_code" /></p></td>
            
            <td>
                {% comment %} save/cancel buttons {% endcomment %}
                <p><input type="button" id="edit_product_save" value="{% trans 'Save' %}">
                   <input type="button" id="edit_product_cancel" value="{% trans 'Cancel' %}"></p>
            </td>
        </tr>
    </table>
</div>

{% comment %} a template for viewing products {% endcomment %}
<div id="product_details_template">
    <table border="1"> <!-- TODO remove border -->
        <tr>
            <td colspan="2">
                <input type="hidden" class="product-id" />
                <p class="product-name"></p>
            </td>
            <td><p class="product-price"></p> {% comment %} price per unit {% endcomment %}
            </td>
        </tr>
        <tr>
            <td rowspan="3"><p class="product-image"></p></td> {% comment %} image spans over 3 rows {% endcomment %}
            <td><p class="product-category"></p></td>
            <td><p class="product-tax"></p></td>
        </tr>
        <tr>
            <td><p class="product-description"></p></td>
            <td>
                <ul class="product-discounts">
                    {% comment %} a list of discounts {% endcomment %}
                </ul>
            </td>
        </tr>
        <tr>
            <td><p class="product-private-notes"></p></td>
            <td><p class="product-stock"></p></td>
        </tr>
        <tr>
            <td><p class="product-shop-code"></p></td> {% comment %} this row again has 3 columns {% endcomment %}
            <td><p class="product-code"></p></td>
            <td><div class="product-management"><input type="button" value="{% trans 'Edit' %}" class="product-edit-button">
                <input type="button" value="{% trans 'Delete' %}" class="product-delete-button"></div>
            </td>
        </tr>
    </table>
</div>

{% comment %} a dummy div for creating new products {% endcomment %}
<div id="new_product_dummy"></div>

{% endblock %}

