{% extends "pos/manage/manage.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}

<script type="text/javascript">
categories = []; // list of pairs "label", "value"
units = [];

function fill_categories(){
    get_data("{% url 'pos:JSON_categories' company.url_name %}",
        function(data){
        // convert categories' data from the server to a list for autocomplete data:
        // (server:client)
        // name > label
        // id > value
            for(var i = 0; i < data.length; i++){
                categories.push({label:data[i].name, value:data[i].id})
            }
        return false;
        }
    );
}

function fill_units(){
    get_data("{% url 'pos:JSON_units' company.url_name %}",
            function(data){
                for(var i=0; i<data.length; i++){
                    // replace ^<whatever> with superscript<whatever>
                    data[i][0] = data[i][0].replace(/\^(2|3)/g,"<sup>$1</sup>");
                    units.push({"name":data[i][1], "value":data[i][0]});
                }
                return false;
            }
        );
}

function edit_box(css_class, value){
    return $("<input>", {
        "type":"text",
        "class":css_class,
        "value":value
    });
}

function unit_box(css_class, selected){
    sel_obj = $("<select>", {"class":css_class});    
    
    for(var i=0; i<units.length;i++){
        opt_obj = $("<option>")
            .attr("value", units[i].value)
            .text(units[i].name);
            
        if(units[i].value == selected){
            opt_obj.attr("selected", "selected");
        }
        
        sel_obj.append(opt_obj);
    }
    return sel_obj;
}

function category_box(css_class, selected){
    sel_obj = $("<select>", {"class":css_class});
    
    for(var i=0; i < categories.length; i++){
        opt_obj = $("<option>")
        .attr("value", categories[i].value)
        .append(categories[i].label);
        
        if(categories[i].label == selected){
            opt_obj.attr("selected", "selected");
        }
        sel_obj.append(opt_obj);
    }
    return sel_obj;
}

var last_value;
var update_timeout;

check_interval_duration = 500;
update_timeout_duration = 1500;

$(document).ready(function(){
    // handle the search box
    gf_obj = $("#general_filter")
    
    /*// this is pointless, "search" will be written outside the edit field
    search_text = "{% trans 'Search' %}..." // search text appearance
    last_value = search_text;
    gf_obj.val(search_text);
    gf_obj.focus(function(){
        if($(this).val() == search_text){
            $(this).val("");
        }
        return false;
    });
    gf_obj.blur(function(){
        if($(this).val() == ""){
            $(this).val(search_text);
        }
        return false;
    });*/
    gf_obj.focus();
    
    // general products search box timers
    setInterval(function(){ // check for change
        new_value = gf_obj.val(); 
        if(last_value != new_value){
            if(new_value.length < 2) return;
            last_value = new_value; // changed, update products
            clearTimeout(update_timeout);
            update_timeout = setTimeout(update_products, update_timeout_duration);
        }
        return false;
    }, check_interval_duration);
        
    // advanced search div
    adv_div_obj = $("#advanced_search"); 
    adv_div_obj.hide();
    
    adv_chk_obj = $("#advanced_search_toggle");
    
    adv_chk_obj.change(function(){
       if(adv_chk_obj.prop("checked") == false){
           adv_div_obj.hide();
       }
       else adv_div_obj.show();
       
       return false;
    });
    
    // categories list
    fill_categories();
    cat_inp_obj = $("#category_filter");
    cat_inp_obj.autocomplete({ source: categories, minLength:0 });
    cat_inp_obj.autocomplete( "option", "delay", check_interval_duration );
    
    cat_inp_obj.focus(function(){
        cat_inp_obj.autocomplete( "search", "" );
    });
    cat_inp_obj.on("autocompleteselect", function (e, ui) {
        // override the default autocomplete behavior:
        e.preventDefault(); // prevent the "value" being written to the edit box
        this.value = ui.item.label; // write label
        cat_inp_obj.data("id", ui.item.value); // save the value (category id) to data field
    });
    cat_inp_obj.blur(function(){
        // if nothing is selected, remove data from the object
        if(cat_inp_obj.val().length == 0){
            cat_inp_obj.removeData();
        }
    });
    
    // fill unit types
    fill_units();
    
    // update products when search criteria has changed (gets called on timeout)
    function update_products(){
        // assemble a JSON object with all search criteria and pass it to the view
        search_criteria = {
            general_filter:$("#general_filter").val(),  
        };
        
        if(adv_chk_obj.prop("checked") == true){
            // add criteria from the advanced div
            $(".filter").each(function(){
                if($(this).val()){
                    search_criteria[$(this).attr("id")] = $(this).val(); 
                }
            });
            // add the category id (stored in .data())
            cat_fil_id = "category_filter";
            search_criteria[cat_fil_id] = $("#" + cat_fil_id).data().id;
        }
        
        // send to the view
        send_data("{% url 'pos:search_products' company.url_name %}",
                search_criteria, "{{ csrf_token }}", function(recv_data){
                    show_products(recv_data);
        });
        return false;
    }
    
    // update products on button click
    $("#update_results").click(function(){
        update_products();
    });
    
    function render_product(product){
        div_obj = $("<div>", {"class":"product_container"});
        
        // product details include:
        // id - goes to $.data()
        // name                    | price / unit_type
        //       | category        | tax 
        // image | description     | discounts
        //       | private_notes   | stock
        // code
        // shop_code
        // create a table with all details
        tbl_obj = $("<table>", {"class":"product_details"});
        div_obj.data({id:product.id});
        div_obj.append(tbl_obj);
        
        
        // first row: name (spans two columns) and price per unit type
        tr_obj = $("<tr>");
        tbl_obj.append(tr_obj);
        // column 1-2: product name
        td_obj = $("<td>", {"colspan":"2"});
        td_obj.append(edit_box("product_name", product.name));
        tr_obj.append(td_obj);
        // column 3: price per unit type
        td_obj = $("<td>");
        // TODO: currency symbol etc
	td_obj.append("{% trans 'Price' %}:");
        td_obj.append(edit_box("product_price", product.price));
        // (template comment){% comment %} <price> 'per' <unit type> {% endcomment %}
        td_obj.append("{% trans 'per' %}");
        td_obj.append(unit_box("product_units", product.unit_type));
        tr_obj.append(td_obj);
        
        // second row: image (spans three rows), category, tax
        tr_obj = $("<tr>");
        tbl_obj.append(tr_obj);
        //image
        td_obj = $("<td>", {"rowspan":"3"});
        td_obj.append("TODO " + product.image);
        tr_obj.append(td_obj);
        // category
        td_obj = $("<td>");
        td_obj.append("{% trans 'In category' %}:");
        td_obj.append(category_box("product_category", product.category));
        tr_obj.append(td_obj);
        // tax
        td_obj = $("<td>");
        td_obj.append("{% trans 'Tax' %}:")
        td_obj.append(edit_box("product_tax", product.tax));
        tr_obj.append(td_obj);

	// description
	tr_obj = $("<tr>");
	td_obj = $("<td>");
	tx_obj = $("<textarea>", {"class":"product_description"});
	tx_obj.append(product.description)
	td_obj.append(tx_obj);
        tr_obj.append(td_obj);
	tbl_obj.append(tr_obj);

	// list discounts
	td_obj = $("<td>");
	
	var i;
	for(i = 0; i < product.discounts.length; i++){
		td_obj.append(product.discounts[i].code);
		// TODO: add link
		// TODO: remove link
	}
	tr_obj.append(td_obj);


        $("#products_list").append(div_obj);
    }
    
    
    function show_products(data){
        // clear products div
        products_div = $("#products_list")
        
        products_div.empty();
        
        if(data.length == 0){
            products_div.append("{% trans 'No products found' %}")
        }
        
        var i;
        for(i=0; i<data.length; i++){
            render_product(data[i]);
        }
    }
});

</script>

{% endblock %}

{% block manage_content %}

{% comment %} filters {% endcomment %}
<div id="filter_form">
    <label for="general_filter">{% trans 'Search' %}:</label><input id="general_filter" class="search_filter" />
    <input type="checkbox" id="advanced_search_toggle" /><label for="advanced_search_toggle">{% trans 'Advanced' %}</label><br />

    <div id="advanced_search">
        {% trans 'Category' %}
        <input id="category_filter" /><!-- this input does not have a "filter" class - the filtering value is stored in data() and needs to be accessed separately from the others -->
        <div id="category_list_select"></div><br />
        
        
        <label for="product_code_filter">{% trans 'Product code' %}</label><input type="text" id="product_code_filter" class="filter" />
        <label for="shop_code_filter">{% trans 'Shop code' %}</label><input type="text" id="shop_code_filter" class="filter" />
        <label for="name_filter">{% trans 'Name' %}</label><input type="text" id="name_filter" class="filter" />
        <label for="description_filter">{% trans 'Description' %}</label><input type="text" id="description_filter" class="filter" />
        <label for="notes_filter">{% trans 'Notes' %}</label><input type="text" id="notes_filter" class="filter" />
        <label for="tax_filter">{% trans 'Tax' %}</label><input type="text" id="tax_filter" class="filter" />
        <label for="price_filter">{% trans 'Price' %}</label><input type="text" id="price_filter" class="filter" />
        <label for="discount_filter">{% trans 'Discount code' %}</label><input type="text" id="discount_filter" class="filter" />
        <input type="button" id="update_results" value="{% trans 'Update' %}" />
    </div>
</div>

<div id="products_list">
</div>



{% endblock %}

