{% extends "base.html" %}
{% load static %}
{% load i18n %}

{% block head %}
<script type="text/javascript" src="{% static 'omnibus/omnibus.js' %}"></script>

<link type="text/css" rel="stylesheet" href="{% static 'terminal.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'widgets/products.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'widgets/categories.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'widgets/bill.css' %}" />


{% comment %} the terminal {% endcomment %}
<script src="{% static 'terminal.js' %}"></script>
{% comment %} widgets {% endcomment %}
<script src="{% static 'widgets/categories.js' %}"></script> {% comment %} categories selector {% endcomment %}
<script src="{% static 'widgets/products.js' %}"></script> {% comment %} products selector {% endcomment %}
<script src="{% static 'widgets/search.js' %}"></script> {% comment %} bill and its items {% endcomment %}
<script src="{% static 'widgets/bill.js' %}"></script> {% comment %} bill and its items {% endcomment %}
<script src="{% static 'widgets/sockets.js' %}"></script> {% comment %} bill and its items {% endcomment %}

{% comment %} keyboard {% endcomment %}
<link href="{% static 'keyboard/css/keyboard.css' %}" rel="stylesheet">
<script src="{% static 'keyboard/js/jquery.keyboard.js' %}"></script>

{% comment %} other {% endcomment %}
<script src="{% static 'fuckyeah/fuckyeah.jquery.js' %}"></script>
<!-- keyboard extensions (optional) -->
<script src="{% static 'keyboard/js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'keyboard/js/jquery.keyboard.extension-typing.js' %}"></script>
<script src="{% static 'keyboard/js/jquery.keyboard.extension-autocomplete.js' %}"></script>


{% comment %} 'embedded' javascript {% endcomment %}
<script type="text/javascript">
$(document).ready(function() {
    //
    // GLOBAL DATA AND OBJECTS -------------------------------
    //
    var g = { // global data for the terminal
        user_socket_token: "{{ user_socket_token }}",

        // websockets connection
        ws: null,

        // config (data comes directly from view)
        config: {% autoescape off %}{{ config }}{% endautoescape %},

        // other data (directly from view)
        // includes: categories,
        data: {% autoescape off %}{{ data }}{% endautoescape %},

        // javascript objects (initialized later)
        objects:{
            categories: null,
            products: null,
            search: null,
            bill: null // current bill (will be loaded with ajax)
        },

        // static ui settings
        settings: {
            t: 100, // duration of show/hide events
            t_easing: 200, // duration of easing functions (drag start/stop)
            last_search: "", // last searched query
            search_update_interval: 1000 // checking if search query has changed
        },

        // cached jquery items
        items: {
            // terminal items
            splitter: $("#splitter"),
            manage_bar: $("#manage_bar"),
            bill: $("#bill"),
            products_container: $("#products"),
            selector_container: $("#selector"),
            controls_container: $("#controls"),

            focused: null, // will be assigned a jquery element as soon as a key is pressed/mouse clicked

            // items that are ready to be inserted
            spacer: $("<img>", {src:"{% static 'graphics/spacer.png' %}"}),
            loading_animation: $("<img>", {src: "{% static 'graphics/loading.gif' %}"}),
            subcategory: $("<img>", {src:"{% static 'graphics/subcategory.png' %}"})
        }
    };

    // widgets
    g.objects.categories = new Categories(g); // categories selector (level 0 is the topmost category)
    g.objects.products = new Products(g);
    g.objects.search = new Search(g);
    g.objects.bill = new Bill(g);

    // websocket connection & channels (channels will be opened in SocketConnection)
    g.ws = new SocketConnection(g, "{{ socket_endpoint }}", {{ company.id }}, {{ user.id }});


    //
    // LAYOUT AND RESIZING -------------------------------------
    //
    function size_layout(save){
        var pos = g.items.splitter.offset();

        // splitter
        g.items.splitter.height($(window).height() - pos.top);
        // selection
        g.items.selector_container.css({left:pos.left});
        // products
        g.items.products_container.outerHeight(
            g.items.controls_container.offset().top -
            g.items.products_container.offset().top
        ).empty(); // if the new height is less than previous, product buttons will break out of their parent

        // bill: if wider than pos.left, move it back to show the whole bill
        g.items.bill.width(pos.left);
        if(g.items.bill.width() > pos.left){
            g.items.splitter.offset({left: g.items.bill.width(), top: pos.top});
            size_layout();
            return;
        }

        // save?
        if(save){
            // get splitter position
            var ld = {};
            ld.bill_width = g.items.splitter.position().left;

            send_data_blocking(g.urls.save_terminal, ld, g.csrf_token, null);
        }
    }

    g.items.splitter // resize on splitter drag and save data
        .draggable({ axis: "x", stop: function(){ size_layout(true); }})
        .css({
            height: $(window).height() - g.items.manage_bar.outerHeight(),
            top: g.items.manage_bar.outerHeight(),
            left: g.config.bill_width
        });
    g.items.bill.width(g.config.bill_width);

    // resize everything now and on resize
    size_layout(false); // no need to save on load
    $(window).resize(function(){ size_layout(false); }); // and no need to save on window resize
});
</script>

{% endblock %}

{% block content %}
{% comment %} the 'loading' div {% endcomment %}
{% comment %} management, logout, ... links {% endcomment %}
<div id="manage_bar">
    <div id="blocklogic"><a href="http://www.blocklogic.net">BlockLogic</a></div>
    <div class="management-bar-button"><a href="{% url 'pos:manage_home' company.url_name %}">{% trans 'Manage' %}</a></div>
    <div class="management-bar-button"><a href="#">{% trans 'Logout' %}</a></div>
    <div id="messages">messages</div> {% comment %} actually in center, but with overflow:hidden {% endcomment %}
</div>

{% comment %} the bill (scrolling) {% endcomment %}
{% comment %} bill header has the same layout as items and will be copied when adding new (items) {% endcomment %}
<div id="bill_scroll_outer">
    <div id="bill_scroll_inner">
        <table id="bill">
            <thead>
                <tr id="bill_header">
                    <td class="bill-item-name-container">
                        <p class="bill-title">{% trans 'Name' %}</p> {% comment %} product name and code {% endcomment %}
                        <p class="bill-subtitle">{% trans 'Code' %}</p></td>
                    <td class="bill-item-qty-container">
                        <p class="bill-title">{% trans 'Qty' %}</p> {% comment %} quantity and unit type {% endcomment %}
                        <p class="bill-subtitle">{% comment %} empty at the moment {% endcomment %}</p></td>
                    <td class="bill-item-price-container">
                        <p class="bill-title">{% trans 'Price' %}</p> {% comment %} base price {% endcomment %}
                        <p class="bill-subtitle">[{{ currency }}]   </p></td>
                    <td class="bill-item-tax-container">
                        <p class="bill-title">{% trans 'Tax' %}</p>{% comment %} tax, percent and absolute value {% endcomment %}
                        <p class="bill-subtitle">[%/{{currency}}]</p></td>
                    <td class="bill-item-discount-container">
                        <p class="bill-title">{% trans 'Discount' %}</p> {% comment %} discount, absolute value and a 'mode' button {% endcomment %}
                        <p class="bill-subtitle">[{{ currency }}]</p></td>
                    <td class="bill-item-total-container">
                        <p class="bill-title">{% trans 'Total' %}</p> {% comment %} total of this Item(s) {% endcomment %}
                        <p class="bill-subtitle">[{{ currency }}]</p></td>

                    <td class="bill-item-edit"></td> {% comment %} edit buttons for this row {%  endcomment %}
                </tr>
            </thead>

            <tbody id="bill_items">
                {% comment %} bill items come here {% endcomment %}
            </tbody>
        </table>
    </div>
</div>
{% comment %} bill summary and till: fixed {% endcomment %}
<div id="till">
    {% comment %} bill summary: discounts total and tax total {% endcomment %}
    <div id="bill_summary"></div>

    {% comment %} buttons etc. {% endcomment %}
</div>

{% comment %} separator: draggable div for resizing bill/controls {% endcomment %}
<div id="splitter"></div>

{% comment %} product selector and other controls {% endcomment %}
<div id="selector">
    <div id="categories">
        <div id="parents_scroll_outer">
            {% comment %} fixed buttons: favorites and 'home' {% endcomment %}
            <div class="category-button" id="category_button_favorites">
                <img class="category-button-icon" src="{% static 'graphics/favorites.png' %}" alt="{% trans 'Favorites' %}" />
                {% trans 'Favorites' %}
            </div>
            <div class="category-button" id="category_button_home"><img class="category-button-icon" src="{% static 'graphics/home.png' %}" alt="{% trans 'Home' %}" />
                {% trans 'All' %}
            </div>

            {% comment %} scrolling: parents {% endcomment %}
            <div id="parents_scroll_inner">
                <div id="parents"></div>
            </div>
        </div>
        
        {% comment %} scrolling: children {% endcomment %}
        <div id="children_scroll_outer">
            <div id="children_scroll_inner">
                <div id="children"></div>
            </div>
        </div>
    </div>
    <div id="products_scroll_outer">
        <div id="products_scroll_inner">
            <div id="products"></div>
        </div>
    </div>
    <div id="controls">
        <input type="text" id="search_products_filter" />
        <button type="button" id="search_products_submit"><img src="{% static 'graphics/search.png'%}"/></button>
    </div>
</div>

{% endblock %}
