{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
{% comment %} the terminal {% endcomment %}
<script src="{% static 'terminal.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'terminal.css' %}" />
{% comment %} widgets {% endcomment %}
<script src="{% static 'widgets/categories.js' %}"></script> {% comment %} categories selector {% endcomment %}
<link type="text/css" rel="stylesheet" href="{% static 'widgets/categories.css' %}" />
<script src="{% static 'widgets/products.js' %}"></script> {% comment %} products selector {% endcomment %}
<link type="text/css" rel="stylesheet" href="{% static 'widgets/products.css' %}" />
<script src="{% static 'widgets/bill.js' %}"></script> {% comment %} bill and its items {% endcomment %}
<link type="text/css" rel="stylesheet" href="{% static 'widgets/bill.css' %}" />

{% comment %} keyboard {% endcomment %}
<link href="{% static 'keyboard/css/keyboard.css' %}" rel="stylesheet">
<script src="{% static 'keyboard/js/jquery.keyboard.js' %}"></script>

{% comment %} other {% endcomment %}
<script src="{% static 'fuckyeah/fuckyeah.jquery.js' %}"></script>
<!-- keyboard extensions (optional) -->
<script src="{% static 'keyboard/js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'keyboard/js/jquery.keyboard.extension-typing.js' %}"></script>
<script src="{% static 'keyboard/js/jquery.keyboard.extension-autocomplete.js' %}"></script>


{% comment %} 'embedded' javascript {% endcomment %}
<script type="text/javascript">
window.request = null; // the (possibly) pending ajax request

$(document).ready(function() {
    {% comment %} see terminal.py to see what data is loaded {% endcomment %}
    load_data("{% url 'pos:terminal_init' company.url_name %}");
    // add some other global data
    window.data.categories_list = {}; // a dictionary of all categories by id
    // stuff from template
    window.data.spacer = "{% static 'graphics/spacer.png' %}"; // {% comment %} stuff that javascript can't see {% endcomment %}
    window.data.loading = "{% static 'graphics/loading.gif' %}";
    window.data.subcategory = "{% static 'graphics/subcategory.png' %}";
    window.data.csrf_token = "{{csrf_token}}";
    // urls
    window.data.get_bill_url = "{% url 'pos:get_active_bill' company.url_name %}";
    window.data.edit_bill_item = "{% url 'pos:edit_bill_item' company.url_name %}";
    window.data.remove_bill_item = "{% url 'pos:remove_bill_item' company.url_name %}";
    // ui settings
    window.data.t = 100; // duration of show/hide events
    window.data.t_easing = 200; // duration of easing functions (drag start/stop)
    window.data.last_search = ""; // last searched query
    window.data.search_update_interval = 1000; // checking if search query has changed

    // save jquery items that will be used often
    window.items = { // jQuery objects only (to avoid searching each time something updates)
        focused: null, // will be assigned a jquery element as soon as a key is pressed/mouse clicked
        parents_div: $("div#parents_scroll_inner"),
        children_div: $("div#children_scroll_inner"),
        all_cat_button: $("div#category_button_home"),
        search_field: $("input#search_products_filter"),
        products_list: $("div#products"),
        bill_header: $("#bill_header"),
        bill_items: $("#bill_items") // table>tbody
    };

    /* layout (change some things programmaticaly) */
    init_layout();

    /* widgets */
    categories_selector(); // categories selector (level 0 is the topmost category)
    products_selector();
    
    /* handle the keyboard */
    $(document).keypress(handle_keypress);

    /* bill will instantiate a 'bill' 'class' that will load/start a new bill */
    get_data(window.data.get_bill_url, function(data){
        window.bill = new bill(data);
    });

    /* show the terminal */
    window.items.search_field.val("");
    $("#loading").remove();
});  
</script>

{% endblock %}

{% block content %}
{% comment %} the 'loading' div {% endcomment %}
<div id="loading">loading...</div>
{% comment %} management, logout, ... links {% endcomment %}
<div id="manage_bar">
    <div id="blocklogic"><a href="http://www.blocklogic.net">BlockLogic</a></div>
    <div class="management-bar-button"><a href="{% url 'pos:manage_home' company.url_name %}">{% trans 'Manage' %}</a></div>
    <div class="management-bar-button"><a href="#">{% trans 'Logout' %}</a></div>
    <div id="messages">messages</div> {% comment %} actually in center, but with overflow:hidden {% endcomment %}
</div>

{% comment %} the bill {% endcomment %}
{% comment %} bill header has the same layout as items and will be copied when adding new (items) {% endcomment %}
<table id="bill">
    <thead>
    <tr id="bill_header">
        <td class="bill-item-name-container">
            <p class="bill-title">{% trans 'Name' %}</p> {% comment %} product name and code {% endcomment %}
            <p class="bill-subtitle">{% trans 'Code' %}</p></td>
        <td class="bill-item-qty-container">
            <p class="bill-title">{% trans 'Qty' %}</p> {% comment %} quantity and unit type {% endcomment %}
            <p class="bill-subtitle">{% comment %} empty at the moment {% endcomment %}</p></td>
        <td class="bill-item-price-container">
            <p class="bill-title">{% trans 'Price' %}</p> {% comment %} base price {% endcomment %}
            <p class="bill-subtitle">[{{ currency }}]   </p></td>
        <td class="bill-item-tax-container">
            <p class="bill-title">{% trans 'Tax' %}</p>{% comment %} tax, percent and absolute value {% endcomment %}
            <p class="bill-subtitle">[%/{{currency}}]</p></td>
        <td class="bill-item-discount-container">
            <p class="bill-title">{% trans 'Discount' %}</p> {% comment %} discount, absolute value and a 'mode' button {% endcomment %}
            <p class="bill-subtitle">[{{ currency }}]</p></td>
        <td class="bill-item-total-container">
            <p class="bill-title">{% trans 'Total' %}</p> {% comment %} total of this item(s) {% endcomment %}
            <p class="bill-subtitle">[{{ currency }}]</p></td>
            
        <td class="bill-item-edit"></td> {% comment %} edit buttons for this row {%  endcomment %}
    </tr>
    </thead>
    
    <tbody id="bill_items">
        {% comment %} bill items come here {% endcomment %}
    </tbody>
</table>

{% comment %} the grand total {% endcomment %}
<table id="bill_total">
    <tr>
        <td>{% comment %}  {% endcomment %}
            
        </td>
    </tr>
</table>


{% comment %} separator: draggable div for resizing bill/controls {% endcomment %}
<div id="splitter"></div>

{% comment %} product selector and other controls {% endcomment %}

<div id="selection">
    <div id="categories">
        <div id="parents">
            {% comment %} fixed buttons: favorites and 'home' {% endcomment %}
            <div class="category-button" id="category_button_favorites"><p class="category-name"><img class="category-button-icon" src="{% static 'graphics/favorites.png' %}" alt="favorites icon" />{% trans 'Favorites' %}</p></div>
            <div class="category-button" id="category_button_home"><p class="category-name"><img class="category-button-icon" src="{% static 'graphics/home.png' %}" alt="favorites icon" />{% trans 'All' %}</p></div>
            {% comment %} scrolling: parents {% endcomment %}
            <div id="parents_scroll_outer">
                <div id="parents_scroll_inner"></div>
            </div>
        </div>
        
        {% comment %} scrolling: children {% endcomment %}
        <div id="children">
            <div id="children_scroll_outer">
                <div id="children_scroll_inner"></div>
            </div>
        </div>
    </div>
    <div id="products_scroll_outer">
        <div id="products_scroll_inner">
            <div id="products"></div>
        </div>
    </div>
    <div id="controls">
        <input type="text" id="search_products_filter" />
        <button type="button" id="search_products_submit" onclick="get_products()"><img src="{% static 'graphics/search.png'%}" style="height:16px;"/></button>
    </div>
</div>

{% endblock %}
