{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
{% comment %} translation {% endcomment %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

{% comment %} the terminal {% endcomment %}
<script src="{% static 'terminal.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'terminal.css' %}" />
{% comment %} widgets {% endcomment %}
<script src="{% static 'widgets/categories.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'widgets/categories.css' %}" />
<script src="{% static 'widgets/products.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'widgets/products.css' %}" />

{% comment %} keyboard {% endcomment %}
<link href="{% static 'keyboard/css/keyboard.css' %}" rel="stylesheet">
<script src="{% static 'keyboard/js/jquery.keyboard.js' %}"></script>

{% comment %} other {% endcomment %}
<script src="{% static 'fuckyeah/fuckyeah.jquery.js' %}"></script>
<!-- keyboard extensions (optional) -->
<script src="{% static 'keyboard/js/jquery.mousewheel.js' %}"></script>
<script src="{% static 'keyboard/js/jquery.keyboard.extension-typing.js' %}"></script>
<script src="{% static 'keyboard/js/jquery.keyboard.extension-autocomplete.js' %}"></script>


{% comment %} 'embedded' javascript {% endcomment %}
<script type="text/javascript">
$(document).ready(function() {
	// first, get settings and other data
	load_data("{% url 'pos:terminal_init' company.url_name %}");
	// add some additional data
	window.data.spacer = "{% static 'graphics/spacer.png' %}"; // {% comment %} stuff that javascript can't see {% endcomment %}
	window.data.csrf_token = "{{csrf_token}}";
	// ui settings
	window.data.t = 100; // duration of show/hide events
	window.data.t_easing = 200; // duration of easing functions (drag start/stop)
	window.data.last_search = ""; // last searched query
	window.data.search_update_interval = 1000; // checking if search query has changed

	window.items = {
    	focused:null, // will be assigned a jquery element as soon as a key is pressed/mouse clicked
    	parents_div:$("div#parents_scroll_inner"),
    	children_div:$("div#children_scroll_inner"),
    	all_cat_button:$("div#category_button_home"),
    	search_field:$("input#search_products_filter"),
    	products_list:$("div#products")
	}
	
	/* layout (change some things programmaticaly) */
	init_layout();

	/* widgets */
	categories_selector(); // categories selector (level 0 is the topmost category)
	products_selector();
	
	/* handle the keyboard */
	$(document).keypress(handle_keypress);
	
	/* on exit */
	$(window).on("beforeunload", on_exit);
	
	/* show the terminal */
	$("#loading").remove();
});  
</script>

{% endblock %}

{% block content %}
{% comment %} the 'loading' div {% endcomment %}
<div id="loading">loading...</div>
{% comment %} management, logout, ... links {% endcomment %}
<div id="manage_bar">
    <div id="blocklogic"><a href="http://www.blocklogic.net">BlockLogic</a></div>
    <div class="management-bar-button"><a href="{% url 'pos:manage_home' company.url_name %}">{% trans 'Manage' %}</a></div>
    <div class="management-bar-button"><a href="#">{% trans 'Logout' %}</a></div>
    <div id="messages">messages</div> {% comment %} actually in center, but with overflow:hidden {% endcomment %}
</div>

{% comment %} the bill {% endcomment %}
<div id="bill">bill</div>

{% comment %} separator: draggable div for resizing bill/controls {% endcomment %}
<div id="splitter"></div>

{% comment %} product selector and other controls {% endcomment %}
    
<div id="selection">
    <div id="categories">
        <div id="parents">
            {% comment %} fixed buttons: favorites and 'home' {% endcomment %}
            <div class="category-button" id="category_button_favorites"><p class="category-name"><img class="category-button-icon" src="{% static 'graphics/favorites.png' %}" alt="favorites icon" />{% trans 'Favorites' %}</p></div>
            <div class="category-button" id="category_button_home"><p class="category-name"><img class="category-button-icon" src="{% static 'graphics/home.png' %}" alt="favorites icon" />{% trans 'All' %}</p></div>
            
            
            <div id="parents_scroll_outer">
                <div id="parents_scroll_inner"></div>
            </div>
        </div>
        <div id="children">
            <div id="children_scroll_outer">
                <div id="children_scroll_inner"></div>
            </div>
        </div>
    </div>
    <div id="products_scroll_outer">
        <div id="products_scroll_inner">
            <div id="products"></div>
        </div>
    </div>
    <div id="controls">
        <input type="text" id="search_products_filter" />
        <button type="button" id="search_products_submit" onclick="get_products()"><img src="{% static 'graphics/search.png'%}" style="height:16px;"/></button>
    </div>
</div>

{% endblock %}