{% extends 'pos/receipt_template.html' %}
{% load i18n %}
{% load static %}

{% comment %}
Slovenski računi:

RULE #1:
  če firma NI davčni zavezanec (company.tax_payer = False), se z računa skrijejo vsi podatki o davkih
{% endcomment %}

{% block content %}
    <div class="receipt-80mm">
        <div class="receipt-logo">
            {% if logo %}
                <img src="{{ logo }}" alt="" id="logo" />
            {% endif %}
        </div>
        <div class="company">
            <div class="name">{{ bill.issuer.name }}</div>

            <div class="details">
                {{ bill.issuer.street }}, {{ bill.issuer.postcode }} {{ bill.issuer.city }}<br/>
                {{ bill.issuer.state }} {{ bill.issuer.country_name }} <br/>
                {% trans 'VAT' %}: {{ bill.issuer.vat_no }}
                {{ bill.issuer.website }}
            </div>
        </div>

        <div class="register-location">{{ bill.register.location }}</div>

        {% if bill.contact %}
            <div class="client">
                {% trans 'Client' %}:
                <div class="name">{{ bill.contact.name }}</div>
                <div class="details">
                    {{ bill.contact.street }}, {{ bill.contact.postcode }} {{ bill.contact.city }}<br/>
                    {{ bill.contact.state }} {{ bill.contact.country }}<br/>
                    {% trans 'VAT' %}: {{ bill.contact.vat }}
                </div>
            </div>
        {% endif %}

        <div class="bill-serial">
            {% trans 'Bill' %}:&nbsp;
            <span class="bill-serial-content">{{ bill.serial }}</span>
        </div>

        <div class="receipt-items">
            <div class="items-header">
                <div class="receipt-row">
                    <div class="first-row">
                        <div class="item-name"></div>
                    </div>
                    <div class="second-row">
                        {# divs are float: right; therefore they have to be reversed #}
                        {# #1 #}
                        {% if not bill.issuer.tay_payer %}
                            <div class="item-tax">&nbsp;</div>
                        {% endif %}

                        <div class="item-amount">{% trans 'Amount' %}</div>
                        <div class="item-discount">{% trans 'Discount' %}</div>
                        <div class="item-unit">&nbsp;{# unit has no label #}</div>
                        <div class="item-quantity">{% trans 'Qty' %}</div>
                        <div class="item-price">
                            {# #1 #}
                            {% if bill.issuer.tax_payer %} {% trans 'Price' %}{% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="items-body">
                {% for item in bill.items %}
                    <div class="receipt-row">
                        <div class="first-row">
                            <div class="item-name">{{ item.name }}</div>
                        </div>
                        <div class="second-row">
                        {# #1 #}
                            {% if bill.issuer.tax_payer %}
                                <div class="item-tax">{{ item.tax_rate_id }}</div> {# this is not necessarily visible #}
                            {% endif %}

                            <div class="item-amount">{{ item.total }}</div>
                            <div class="item-discount">{{ item.discount }}</div>
                            <div class="item-unit">&nbsp;{# unit has no label #}</div>
                            <div class="item-quantity">{{ item.quantity }}</div>
                            <div class="item-price">
                            {# #1 #}
                                {% if bill.issuer.tax_payer %} {{ item.base }} {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="items-footer">
                {# #1 #}
                {% if bill.issuer.tax_payer %} {# float: right, again #}
                    <div class="receipt-total-tax-margin">&nbsp;</div>
                {% endif %}

                <div class="receipt-total-text">{% trans 'Total' context 'Receipt footer text' %}</div>
                <div class="receipt-currency">{{ bill.currency }}{# currency goes here #}</div>
                <div class="receipt-total">{{ bill.total }}{# grand_total goes here #}</div>
            </div>
        </div>

        {# a collection of tax rates #}
        {% if bill.issuer.tax_payer %}
            <div class="tax-rates">
                <div class="tax-row header">
                    <div class="tax-id">&nbsp;</div>
                    <div class="tax-percent">{% trans 'Rate' %}</div>
                    <div class="tax-net">{% trans 'Subtotal' %}</div>
                    <div class="tax-absolute">{% trans 'Tax' %}</div>
                    <div class="tax-gross">{% trans 'Total' context 'Receipt footer text' %}</div>
                </div>

                <div class="tax-body">
                    {% for rate in bill.tax_rates %}
                        <div class="tax-row">
                            <div class="tax-id">{{ rate.id }}</div>
                            <div class="tax-percent">{{ rate.amount }}</div>
                            <div class="tax-net">{{ rate.net_sum }}</div>
                            <div class="tax-absolute">{{ rate.tax_sum }}</div>
                            <div class="tax-gross">{{ rate.gross_sum }}</div>
                        </div>
                    {% endfor %}
                </div>

                <div class="tax-row footer">
                    <div class="tax-id">&nbsp;</div>
                    <div class="tax-percent">&nbsp;</div>
                    <div class="tax-net">{{ bill.tax_sums.net_sum }}</div>
                    <div class="tax-absolute">{{ bill.tax_sums.tax_sum }}</div>
                    <div class="tax-gross">{{ bill.tax_sums.gross_sum }}</div>
                </div>
            </div>
        {% endif %}

        <div class="receipt-cashier">
            {% comment %} the last row: cashier's name and date-time {% endcomment %}
            <div class="receipt-cashier-text">{% trans 'Cashier' %}:&nbsp;</div>
            <div class="receipt-cashier-name">{{ bill.user_name }}</div>
            <div class="receipt-datetime">{{ bill.timestamp }}</div>
        </div>

        <div class="receipt-footer">
            {% comment %}misc stuff that goes on a receipt, such as:
                - gifts
                - coupons
                - pictures of horses
            {% endcomment %}
            www.spletna-blagajna.si
            <div class="bottom-margin">
                .
            </div>
        </div>
    </div>
{% endblock %}