body{
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

#content_wrapper{
    margin-top: 3em; /* the height of statusbar */
}

/* misc useful stuff */
div.clear-floats{
    clear: both;
}

.hidden{
    display: none;
}