body{
    margin: 0;
    padding: 0;
    background-color: #ebebeb;
}

*{
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

#content_wrapper{
    margin-top: 3em; /* the height of statusbar */
}

/* misc useful stuff */
div.clear-floats{
    clear: both;
}

.hidden{
    display: none;
}

.category-button>span.dark, .dark-background{
    /* use bright font for categories (and all other buttons)
       that have dark background */
    color: #ffffff;
}
