/*      */
/* Bill */
/*      */
#bill_scroll_outer{
    position: fixed;
    min-width: 300px; /* must be defined for js (separator dragging) */

    /* prevent text selection (interferes with dragging) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bill_scroll_inner{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bill{
    /* container for category-button */
    width: 100%;
    height: 900000px;
    float:left;
    position:relative;
    border: 1px solid black;
}

#bill_header{
    position: fixed;
    border-bottom: 3px solid black;
    background-color: #dddddd;
}

div.item-val{
    display: table-cell;
}

p.bill-title{
    margin-top:0;
    margin-bottom:3px;
}

p.bill-subtitle{
    font-size:12px;
    font-family:"Courier New", "Courier", monospace;
    margin-top:5px;
    margin-bottom:0;
}

div.item-val input.qty{
    width: 30px;
}

/* bill summary */
#bill_summary div.total{
    height: 50px;
}

/*      */
/* till */
/*      */
#till{
    position: fixed;
}