/*      */
/* Bill */
/*      */
#bill_scroll_outer{
    position: fixed;
    min-width: 300px; /* must be defined for js (separator dragging) */

    /* prevent text selection (interferes with dragging) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bill_scroll_inner{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bill{
    width: 100%;
    height: 900000px;
    float:left;
    position:relative;
    border: 1px solid black;
}

#bill_header{
    position: fixed;
    border-bottom: 3px solid black;
    background-color: #dddddd;
    display: table-row;
}

/* bill column values: different widths depending on bill class (narrow/medium/wide) */
div.item-val{
    display: block;
    overflow: hidden;
    float: left;
}
div.item-val input.qty{
    width: 60%;
}

.narrow .item-val.name{ width: 50%; }
.narrow .item-val.quantity{ width: 15%; }
.narrow .item-val.price{ width: 15%; }
.narrow .item-val.tax{ display: none; }
.narrow .item-val.discount{ display: none; }
.narrow .item-val.total{ width: 20%; }

.medium .item-val.name{ width: 35%; }
.medium .item-val.quantity{ width: 15%; }
.medium .item-val.price{ width: 20%; }
.medium .item-val.tax{ width: 15%; }
.medium .item-val.discount{ display: none; }
.medium .item-val.total{ width: 15%; }

.wide .item-val.name{ width: 30%; }
.wide .item-val.quantity{ width: 15%; }
.wide .item-val.price{ width: 10%; }
.wide .item-val.tax{ width: 15%; }
.wide .item-val.discount{ width: 15%; }
.wide .item-val.total{ width: 15%; }

/* bill header */
#bill_header p{
    margin: 0;
    padding: 0;
}

/* bill item */
div.bill-item{
    display: block;
    clear: both;
}

div.bill-item.collapsed{
    height: 2em;
    background-color: #ffffff;
}

div.bill-item.collapsed .value{
    margin: 0;
    font-size: 1em;
}

div.bill-item.expanded{
    height: 4em;
    background-color: #f7f7f7;
}

div.bill-item + div.bill-item{
    border-top: 1px dotted #cccccc;
}

.expanded .value{
    margin-top: 1.5em;
    font-size: 1em;
}

.item-val{
    float: left;
    display: block;
    height: 100%;
}

/* item name and delete button */
.item-val.name img{
    width: 20px;
    float: left;
}

.collapsed .item-val.name .value,
.collapsed .item-val.name img{
    margin-top: 0;
}

.expanded .item-val.name .value,
.expanded .item-val.name img{
    margin-top: 1.5em;
}

/* more button */
.collapsed .more-button{ display: none; }
.expanded .more-button{ display: block; }

/* quantity and +/- buttons */
.item-val.quantity input{
    width: 100%;
    border: 1px solid #cccccc;
}
.item-val.quantity button{
    color: #ffffff;
    width: 100%;
}

.collapsed .item-val.quantity button{ display: none; }
.expanded .item-val.quantity button{ display: block; }

.item-val.quantity .qty-plus{ background-color: #00aa00; }
.item-val.quantity .qty-minus{ background-color: #aa0000; }

/* price */


/* tax */

/* discounts */

/* total */


/* item details */
.details-box{
    background-color: #f7f7f7;
    position: absolute;
    z-index: 6; /* above products and categories */
}


/* bill summary */
#bill_summary div.total{
    height: 50px;
}

/*      */
/* till */
/*      */
#till{
    position: fixed;
}