/*      */
/* Bill */
/*      */
#bill_scroll_outer{
    position: fixed;
    min-width: 300px; /* must be defined for js (separator dragging) */

    /* prevent text selection (interferes with dragging) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bill_scroll_inner{
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#bill{
    width: 100%;
    height: 900000px;
    float:left;
    position:relative;
    border: 1px solid black;
}

#bill_header{
    position: fixed;
    border-bottom: 3px solid black;
    background-color: #dddddd;
    display: table-row;
}

/* bill column values: different widths depending on bill class (narrow/medium/wide) */
div.item-val{
    display: block;
    overflow: hidden;
    float: left;
}
div.item-val input.qty{
    width: 60%;
}

.narrow .item-val.name{ width: 50%; }
.narrow .item-val.quantity{ width: 15%; }
.narrow .item-val.price{ width: 15%; }
.narrow .item-val.tax{ display: none; }
.narrow .item-val.discount{ display: none; }
.narrow .item-val.total{ width: 20%; }

.medium .item-val.name{ width: 35%; }
.medium .item-val.quantity{ width: 15%; }
.medium .item-val.price{ width: 20%; }
.medium .item-val.tax{ width: 15%; }
.medium .item-val.discount{ display: none; }
.medium .item-val.total{ width: 15%; }

.wide .item-val.name{ width: 30%; }
.wide .item-val.quantity{ width: 15%; }
.wide .item-val.price{ width: 10%; }
.wide .item-val.tax{ width: 15%; }
.wide .item-val.discount{ width: 15%; }
.wide .item-val.total{ width: 15%; }

/* bill header */
#bill_header p{
    margin: 0;
    padding: 0;
}

/* bill item */
div.bill-item{
    display: block;
    clear: both;
}
div.bill-item.collapsed{ height: 1em; }
div.bill-item.expanded{ height: 3em; }

.bill-item .item-val{
    float: left;
    display: block;
    height: 100%;
}

.bill-item .item-val.name{
    
}

.bill-item .item-val.name img{
    width: 20px;
    display: inline;
    
}

.bill-item .item-val.quantity input{
    
}


/* bill summary */
#bill_summary div.total{
    height: 50px;
}

/*      */
/* till */
/*      */
#till{
    position: fixed;
}