/*             */
/* categories  */
/*             */
.no-breadcrumbs #parents_scroll_inner{
    height:60px;
    overflow:auto;
    overflow-x:hidden;
    background-color: #d0d0d0;
}

.no-breadcrumbs #children_scroll_outer{
    height: 60px;
}

.no-breadcrumbs #children_scroll_inner{
    height: 40px;
    overflow: auto;
    overflow-x: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

.no-breadcrumbs #children{ /* scrolling: inner div */
    height: 40px;
    width:1280000px; /* this will hold 10,000 buttons */
    overflow:hidden;
    float:left;
    position:relative;
    padding-left: 20px;
}

.no-breadcrumbs #children div.category-button{
    float:left;
    height: 40px;
    line-height: 40px;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    
    min-width: 120px;
    text-align: center;
    
    padding-left: 10px;
    padding-right: 10px;
    
    margin-right: 20px;
    
    border-radius: 5px;
    
}

.no-breadcrumbs #category_button_favorites,
.no-breadcrumbs #category_button_back{
    float:left;
    width: 60px;
    height: 60px;
    text-align: center;
}

.no-breadcrumbs #category_button_favorites{
    background-color: #646464;
}

.no-breadcrumbs #category_button_favorites img{
    position: relative;
    top: 12px;
}

.no-breadcrumbs #category_button_back{
    width: 60px;
    background-color: #b0b0b0;
    
}

.no-breadcrumbs #category_button_back > img{
    height: 32px;
    vertical-align: top;
    position: relative;
    top: 12px;    
}

.no-breadcrumbs #category_button_back.disabled{
    background-color: #d0d0d0;
}

.no-breadcrumbs #category_button_back.disabled img{
    opacity: 0.2;
}


.no-breadcrumbs #parents div.category-button{
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    text-transform: uppercase;
    font-size: 20px;
}

.no-breadcrumbs #subcategories_title{
    float: left;
    height: 60px;
    line-height: 60px;
    padding-left: 10px;
    text-transform: uppercase;
    color: #969696;
}

.no-breadcrumbs #products_title{
    clear: both;
    background-color: #444444;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 20px;
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 100%;
}