/*             */
/* categories  */
/*             */
#children_scroll_outer, #parents_scroll_outer{
    /* prevent text selection (interferes with dragging) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    height: 40px;
    margin-left: 10px;
}

#parents_scroll_outer{
    margin-top: 20px;
}

#children_scroll_inner, #parents_scroll_inner{ /* category scrolling: outer div*/
    height:40px;
    overflow:auto;
    overflow-x:hidden;
}

#children, div#parents{ /* scrolling: inner div */
    /* container for category-button */
    height:40px;
    width:1280000px; /* this will hold 10,000 buttons */
    overflow:hidden;
    float:left;
    position:relative;
}

div.category-button{ /* category selection buttons (the scrolling ones) */
    float:left;
    min-width:120px;
    cursor:pointer;
    /* border:1px solid black; */
    white-space: nowrap;
    
    text-overflow: ellipsis;
    height: 40px;
    line-height: 40px;
    position: relative;
    
    text-align:center;
}

div.category-button span{
    margin-left: 30px;
    margin-right: 30px;
}

div.category-button-focused{ } /* only for keyboard-arrow selection */
div.category-button-selected{ } /* selected and products are shown */
div.category-button-subcategories{ } /* this category has more subcategories */

#parents_scroll_inner
div.category-button-subcategories:after{
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    right: -40px;
    border: 20px solid rgba(0,0,0,0);
    border-left-color: inherit;
}

#children_scroll_inner div.category-button,
#category_button_home, #category_button_favorites{
    max-width: 200px;
    margin-right: 10px;
}

#category_button_home{
    background-color: #323232;
    color: #ffffff;
}

#category_button_favorites{
    background-color: #323232;
    color: #ffffff;
}