#contacts{
    background-color: #f7f7f7;
    width: 640px;
    padding: 30px !important; /* override jqueryui dialog's styles */
}

#contacts .contact-type .company-switch.active{ background-color: red; }
#contacts .contact-type .individual-switch.active{ background-color: blue; }

#contacts .contact-form .left-column{
    float: left;
    width: 270px;
    overflow: hidden;
}

#contacts .contact-form .right-column{
    float: right;
    width: 270px;
    overflow: hidden;
}


#contacts .contact-form select, 
#contacts .contact-form input{
    width: 270px;
    margin-top: 10px;
}

#contacts .dialog-footer{
    clear: both;
    text-align: right;
}

#contacts .dialog-footer input{
    width: 150px;
    margin-top: 30px;
    margin-left: 10px;
}

#contacts .dialog-footer input.cancel{
    background-color: red;
}

#contacts .dialog-footer input.save{
    background-color: green;
}

#contacts .ui-autocomplete{
    z-index: 16 !important;
}