/* receipt/bill styles  */
@page{
    margin: 0;
}

.receipt-80mm{
    width: 66mm; /* wtf happened to "80 mm" printer? */
    padding-top: 5mm;
    padding-bottom: 20mm;

    font-size: 12px;
    margin: 0;
    margin-left: 15px; /* windows, chrome */
    
    /* TODO: remove*/
    /*position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    background-color: white;*/
}

.receipt-80mm *{
    /* use condensed font for narrow receipts */
    font-family: "RobotoCondensed", "Arial Narrow", arial, helvetica, sans-serif;
}

.receipt-80mm .receipt-logo{
    text-align: center;
}

.receipt-80mm .company .name{
    text-align: center;
    /*font-weight: bold;*/
    font-size: 12pt;
}

.receipt-80mm .company .details{
    text-align: center;
}

.receipt-80mm .company{
    overflow: hidden;
}

.receipt-80mm .client .name{
    font-weight: bold;
}

.receipt-80mm .client *{
    margin-left: 5mm;
}

.receipt-80mm .register-location{
    padding-top: 3mm;
    text-align: center;
    clear: both;
}

.receipt-80mm .bill-serial{
    font-weight: bold;
    padding-top: 3mm;
}

.receipt-80mm .bill-serial-content{
    font-weight: normal;
}

/* items table: each item takes up two rows:
 * first row: name
 * second row: price | quantity | unit type | discount | amount
 *              25%       20%        10%       15%         30%
 */
.receipt-80mm div.receipt-items{
    width: 100%;
    clear: both;
    margin-top: 2mm;
    overflow: hidden;
}

/* table head: bold and bottom border */
.receipt-80mm .receipt-items .items-header{
    font-weight: bold;
    border-top: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    overflow: hidden;
    width: 100%;
    margin-bottom: 1mm;
}

.receipt-80mm .receipt-items .items-body {
    margin-bottom: 3mm;
    margin-top: 3mm;
}

.receipt-80mm .receipt-items .receipt-row{
    width: 100%;
    clear: both;
    overflow: hidden;
}

.receipt-80mm .receipt-row *{
    float: right;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.receipt-80mm .first-row{
    width: 100%;
    
}
.receipt-80mm .second-row{
    width: 100%;
}

/* cells */
.receipt-80mm .receipt-items .item-name{
    text-align: left;
    width: 100%;
}

.receipt-80mm .receipt-items .item-price{
    width: 35%;
    text-align: right;
}


.receipt-80mm .receipt-items .item-quantity{
    text-align: right;
    width: 15%;
}

.receipt-80mm .receipt-items .item-unit{
    text-align: left;
    width: 10%;
    box-sizing: border-box;
}

.receipt-80mm .receipt-items .item-discount{
    width: 15%;
    text-align: right;
}

.receipt-80mm .receipt-items .item-amount{
    width: 20%;
    text-align: right;
}

.receipt-80mm .receipt-items .item-tax{
    width: 5%;
    text-align: right;
}

.receipt-80mm .receipt-items .items-footer{
    clear: both;
    border-top: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    padding-top: 1mm;
    padding-bottom: 1mm;
}

.receipt-80mm .receipt-items .items-footer .receipt-total-text{
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.receipt-80mm .receipt-items .items-footer .receipt-currency{
    float: left;
    margin-left: 2mm;
    
}

.receipt-80mm .receipt-items .items-footer .receipt-currency:after{
    content: ":";
    font-weight: bold;
}

.receipt-80mm .receipt-items .items-footer .receipt-total{
    text-align: right;
    font-weight: bold;
}

.receipt-80mm .receipt-total-tax-margin {
    width: 5%;
    display: block;
    float: right
}

.receipt-80mm .receipt-cashier{
    margin-top: 3mm;
    clear: both;
}

.receipt-80mm .receipt-cashier-text{
    float: left;
}

.receipt-80mm .receipt-cashier-name{
    float: left;
}
.receipt-80mm .receipt-datetime{
    text-align: right;
}

.receipt-80mm .receipt-footer{
    clear: both;
    margin-top: 3mm;
    text-align: center;
}

/* table of tax rates */
.receipt-80mm .tax-rates{
    padding-top: 5mm;
    overflow: hidden;
}

.receipt-80mm .tax-rates > div{
    width: 100%;
}
.receipt-80mm .tax-rates .tax-row{
    width: 100%;
}

.receipt-80mm .tax-rates div{
    float: left;
    text-align: right;
}

.receipt-80mm .tax-rates .tax-id{ width: 8%; text-align: left; }
.receipt-80mm .tax-rates .tax-percent{ width: 22%; }
.receipt-80mm .tax-rates .tax-net{ width: 23%; }
.receipt-80mm .tax-rates .tax-absolute{ width: 23%; }
.receipt-80mm .tax-rates .tax-gross{ width: 23%; }

.receipt-80mm .tax-rates .header{
    border-bottom: 0.5mm dotted black;
    font-weight: bold;
    font-size: 80%;
    text-transform: uppercase;
}

.receipt-80mm .tax-rates .footer{
    border-top: 0.5mm dotted black;
}

.receipt-80mm .receipt-footer {
    margin-top: 15mm;
    color: #cccccc;
}

/*                       */
/* the full-page receipt */
/*                       */
.receipt-fullpage{
    position: relative;

    padding-top: 15mm;
    margin-left: 10mm;
    margin-right: 10mm;

    /* TODO: remove */
    /*position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    background-color: white;*/
}

.receipt-fullpage * {
    font-size: 13px;
    background-color: #ffffff;
}

/* header */
.receipt-fullpage .receipt-header{
    width: 100%;
}

.receipt-fullpage .receipt-header td{
    vertical-align: top;
    padding-bottom: 5mm;
}

.receipt-fullpage .receipt-header .company{
    width: 35%;
}

.receipt-fullpage .receipt-header .receipt-logo{
    width: 25%;
    text-align: right;
}

.receipt-fullpage .receipt-header .receipt-logo img{
    width: 80%;
    margin-top: 5mm;
    margin-right: 10%;
}

.receipt-fullpage .company .name,
.receipt-fullpage .client .name,
.receipt-fullpage .receipt-cashier-text,
.receipt-fullpage .receipt-location-text{
    font-weight: bold;
}

/* bill items */
.receipt-fullpage .bill-serial{
    position: relative;
    width: 100%;

    padding-bottom: 1mm;
    margin-top: 10mm;

    border-bottom: 1mm solid #646464;
}

.receipt-fullpage .bill-serial,
.receipt-fullpage .bill-serial-content{
    font-weight: bold;
    font-size: 16px;
    line-height: 14px;
}

.receipt-fullpage .bill-serial-content{
    background: none;
}

.receipt-fullpage table{
    border-collapse: collapse;
    width: 100%;
}

.receipt-fullpage .receipt-items .items-header td{
    text-transform: uppercase;
    font-weight: bold;
    
    padding-top: 2mm;
    border-bottom: 0.5mm solid #000000;
}

/* each item's classes */
.receipt-fullpage .items-body tr td{
    border-bottom: 0.3mm dotted #000000;
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.receipt-fullpage .receipt-items .name{
    width: 35%;
}

.receipt-fullpage .receipt-items .item-notes{
    font-size: 11px;
}

.receipt-fullpage .receipt-items .price{
    text-align: right;
}

.receipt-fullpage .receipt-items .discount{
    text-align: right;
    width: 15%;
}

.receipt-fullpage .receipt-items .quantity{
    text-align: right;
}

.receipt-fullpage .receipt-items .amount{
    text-align: right;
}

.receipt-fullpage .receipt-items .amount .item-amount{
    display: inline-block;
}

.receipt-fullpage .receipt-items .amount .item-tax{
    display: inline-block;
    width: 4mm;
}

.receipt-fullpage .items-footer tr td{
    padding-top: 2mm;
    padding-bottom: 2mm;
}

.receipt-fullpage .items-footer tr:last-child td:not(:first-child){
    border-top: 0.5mm solid #000000;
    border-bottom: 0.5mm solid #000000;
}

.receipt-fullpage .items-footer .total-container{
    text-align: right;
}

.receipt-fullpage .items-footer .receipt-currency{
    display: inline;
}
.receipt-fullpage .items-footer .receipt-total{
    display: inline;
}

.receipt-fullpage .items-footer .tax-margin{
    padding-right: 4mm; /* the same as .item-tax width */
}

.receipt-fullpage table.tax-rates{
    width: 50%;
    margin-top: 10mm;
}

.receipt-fullpage table.tax-rates tr td:not(:first-child){
    text-align: right;
}

.receipt-fullpage table.tax-rates thead td{
    border-bottom: 0.5mm solid #000000;
}
.receipt-fullpage table.tax-rates tfoot td{
    border-top: 0.5mm solid #000000;
}

.receipt-fullpage table.tax-rates tbody tr:not(:last-child) td{
    border-bottom: 0.3mm dotted #646464;
}

.receipt-fullpage .receipt-footer{

    border-top: 0.3mm dotted #646464;
    padding-top: 1mm;
    margin-top: 6mm;

    width: 100%;

    font-size: 9px;
    text-align: center;

    color: #646464;
}
