/* receipt/bill styles  */
@page{
    margin: 0;
}

.receipt-80mm{
    width: 66mm; /* wtf happened to "80 mm " printer? */
    padding-top: 5mm;
    padding-bottom: 20mm;

    font-size: 12px;
    margin: 0;
    
    /* TODO: remove*/
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    background-color: white;
}

.receipt-80mm *{
    /* use condensed font for narrow receipts */
    font-family: "RobotoCondensed", "Arial Narrow", arial, helvetica, sans-serif;
}

.receipt-80mm .receipt-logo{
    text-align: center;
}

.receipt-80mm .company .name{
    text-align: center;
    /*font-weight: bold;*/
    font-size: 12pt;
}

.receipt-80mm .company .details{
    text-align: center;
}

.receipt-80mm .company{
    overflow: hidden;
}

.receipt-80mm .client .name{
    font-weight: bold;
}

.receipt-80mm .client *{
    margin-left: 5mm;
}

.receipt-80mm .register-location{
    padding-top: 3mm;
    text-align: center;
    clear: both;
}

.receipt-80mm .bill-serial{
    font-weight: bold;
    padding-top: 3mm;
}

.receipt-80mm .bill-serial-content{
    font-weight: normal;
}

/* items table: each item takes up two rows:
 * first row: name
 * second row: price | quantity | unit type | discount | amount
 *              25%       20%        10%       15%         30%
 */
.receipt-80mm div.receipt-items{
    width: 100%;
    clear: both;
    margin-top: 2mm;
    overflow: hidden;
}

/* table head: bold and bottom border */
.receipt-80mm .receipt-items .items-header{
    font-weight: bold;
    border-top: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    overflow: hidden;
}

.receipt-80mm .receipt-items .receipt-row{
    clear: both;
    overflow: hidden;
}

.receipt-80mm .receipt-items .receipt-row.second{
    margin-bottom: 1mm;
}

.receipt-80mm .receipt-row *{
    float: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* cells */
.receipt-80mm .receipt-items .item-name{
    text-align: left;
    width: 100%;
}

.receipt-80mm .receipt-items .item-price{
    width: 25%;
    text-align: right;
}


.receipt-80mm .receipt-items .item-quantity{
    text-align: right;
    width: 15%;
}

.receipt-80mm .receipt-items .item-unit{
    text-align: left;
    width: 10%;
    padding-left: 1mm;
    box-sizing: border-box;
}

.receipt-80mm .receipt-items .item-discount{
    width: 20%;
    text-align: right;
}

.receipt-80mm .receipt-items .item-amount{
    width: 30%;
    text-align: right;
    
}

.receipt-80mm .receipt-items .items-footer{
    clear: both;
    border-top: 0.5mm solid black;
    border-bottom: 0.5mm solid black;
    
    padding-top: 3mm;
    padding-bottom: 3mm;
}

.receipt-80mm .receipt-items .items-footer .receipt-total-text{
    text-transform: uppercase;
    font-weight: bold;
    float: left;
}

.receipt-80mm .receipt-items .items-footer .receipt-currency{
    float: left;
    margin-left: 2mm;
    
}

.receipt-80mm .receipt-items .items-footer .receipt-currency:after{
    content: ":";
    font-weight: bold;
}

.receipt-80mm .receipt-items .items-footer .receipt-total{
    text-align: right;
    font-weight: bold;
}

.receipt-80mm .receipt-cashier{
    margin-top: 3mm;
    clear: both;
}

.receipt-80mm .receipt-cashier-text{
    float: left;
}

.receipt-80mm .receipt-cashier-name{
    float: left;
}
.receipt-80mm .receipt-datetime{
    text-align: right;
}

.receipt-80mm .receipt-footer{
    clear: both;
    margin-top: 3mm;
    
    text-align: center;
}

/* table of tax rates */
.receipt-80mm .tax-rates{
    padding-top: 5mm;
    overflow: hidden;
}

.receipt-80mm .tax-rates > div{
    width: 100%;
}
.receipt-80mm .tax-rates .tax-row{
    width: 100%;
}

.receipt-80mm .tax-rates div{
    float: left;
    text-align: right;
}

.receipt-80mm .tax-rates .tax-id{ width: 8%; text-align: left; }
.receipt-80mm .tax-rates .tax-percent{ width: 22%; }
.receipt-80mm .tax-rates .tax-net{ width: 23%; }
.receipt-80mm .tax-rates .tax-absolute{ width: 23%; }
.receipt-80mm .tax-rates .tax-gross{ width: 23%; }

.receipt-80mm .tax-rates .header{
    border-bottom: 0.5mm dotted black;
    font-weight: bold;
    font-size: 80%;
}

.receipt-80mm .tax-rates .footer{
    border-top: 0.5mm dotted black;
}

.receipt-80mm .horse-picture{
    width: 60%;
    margin: 0 auto;
}

/* the full-page receipt */
.receipt-fullpage{
    padding-top: 20mm;
    padding-bottom: 20mm;

    font-size: 12px;
    margin: 0;

    /* TODO: remove */
    position: absolute;
    z-index: 100;
    right: 0;
    bottom: 0;
    background-color: white;
}

