/*                      */
/* products in terminal */
/*                      */
#products_scroll_outer {
    position: absolute;
    bottom: 0;
}

#products_scroll_inner {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    margin-left: 10px;
    padding-top: 50px; /* this includes the 'products' title plus some margins */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#products {
    position: relative;
    width: 200000px; /* should be enough for cca. 5000 products*/
    height: 100%;
}

.products-column{
    float: left;
}

div.product-button {
    position: relative; /* this is required for product image to work correctly (to position another div above it) */
    /* do not set margin: it will be set by javascript every time products are rendered for even spacing */
    cursor: pointer;
}

div.product-button-focused{}

div.product-button-image {
    position: absolute; /* positioned above product-button */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-size: cover;
    background-position: center center;
}

.out-of-stock {
    opacity: 0.7;
}

p.product-button-name {
    font-size: 10pt;
    margin: 0;
    padding: 0;
    font-weight: bolder;
    text-align: center;
}

p.product-button-code {
    font-size: 8pt;
    text-align: center;
}

p.product-button-shortcut {
    font-size: 8pt;
    text-align: center;
}
