/*                      */
/* products in terminal */
/*                      */
.no-breadcrumbs #products_scroll_outer {
    position: absolute;
    top: 160px; /* top position: heights of #parents_scroll_outer + #children_scroll_outer + #products_title */
    left:0;
    right: 0;
    bottom: 0;
}

#products_scroll_inner {
    overflow: auto;
    overflow-x: hidden;
    height: 100%;
    margin-left: 10px;
    /* padding-top: 50px; */ /* this includes the 'products' title plus some margins */
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#products {
    position: relative;
    width: 200000px; /* should be enough for cca. 5000 products*/
    height: 100%;
}

.products-column{
    float: left;
}

div.product-button {
    position: relative; /* this is required for product image to work correctly (to position another div above it) */
    /* do not set margin: it will be set by javascript every time products are rendered for even spacing */
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 10px;
    margin-right: 10px;
}

div.product-button-focused{}

div.product-button-image {
    position: absolute; /* positioned above product-button */
    top: 0;
    left: 0;
    right: 0;
    bottom: 24px;
    z-index: 0;
    background-size: cover;
    background-position: center center;
}

div.product-button-text{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

div.product-button.image div.product-button-text{
    top: 10%;
}

div.product-button.no-image div.product-button-text{
    bottom: 0;
    height: 24px;
    line-height: 24px;
}

p.product-button-name {
    margin: 0;
    padding: 0;
    font-weight: bolder;
    text-align: center;
    /* margin-top: 30%; */
    font-size: 14px;
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 3px;
    padding-right: 3px;
}

p.product-button-code {
    font-size: 8pt;
    text-align: center;
}

p.product-button-shortcut {
    font-size: 8pt;
    text-align: center;
}

.stock-container{
    display: none;
}

.out-of-stock .stock-container{
    display: block;
    position: absolute;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: white;
    opacity: 0.5;
    
    z-index: 3; /* see product-button-text */
}

.out-of-stock.product-button:after{
    display: block;
    position: absolute;
    z-index: 5;
    
    /*content: "Out of stock"; /* this goes to terminal inline-stylesheet (translation) */
    
    font-family: "RobotoCondensed", "Arial Narrow", arial, helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    
    background-color: #ff0000;
    opacity: 0.8;
    width: 200%;
    height: 30px;
    
    left: -50%;
    top: 30px;
    
    line-height: 30px;
    text-align: center;
    color:white;
    
    transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(-45deg);
    
    transform-origin: 50% 30px;
    -ms-transform-origin: 50% 30px;
    -webkit-transform-origin: 50% 30px;
}

#no_products{
    text-transform: uppercase;
    color: #969696;
    margin-top: 10px;
}
