#status_bar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;

    background-color: #000000;

    color: #ffffff;
    z-index: 5;
}

#status_bar #logo{
    text-transform: uppercase;
    font-weight: bold;
    float: left;
    margin-right: 10px;

    white-space: nowrap;
}

#status_bar img{
    position: relative;
    top: 5px;
    display: inline;
}

#status_bar #logo.nolink img{
    display: inline-block;
    margin-left: 10px;
    margin-right: 20px;
    position: relative;
    top: 5px;
}

#status_bar_company{
    /* this has been replaced with the 'terminal' menu */
    display: none;
    margin-left: 25px;
    height: 40px;

    margin-top: 2px; /* to match with logo font */
}

#status_bar #logo.link{
    width: 40px; /* the same width as height */
    background-color: #22e693;
}

.button-container{
    float: right;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    width: 200px;
}

.button-text{ /* 'a' element, usually */
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
}

a.button-text, a.extra-button{
    color: #ffffff;
    text-transform: uppercase;
}

.drop-down{ /* 'ul' element */
    background-color: #000000;
    display: none; /* will be shown by simpleMenu.js on click */

    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;

    position: absolute;
    z-index: 5; /* above all terminal stuff */
}

.button-container.simple-menu-button:after,
.drop-down:after{
    /* the arrow */
    content: "";
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -15px;
    border: 15px solid transparent;
    border-top-color: #000000;
}

#management_extra_button{
    background-color: #00bbda;
}

#management_extra_button .drop-down:after,
#management_extra_button.button-container.simple-menu-button:after{
    border-top-color: #00bbda;
}

h1.status-bar-title{
    font-size: 20px;
    line-height: 40px;
    margin-left: 0.5em;
    margin-top: 0;
    margin-bottom: 0;
}


#status_bar a{
    text-decoration: none;
    display: block;
    text-align: center;
}

.drop-down a{
    display: block;
    height: 45px;
    margin-left: 20px;
    margin-right: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.drop-down li.store{
    background-color: #404040;
}

.drop-down a{
    color: #ffffff;
    border-top: 1px dotted #cccccc;
}

.drop-down li.company a{
    color: #ffffff;
    border-top: 1px dotted #cccccc;
}

.drop-down li.separator a{
    border-top: 1px solid #ffffff;
}

div.vertical-separator{
    display: inline-block;

    /* height + margin-top + margin_bottom must match statusbar height */
    height: 30px;
    margin-top: 5px;
    margin-bottom: 5px;

    border-left: 1px solid #aaaaaa;

    -moz-box-sizing: border-box;
    box-sizing: border-box;

    float: left;
}

div.vertical-separator.right {
    float: right;
}