#search{
    background-color: #646464;
    padding-top: 60px;
    margin-top: 0;
}

#search .errors{
    color: #22e693;
}

#search h1,
#search h2,
#search h3,
#search p{
    color: #ffffff;
    text-transform: none;
}

#search h1{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 30px;
}

#search_container{
    margin-top: 40px;
    margin-bottom: 40px;
}

#search_container input[type='text']{
    width: 50%;
    min-width: 200px;

    margin-right: 0;
    display: inline;
}

#search_container button{
    display: inline;
    margin: 0;
    padding: 0;

    /* this is to compensate borders and shadows from input element */
    height: 42px;
    width: 42px;
    position: relative;
    top: -1px;


    border: none;
    box-shadow: none;
}

.support-option{
    margin-top: 100px;
    height: 100px;
    margin-bottom: 100px;
    position: relative;
}

.option-container{
    width: 100%;
    position: absolute;
    bottom: 0;
    display: block;
}

.option-image-container{
    margin-bottom: 20px;
}

.option-text-container{
    color: #ffffff;
    font-size: 20px;
}