/* terminal-specific */
* {
    /* disble selection on any item */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body{
    /* do not show the text-select cursor */
    cursor: default;
}

/* splitter */
#splitter{
    position:fixed;
    width: 10px;
    cursor:move;
    z-index: 7;
}

#splitter img{
    position: relative;
    top: 50%;
    left: 1px;
}

#splitter.ui-draggable-dragging{
    background-color: rgba(0,0,0,0.2);
}

/*          */
/* selector */
/*          */
div#selector{
    position:fixed;
}

/*          */
/* controls */
/*          */
#controls{
    position:fixed;
    height: 120px;
}

#controls > div{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    position: relative;
}

#search_container{
    margin-top: 10px;
}

#search_products_filter{
    margin-right: 10px;
    width: 200px;

}

#search_products_submit{
    width: 40px;
    background-color: #22e693;
}

#controls_more{
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 20px;
    padding-right: 20px;

    width: 200px;
}


#till_selector_container{
    float:right;
    width: 200px;
    margin-top: 10px;
}

/*       */
/* other */
/*       */
.no-close .ui-dialog-titlebar-close{
    display:none;
}

#loading{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255,255,255,0.95);

    z-index: 15; /* above everything known */
}

#loading > div{
    text-align: center;
    position: absolute;
    top: 50%;
    width: 100%;
    height: 100px;
    margin-top: -50px;
}

#loading img.loading{
    display: inline-block;
    position: relative;
    top: 47px;
}

.shadow{
    z-index: 10; /* above everything  */
                 /* that must be shown should therefore have z-index at least 11 */

    background-color: #000000;
    opacity: 0.6;

    position: fixed;
}

.fullscreen.shadow{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.blocker{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
}

/* terminal menus (sliding upwards) */
.terminal-menu{
    position: relative;
}

.terminal-menu-items{
    position: absolute;
    bottom: 50px; /* the height of the button */
    text-align: center;
    background-color: #00ff00;
    padding: 10px;

    display: none;
}

.terminal-menu > button.open-menu{
    position: relative;
    background-color: cyan;
    white-space: nowrap;
    text-align: center;
    height: 50px;
    width: 100%;
}

.terminal-menu > button > img{
    position: absolute;
    top: 50%;
    right: 16px;
    display: inline-block;
    height: 14px;
    margin-top: -7px;
}

.terminal-menu button.terminal-menu-item{
    width: 100%;
    margin-top: 10px;
}

.terminal-menu button.terminal-menu-item:first-child{
    margin-top: 0;
}

/* status bar at the bottom: terminal status */
#terminal_status{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    height:20px;
    line-height: 20px;
}

#terminal_status div{
    float: right;
    margin-right: 10px;
    
    color: #969696;
}