/* splitter */
#splitter{
    position:fixed;
    width: 10px;
    cursor:move;
    z-index:15;
}

#splitter img{
    position: relative;
    top: 50%;
    left: 1px;
}

#splitter.ui-draggable-dragging{
    background-color: rgba(0,0,0,0.2);
}

/*          */
/* selector */
/*          */
div#selector{
    position:fixed;
}

/*          */
/* controls */
/*          */
div#controls{
    position:fixed;
    height:100px;
    padding: 10px;
}

#search_container{
    display: inline;
    line-height: 100px;
}

#search_products_filter{
    margin-right: 10px;
    width: 200px;

}

#search_products_submit{
    width: 40px;
    background-color: #00aa00;
}

/*       */
/* other */
/*       */
.no-close .ui-dialog-titlebar-close{
    display:none;
}

div.selector-title{
    display: inline-block;
    margin-left: 10px;
    background-color: #969696;
    width: 100%;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    color: #ffffff;

    margin-top: 10px;
    margin-bottom: 10px;
}

div.selector-title.absolute{
    position: absolute;
}