{% load i18n %}
{% load static %}

<section id="faq">
    <h1>{% trans "FAQ" %}</h1>
    <h2>{% trans "Is this software really free of charge?" %}</h2>
    <p>{% trans "Yes." %}</p>
    <h2>{% trans "Will it stay for free?" %}</h2>
    <p>{% trans "Yes." %}</p>
    <h2>{% trans "I heared that source code is also available. Is this true?" %}</h2>
    <p>{% trans "Yes. You can get it here <a href='http://www.github.com/rokj/sellout'>http://www.github.com/rokj/sellout</a>" %}</p>
    <h2>{% trans "Is there a mobile version?" %}</h2>
    <p>{% trans "Yes, but it is in development state and not publicly available. But you can contact us if you would like to try it out anyway." %}</p>
    <h2>{% trans "I found a bug." %}</h2>
    <p>{% trans "Do not hesitate to contact us." %}</p>
    <h2>{% trans "I would like a feature x, y, z." %}</h2>
    <p>{% trans "Read previous answer." %}</p>
    <h2>{% trans "Who are you?" %}</h2>
    <p>Rok Jaklič, Nejc Jurkovič, Jan Virant and Tomaž Žniderič</p>
    <h2>{% trans "What can you do?" %}</h2>
    <p>{% trans "We are really good at software development and designing stuff. Lately we use Python, Django, Java and pixels, but we are proficient in other programming languages also." %}</p>
    <h2>{% trans "Are you for hire?" %}</h2>
    <p>{% trans "Depends on what you want." %}</p>
</section>