{% extends 'web/bootstrap.html' %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}

{% block title %}{{ site_title }}{% endblock %}

{% block head %}
    <link href="{% static 'bootstrap/index.css?1' %}" rel="stylesheet" />

    {# custom fonts #}
    <link href="{% static 'css/fonts/fonts.css' %}" rel="stylesheet" />
    <link href="{% static 'css/fonts/montserrat.css' %}" rel="stylesheet" />

    <style type="text/css">
        {# styles that require {% static %} urls and stuff (to avoid hardcoding) #}
        #welcome_section { background-image: url("{% static 'images/index/bg-welcome.jpg' %}"); }
        #budget_section {background-image: url("{% static 'images/index/bg-budget.jpg' %}"); }
        #payment_types_section{ background-image: url("{% static 'images/index/bg-payment-types.jpg' %}"); }
        #partner_section{background-image: url("{% static 'images/index/bg-partner.jpg' %}"); }

        ul.payment-features li {
            background: url("{% static 'images/index/bullet.png' %}") no-repeat left 3px;
            margin-left: 0;
            margin-top: 0;
            margin-bottom: 0;
            background-size: 12px;
            padding-top: 0;
            padding-bottom: 0;
            text-transform: uppercase;
            color: #646464;
            font-size: 12px; /* carefully selected so that the list matches payment option height */
            padding-left: 20px;
            line-height: 17px;
        }

        ul.payment-features {
            list-style-type: none;
            float: left;
            margin: 0;
            padding: 0;
        }
    </style>

    <script type="text/javascript">
        $(window).load(function(){
            $("a.fake").click(function(e){
                e.preventDefault();
            });

            $(".register-shortcut").click(function(){
                window.location = "{% url 'web:sign_up' %}";
            });

            // jquery objects
            var items = {
                open_login_form: $("#open_login_form"),
                login_forms_container: $("#login_forms_container"),
                more_button: $("#more"),
                more_section: $("#meet_section"),
                navbar: $(".navbar"),
                login_form: $("#login_form"),
                welcome_section: $("#welcome_section"),
                beta_stripe: $("#beta_stripe"),
                more_icon: $("#more_icon")
            };

            // resizing and repositioning
            // the login form, a very interactive thing indeed;
            // show it if there's a message to be shown
            items.login_forms_container.is_visible = {{ login_message|yesno:"true,false" }};

            function toggle_login_form(show){
                if(show) items.login_forms_container.removeClass("hidden");
                else items.login_forms_container.addClass("hidden");

                items.login_forms_container.is_visible = show;
                position_login_form();
            }

            function position_login_form(){
                // show the form and move it below the button
                var button_pos = items.open_login_form.offset();

                if (!button_pos) return;

                var button_size = {
                    width: items.open_login_form.width(),
                    height: items.open_login_form.height()
                };
                var ARROW_SIZE = 40;

                var form_position = {
                    left: button_pos.left +
                            button_size.width -
                            items.login_forms_container.outerWidth() +
                            ARROW_SIZE,
                    top: button_pos.top +
                            button_size.height +
                            ARROW_SIZE
                };

                if(form_position.left < 0) form_position.left = 20;

                items.login_forms_container.offset(form_position);
            }

            function resize(){
                var h = $(window).height();

                // resize the sections to meet the screen height
                $(".container, .container-fluid", "section.full-height").each(function(){
                    var section = $(this).parent();

                    // get the 'natural' height of sections
                    section.css("height", "auto");

                    // size them
                    if(section.height() < h) section.height(h);
                });

                position_login_form();
            }

            resize();
            $(window).resize(resize);

            // hiding/showing stuff
            items.open_login_form.click(function(e){
                e.preventDefault();

                toggle_login_form(!items.login_forms_container.is_visible);

                return false;
            });
            toggle_login_form(items.login_forms_container.is_visible);

            items.more_button.click(function(){
                $("body").animate({scrollTop: items.more_section.offset().top}, "fast");
            });

            // url checking
            function match_url(){
                switch(get_url_hash()){
                    case 'login':
                        toggle_login_form(true);
                        break;
                    default:
                        break;
                }
            }

            var action = '{{ action }}';
            if (action == 'login') {
                toggle_login_form(true);
            }

            items.more_button.mouseenter(function() {
                items.more_icon.addClass("hover");
            }).mouseleave(function() {
                items.more_icon.removeClass("hover");
            });

            match_url();
            $(window).on('hashchange', match_url);
        });
    </script>
{% endblock %}

{% block navbar_buttons %}
    <ul class="nav navbar-nav navbar-right">
        <li><a class="custom nav-button extra-font" href="#pricing">{% trans 'Pricing' %}</a></li>
        {% if user.is_authenticated %}
            <li><a class="custom nav-button extra-font" href="{% url 'web:select_company' %}"><span id="enter_select_company">{% trans 'Enter' %}</span></a></li>
        {% else %}
            <li><a class="custom nav-button extra-font" href="{% url 'web:sign_up' %}">{% trans 'Sign up' %}</a></li>
            <li><a class="custom nav-button extra-font fake" href="#"><span id="open_login_form">{% trans 'Login' %}</span></a></li>
        {% endif %}
    </ul>
{% endblock %}

{% block content %}
    <div id="login_forms_container" class="hidden form-shadow form-background">
        <div id="login_forms_arrow" class="form-background form-shadow"></div>
        <div id="login_forms_background" class="form-background">
            <div id="login_form" class="form-background">
                <form action="." method="post" class="custom">
                    {% csrf_token %}

                    {% if next %}
                        <input type="hidden" name="next" value="{{ next }}" />
                    {% endif %}

                    <div class="form-errors">
                        {{ login_form.non_field_errors }}
                    </div>

                    <div class="form-field">
                        <div class="field-errors">
                            {{ login_form.email.errors }}
                        </div>
                        {{ login_form.email.label_tag }}
                        {{ login_form.email }}
                    </div>

                    <div class="form-field">
                        <div class="field-errors">
                            {{ login_form.password.errors }}
                        </div>
                        {{ login_form.password.label_tag }}
                        {{ login_form.password }}
                    </div>

                    <div class="form-message">
                        {% if login_message == 'login-failed' %}
                            <p>{% trans 'Login failed. Check your user name and password.' %}</p>
                        {% elif login_message == 'google-login' %}
                            <p>{% trans 'You registered with Google. Please use the google login button below to log in.' %}</p>
                        {% elif login_message == 'user-inactive' %}
                            Your username is inactive. Check email (maybe spam folder) again and activate account. If still does not work, just contact support
                            <p>{% blocktrans %}Your account is inactive.
                                Search your e-mail inbox (and spam folder) for the activation mail.
                                If you did not receive the activation mail, use the forgotten password form below.
                                If thi still doesn't work for you, please contact support.
                            {% endblocktrans %}</p>
                        {% endif %}
                    </div>

                    <div class="nav-links">
                        <button id="google_signin_button" style="" class="hoverable">
                            <span class="icon"></span>
                        </button>

                        <input type="submit" value="{% trans "Log in" %}" class="buttons hoverable custom" id="login_register_button">
                    </div>

                    <div class="lost-login">
                        <a href="{% url 'web:lost_password' %}"> {% trans 'Lost password?' %} </a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section id="welcome_section" class="full-height">
        <div class="container-fluid">
            <h1 class="text-center">{% trans 'Your perfect business partner.' %}</h1>
            <h3 class="text-center">{% trans 'Cloud Point Of Sale application.' %}</h3>
        </div>

        <input type="button" value="{% trans 'Find out more' %}" id="more" class="extra-font buttons" />
        <img src="{% static 'icons/arrow_white_down.png' %}" alt="{% trans "More" %}" id="more_icon" />
    </section>

    <section id="meet_section">
        <div class="container">
            <h3 class="text-center dark-fg vertical-spacing">{% trans 'Meet Sellout,' %}</h3>

            <div class="row">
                <div class="col col-md-4 v-center">
                    <p class="dark-fg reading-text">
                    {% blocktrans %}
                         a new cloud-based multiplatform Point of Sale application
                            that makes issuing invoices easier than ever.
                    {% endblocktrans %}</p><p class="dark-fg reading-text">
                        {% blocktrans %}It combines register, inventory and management.
                    {% endblocktrans %}</p>
                </div><!--
                --><div class="col col-md-4 text-center v-center">
                    <img src="{% static 'images/index/meet-sellout.png' %}"
                         alt="Sellout" />
                </div><!--
                --><div class="col col-md-4 v-center">
                    <p class="dark-fg reading-text">{% blocktrans %}
                        It offers a simple user friendly and fast software system to help
                        you grow your business in no time.
                    {% endblocktrans %} </p><p class="dark-fg reading-text">{% blocktrans %}
                        Set up an account and start selling. All you need is an Internet connection.</p>
                    {% endblocktrans %}
                </div>
            </div>
        </div>
    </section>

    <section id="budget_section">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 v-center">
                    <div id="budget_container" class="center-block">
                        <div class="akcija-small">{% trans "Free while in beta" %}</div>
                        <div class="budget-display">
                            <div class="budget-price extra-font bold">20<span class="euro">&euro;</span></div>
                            {% trans 'Per month' %}
                        </div>
{#                        <div class="budget-drawer"> {% trans 'One user' %} </div>#}
                        <div class="budget-drawer"> {% trans 'Unlimited registers' %}* </div>
                        <div class="budget-drawer"> {% trans 'Unlimited products' %} </div>
                        <div class="budget-drawer"> {% trans 'Unlimited contacts' %} </div>
                        <div class="budget-display">
                            <input type="button" value="{% trans 'Sign up' %}"
                                   class="register-shortcut buttons extra-font bold" />
                        </div>
                    </div>
                </div><!-- when using the v-center class, there must be no white space between neighboring divs
                --><div class="col col-md-6 v-center">
                    <h3>{% trans 'Seriously low prices' %}</h3>
                    <p>{% blocktrans %}
                        Get started from as low as 7&euro; per month.<br />
                        It doesn't get much better than this.
                    {% endblocktrans %}</p>
                    <p><a href="#pricing" class="dark-bg">{% trans 'Check out other offers' %}</a></p>

                    <div class="footnote">
                        * {% trans "The term Register refers to digital register in Sellout application, not an actual piece of hardware." %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="simple_section" class="dark-bg">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 v-center">
                    <h3>{% trans 'Simple and fast, with no setup' %}</h3>
                    <p>{% blocktrans %}
                        Forget long lasting software installations,
                        Sellout requires no setup.
                        All you need is a web browser or a smart phone and basic internet connection.
                        {% endblocktrans %}
                    </p>
                </div><!--
                --><div class="col col-md-6 v-center">
                    <div class="steps-graphic">
                        <div class="step-container">
                            <div class="step-number">1</div>{% trans 'Subscribe' %}
                        </div>
                        <div class="step-connector"></div>
                        <div class="step-container">
                            <div class="step-number">2</div>{% trans 'Add' %}
                        </div>
                        <div class="step-connector"></div>
                        <div class="step-container">
                            <div class="step-number">3</div>{% trans 'Print' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="payment_types_section">
        <div class="container">
            <div class="row">
                <div class="col col-md-6 v-center" id="payment_type_image">
                    <img src="{% static 'images/index/payment-types.jpg.png' %}"
                         alt="{% trans 'Payment types' %}" />
                </div><!--
                --><div class="col col-md-6 v-center">
                    <h3>{% trans 'Cash. Credit card. Paypal. Bitcoin.' %}</h3>
                    <p>{% blocktrans %}
                        From good old banknotes to digital currency,
                        Sellout lets you accept any type of payment.
                        Increase your earning potential now.
                    {% endblocktrans %}</p>
                </div>
            </div>
        </div>
    </section>

    <section id="possibilities_section" class="dark-bg">
        <div class="container text-center">
            <div class="row">
                <div class="row">
                    <h3>{% trans 'We are all about possibilities.' %}</h3>
                    <div class="col col-md-4">
                        <div class="possibility-image-container">
                            <div class="possibility-image-container-inner">
                                <img src="{% static 'images/index/cloud.png' %}" alt="Cloud" id="p_cloud" />
                            </div>
                        </div>
                        <h4>{% trans 'Cloud-based' %}</h4>
                        <p>{% trans 'Any time, any place, Sellout is always available. <br />Never lose your data.' %}
                        </p>
                    </div>

                    <div class="col col-md-4">
                        <div class="possibility-image-container">
                            <div class="possibility-image-container-inner">
                                <img src="{% static 'images/index/hardware.png' %}" alt="Hardware" id="p_hardware" />
                            </div>
                        </div>
                        <h4>{% trans 'Any hardware support' %}</h4>
                        <p>{% trans 'Use it on any kind of device. <br/>Print to any kind of printer.' %}</p>
                    </div>

                    <div class="col col-md-4">
                        <div class="possibility-image-container">
                            <div class="possibility-image-container-inner">
                                <img src="{% static 'images/index/multiple-platforms.png' %}" alt="Platforms" id="p_platforms" />
                            </div>
                        </div>
                        <h4>{% trans 'Multiple platforms' %}</h4>
                        <p>{% trans 'Works as web, mobile and tablet app. <br />All you need is a browser and a Wi-Fi.' %}</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col col-md-4">
                        <div class="possibility-image-container">
                            <div class="possibility-image-container-inner">
                                <img src="{% static 'images/index/multiple-terminals.png' %}" alt="Terminals" id="p_terminals" />
                            </div>
                        </div>
                        <h4>{% trans 'Multiple terminals' %}</h4>
                        <p>{% trans 'Switch between terminals with different preferences,<br />all on a single device.' %}</p>
                    </div>

                    <div class="col col-md-4">
                        <div class="possibility-image-container">
                            <div class="possibility-image-container-inner">
                                <img src="{% static 'images/index/multiple-permissions.png' %}" alt="Permissions" id="p_permissions" />
                            </div>
                        </div>
                        <h4>{% trans 'Multiple permission profiles' %}</h4>
                        <p>{% trans 'Define who has access to what.<br />Keep your company information safe.' %}</p>
                    </div>

                    <div class="col col-md-4">
                        <div class="possibility-image-container">
                            <div class="possibility-image-container-inner">
                                <img src="{% static 'images/index/customizable.png' %}" alt="Customizable" id="p_customizable" />
                            </div>
                        </div>
                        <h4>{% trans 'Customizable' %}</h4>
                        <p>{% trans 'Set the layout of terminal and printed receipts <br /> to satisfy your requirements.' %}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="partner_section" >
        <div class="container">
            <div class="reading-text">
                <h3>{% trans 'The perfect partner.' %}</h3>
                <p>{% blocktrans %}Sellout is for anyone who runs a profitable business and needs to regularly issue invoices.
                    It is ideal for freelancers, small companies and start-ups.
                    {% endblocktrans %}</p>
                <p>{% trans 'Ease up your everyday life.' %}</p>
            </div>
        </div>
    </section>

    <section id="pricing_section" class="extra-font">
        <a name="pricing"></a>
        <div class="container">
            <div class="row">
                <div class="col col-md-6 col-sm-6 col-xs-12">
                    <h3 class="dark-fg">{% trans 'Packages & Pricing' %}</h3>
                    <div id="payment_options_boxes"> {# payment options #}
                        <div class="akcija-big">{% trans "Free while in beta" %}</div>

                        <div class="payment-option-nowrap">
                            <div class="payment-option">
                                <div class="payment-duration"> {% trans '1 month' %}</div>
                                <div class="payment-price">20 &euro;</div>
                            </div>
                            <div class="payment-option">
                                <div class="payment-duration"> {% trans '2 months' %} </div>
                                <div class="payment-price">38 &euro;</div>
                            </div>
                            <div class="payment-option">
                                <div class="payment-duration"> {% trans '3 months' %} </div>
                                <div class="payment-price">55 &euro;</div>
                            </div>
                        </div>

                        <div class="payment-option-nowrap">
                            <div class="payment-option">
                                <div class="payment-duration"> {% trans '6 months' %} </div>
                                <div class="payment-price">100 &euro;</div>
                            </div>

                            <div class="payment-option">
                                <div class="payment-duration"> {% trans '1 year' %} </div>
                                <div class="payment-price">166 &euro;</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col col-md-3 col-sm-3 col-xs-12">
                    <h3 class="dark-fg">{% trans 'What you get' %}</h3>
                    <div class="payment-features-container">
                        <ul class="payment-features">
                            <li>{% trans 'Unlimited registers' %}</li>
                            <li>{% trans 'Unlimited products' %}</li>
                            <li>{% trans 'Unlimited customers' %}</li>
                            <li>{% trans 'Free mobile app' %}</li>
                            <li>{% trans 'Free email support' %}</li>
                        </ul>
                    </div>
                </div>

                <div class="col col-md-3 col-sm-3 col-xs-12">
                    <h3 class="dark-fg">{% trans 'Payment options' %}</h3>
                    <img src="{% static 'images/index/payment-types.png' %}"
                         alt="{% trans 'Payment options' %}" />
                </div>
            </div>
        </div>
    </section>

    <section id="banner_section">
        <div class="container">
            <input type="button" value="{% trans 'Register' %}" class="register-shortcut" />
            <h3>{% trans 'Start your <b>FREE</b> ... while in beta!' %}</h3>
        </div>
    </section>

    <section id="footer_section" class="extra-font">
        <div class="container">
            <div class="row">
                <div class="col col-md-2 col-sm-6 col-xs-12">
                    {% if LANGUAGE_CODE == "en" %}
                        <img src="{% static 'images/index/logo-text.png' %}"
                            alt="Sellout logo"
                            id="footer_logo" />
                    {% elif LANGUAGE_CODE == "si" %}
                        <img src="{% static 'images/index/logo-text.png' %}"
                            alt="Sellout logo"
                            id="footer_logo" />
                    {% endif %}
                </div>

                <div class="col col-md-4 col-sm-6 col-xs-12">
                    <ul>
                        <li><a href="#">{% trans 'About' %}</a></li>
                        <li><a href="#">{% trans 'Press kit' %}</a></li>
                    </ul>
                    <ul>
                        <li><a href="">{% trans 'Terms & conditions' %}</a></li>
                        <li><a href="">{% trans 'Privacy' %}</a></li>
                    </ul>
                </div>

                <div class="col col-md-3 col-sm-6 col-xs-12 social-media">
                    <a href="http://www.facebook.com/sellout" class="hoverable">
                        <img src="{% static 'images/index/facebook-link.png' %}"
                             alt="Facebook"
                             title="{% trans 'Join us on Facebook' %}" />
                    </a>

                    <a href="#" class="hoverable">
                        <img src="{% static 'images/index/twitter-link.png' %}"
                             alt="Twitter"
                             title="{% trans 'Follow us on Twitter' %}" />
                    </a>

                    <a href="#" class="hoverable">
                        <img src="{% static 'images/index/youtube-link.png' %}"
                             alt="Youtube"
                             title="{% trans 'Subscribe to us on Youtube' %}" />
                    </a>

                    <a href="#" class="hoverable">
                        <img src="{% static 'images/index/linkedin-link.png' %}"
                             alt="LinkedIn"
                             title="{% trans 'Add us on LinkedIn' %}" />
                    </a>
                </div>

                <div class="col col-md-3 col-sm-6 col-xs-12 timebits-banner">
                    <div>{% trans 'Tracking time on projects?' %}</div>
                    <div><a href="http://www.timebits.com" target="_blank">{% trans 'Try Timebits!' %}</a></div>
                </div>
            </div>
        </div>
    </section>

    <section id="signature_section">
        <div class="container">
            {% trans 'A product of ' context 'A product of Blocklogic' %}
            <a href="http://www.blocklogic.net" target="_blank">
            <img id="blocklogic_logo"
                 src="{% static 'images/index/blocklogic_logo_small.png' %}" alt="blocklogic logo" />
            </a>.
            {% trans 'Copyright 2014. All rights reserved.' %}
        </div>
    </section>

{% endblock %}