{% extends "web/bootstrap.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {% comment %}
    <link href="{% static 'bootstrap/select_company.css' %}" rel="stylesheet" />
    {% endcomment %}

    {# for drop-down menu #}
    <link href="{% static 'css/statusbar.css' %}" rel="stylesheet" />

    <script type="text/javascript">
    $(document).ready(function(){
        $("#user_button").simpleMenu($("#user_menu"));
    });
    </script>
{% endblock %}

{% block navbar_buttons %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div id="user_button" class="button-container simple-menu-button">
                <div class="vertical-separator"></div>

                <a class="custom nav-button button-text" href="#">{{ request.user }}</a>

                <ul id="user_menu" class="drop-down">
                    <li><a href="{% url 'web:logout' %}">{% trans 'Log Out' %}</a></li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% comment %} company list {% endcomment %}
    <section>
        <div class="container">
            <h2>{% trans 'Lost password' %}</h2>
            {% if message %}
                <p>{{ message }}</p>
            {%endif %}

            <form action="{% url 'web:lost_password' %}" method="post">
                {% csrf_token %}

                <p class="label custom">{% trans 'E-mail' %}</p>

                <div class="form-field">
                    <input type="text" name="email" id="email" class="custom" />
                </div>

                <div class="nav-links">
                    {# 'normal login' button #}
                    <input type="submit"
                           value="{% trans "Send request" %}"
                           class="buttons hoverable custom"
                           id="lost_password_button"/>

                    <a href="#login" id="lost-password back">{% trans "Back" %}</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

