{% extends "web/bootstrap.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    {% comment %}
    <link href="{% static 'bootstrap/select_company.css' %}" rel="stylesheet" />
    {% endcomment %}

    {# for drop-down menu #}
    <link href="{% static 'css/statusbar.css' %}" rel="stylesheet" />

    <script type="text/javascript">
    $(document).ready(function(){
        $("#user_button").simpleMenu($("#user_menu"));
    });
    </script>
{% endblock %}

{% block navbar_buttons %}

{% endblock %}

{% block content %}
    {% comment %} company list {% endcomment %}
    <section>
        <div class="container">
            <h2>{% trans 'Lost password' %}</h2>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">

            <form action="{% url 'web:recover_password' key %}" method="post">
                {% csrf_token %}

                {# a hidden field #}
                {{ form.key }}

                <div class="form-field custom">
                    {{ form.new_password_1.label_tag }}
                    {{ form.new_password_1 }}
                </div>

                <div class="form-field custom">
                    {{ form.new_password_2.label_tag }}
                    {{ form.new_password_2 }}
                </div>

                <div class="form-field custom">
                    {# 'normal login' button #}
                    <input type="submit"
                           value="{% trans "Reset password" %}"
                           class="buttons hoverable custom"
                           id="lost_password_button"/>

                    <a href="{% url 'web:index' %}#login" class="lost-password back">{% trans "Back" %}</a>
                </div>
            </form>
        </div>
    </section>
{% endblock %}

