{% extends "web/bootstrap.html" %}
{% load i18n %}
{% load static %}

{% block head %}
    <link href="{% static 'bootstrap/select_company.css' %}" rel="stylesheet" />
    {# for drop-down menu #}
    <link href="{% static 'css/statusbar.css' %}" rel="stylesheet" />

    <script type="text/javascript">
    $(document).ready(function(){
        $("#user_button").simpleMenu($("#user_menu"));
    });
    </script>
{% endblock %}

{% block navbar_buttons %}
    <ul class="nav navbar-nav navbar-right">
        <li>
            <div id="user_button" class="button-container simple-menu-button">
                <div class="vertical-separator"></div>

                <a class="custom nav-button button-text" href="#">{{ request.user }}</a>

                <ul id="user_menu" class="drop-down">
                    <li><a href="{% url 'web:logout' %}">{% trans 'Log Out' %}</a></li>
                </ul>
            </div>
        </li>
    </ul>
{% endblock %}

{% block content %}
    {% comment %} company list {% endcomment %}
    <section>
        <div class="container">
            <h2>{% trans 'Your companies' %}</h2>
            {% if companies %}
                <div id="companies_list">
                    {% for company in companies %}
                        <div class="company table-row top-border">
                            <div class="company-name table-cell">
                                <a href="{% url 'pos:terminal' company.url_name %}"> {{ company.name }} </a>
                            </div>
                            <div class="company-delete table-cell hidden">{# so far, this is hidden #}
                                <img src="{% static 'icons/delete_red.png' %}"
                                     class="hoverable delete"
                                     data-id="{{ company.id }}" />
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="no-text">{% trans 'You are not part of any company yet.' %}</p>
                <p class="no-text">{% trans 'Create your own company or wait for an invite.' %}</p>
            {% endif %}

            <div id="new_company">
                <a id="new_company_link"
                   href="{% url 'web:register_company' %}"
                   class="add"> + {% trans 'Add Company' %}</a>
            </div>
        </div>
    </section>

    {% comment %} notifications {% endcomment %}
    <section>
        <div class="container">
            <h2>{% trans 'Your notifications' %}</h2>
            {% if actions %}
                <div class="container">
                <table id="actions">
                    {% for a in actions %}
                        <div class="action-container table-row">
                            <p class="action-message">
                                {% if a.type == 'invitation' %}
                                    {% trans 'You have been invited to join a company: ' %}
                                    {{ a.company.name }}
                                {% endif %}
                                <a href="{{ a.accept_url }}" class="action accept">{% trans 'Accept' %}</a>
                                <a href="{{ a.decline_url }}" class="action decline">{% trans 'Decline' %}</a>
                            </p>
                        </div>
                    {% endfor %}
                </table>
                </div>
            {% else %}
                <p class="no-text">{% trans 'You have no unseen notifications.' %}</p>
            {% endif %}
        </div>
    </section>

    {% comment %} user settings {% endcomment %}
    <section>
        <div class="container">
            <h2>{% trans 'Your settings' %}</h2>
            <div class="settings-link-container">
                <a href="{% url 'web:user_profile' %}">{% trans 'User profile' %}</a>
            </div>
            <div class="settings-link-container">
                <a href="#">{% trans 'Subscriptions' %}</a>
            </div>
            <div class="settings-link-container">
                <a href="#">{% trans 'Support center' %}</a>
            </div>
            <div class="settings-link-container">
                <a href="#">{% trans 'Run tutorial' %}</a>
            </div>
        </div>
    </section>

    {% include 'tutorial.html' %}
{% endblock %}

