{% extends 'web/bootstrap.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ title }} - {{ site_title }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static 'bootstrap/sign_up.css' %}" />
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            <form action="{% url 'web:sign_up' %}" method="post" class="custom">

            <div class="form-errors">
                {{ user_form.non_field_errors }}
            </div>

            <div class="row">
                <div class="col-md-4">
                    {% trans 'Join the future in retail business.' %}
                    <p class="free-ad">
                        {% trans 'Register for free.' %}
                    </p>
                </div>
                    {% csrf_token %}

                    <div class="col-md-4">
                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.first_name.errors }}
                            </div>
                            {{ user_form.first_name.label_tag }}
                            {{ user_form.first_name}}
                        </div>

                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.last_name.errors }}
                            </div>
                            {{ user_form.last_name.label_tag }}
                            {{ user_form.last_name }}
                        </div>

                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.email.errors }}
                            </div>
                            {{ user_form.email.label_tag }}
                            {{ user_form.email }}
                        </div>

                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.country.errors }}
                            </div>
                            {{ user_form.country.label_tag }}
                            {{ user_form.country }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.sex.errors }}
                            </div>
                            {{ user_form.sex.label_tag }}
                            {{ user_form.sex }}
                        </div>

                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.password1.errors }}
                            </div>
                            {{ user_form.password1.label_tag }}
                            {{ user_form.password1 }}
                        </div>

                        <div class="form-field">
                            <div class="field-errors">
                                {{ user_form.password2.errors }}
                            </div>
                            {{ user_form.password2.label_tag }}
                            {{ user_form.password2 }}
                        </div>

                        <div class="form-field captcha">
                            <div class="field-errors">
                                {{ user_form.captcha.errors }}
                            </div>
                            {{ user_form.captcha.label_tag }}
                            {{ user_form.captcha }}
                        </div>

                        <div class="form-field">
                            <input type="submit" class="buttons" value="{% trans 'Register' %}" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </section>
{% endblock %}