{% extends "web/bootstrap.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ site_title }}

    {% if message_code == "registration-successful" %}
        - {% trans "Registration successful" %}
    {% elif message_code == "activation-successful" %}
         - {% trans "Activation successful" %}
    {% elif message_code == "activation-failed" %}
         - {% trans "Activation failed" %}
    {% elif message_code == "user-exists-google" %}
         - {% trans "User exists" %}
    {% elif message_code == "user-exists-normal" %}
        - {% trans "User exists" %}
    {% elif message_code == "user-exists" %}
        - {% trans "User exists" %}
    {% endif %}
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "bootstrap/sign_up.css" %}" />
{% endblock %}

{% block content %}
    <section>
        <div class="container">
            {% comment %} show html according to message that's to be shown {% endcomment %}

            {% if message_code == "registration-successful" %}
                <p>{% trans "Registration successful." %}</p>
                <p>{% trans "Check your e-mail inbox for confirmation link." %}</p>
                <p><a href="{% url "web:index" %}">{% trans "Back to home page" %}</a></p>

            {% elif message_code == "activation-successful" %}
                <p>{% trans "Activation successful." %}</p>
                <p>{% trans "You can now login." %}</p>
                <p><a href="{% url "web:index" %}#login">{% trans "Login" %}</a></p>

            {% elif message_code == "activation-failed" %}
                <p>{% trans "Activation failed (wrong key?)" %}</p>
                <p><a href="{% url 'web:index' %}">{% trans 'Back to home page' %}</a></p>

            {% elif message_code == "user-exists-google" %}
                <p>{% blocktrans %} You are already registered on one of blocklogic sites with Google account.
                    Please log in by clicking the google login button on home page.{% endblocktrans %}</p>
                <p><a href="{% url "web:index" %}#login">{% trans "Back to home page" %}</a></p>

            {% elif message_code == "user-exists-normal" or message_code == "user-exists" %}
                <p>{% blocktrans %} Looks like you are already a member of a Blocklogic product.
                    Use the login form to log in.{% endblocktrans %}</p>
                <p><a href="{% url "web:index" %}#login">{% trans "Back to home page" %}</a></p>
            {% endif %}
        </div>
    </section>
{% endblock %}