{% extends 'web/bootstrap.html' %}
{% load static %}
{% load i18n %}

{% block navbar_buttons %}

{% endblock %}

{% block content %}
    <div id="back_button"> &lt;&lt;&lt; {% trans 'Back' %} </div>

    <section class="container">
        <div class="row">
            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>

            <div class="col-md-4">

            </div>
        </div>
    </section>

    email
    first_name
    last_name
    type
    sex
    country
{% endblock %}