{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% block body_tag %}<body class="reset-password">{% endblock %}

<h1>{% trans "Reset password" %}</h1>

<div id="reset_password_form" class="{% if not errors %}password-set{% endif %}">
    {% if not errors %}
        <p>{% trans "New password set!" %}!</p>
        <p>{% blocktrans with login_url as url %}Click <a href="{{ url }}">here</a> to login.{% endblocktrans %}</p>
    {% else %}
        <form action="" method="post" class="reset-password">
            {% csrf_token %}

            {% if errors %}
                <ul class="errorlist">
                    {% for k, v in errors.items %}
                        <li>{{ v }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <fieldset>
                <p class="odd"><label for="password1">{% trans "Password" %}</label></p>
                <p class="input"><input type="password" name="password1" id="password1"></p>

                <p class="odd"><label for="password2">{% trans "Password one more time" %}</label></p>
                <p class="input"><input type="password" name="password2" id="password2"></p>
            </fieldset>

            <div class="nav-links">
                <input type="submit" value="{% trans "Set new password" %}" />
                <div class="lost-login"><a href="{% url 'login:login_form' %}" id="lost_password">{% trans "Login" %}</a> | <a href="{% url 'register' %}" id="register">{% trans "Register" %}</a></div>
            </div>
        </form>
    {% endif %}
</div>

{% endblock %}