/* TODO: remove */
/*div{
    border: 1px solid black;
    margin:1px;
}*/

/*              */
/* main content */
/*              */

/* topmost bar */
body, html{
    height:100%;
}

div#manage_bar{
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    height:25px;
}

div#manage_bar #blocklogic{
    /* blocklogic link in top-left corner */
    float:left;
}

div#manage_bar #messages{
    /*overflow:hidden; no difference for text that doesn't overflow*/
    text-align:center;
    width:auto;
}

div#manage_bar .management-bar-button{
    float:right;
}

div#bill{
    width:360px;
    position:absolute;
    top:35px;
    bottom:5px;
    left:5px;
}

div#selection{
    position:absolute;
    left:370px;
    right:5px;
    top:35px;
    bottom:5px;
}

div#products{
    /* height is set in javascript */
}

div#controls{
    position:absolute;
    bottom:0px;
    height:200px;
    border:1px solid black;
}