/* TODO: remove */
/*div{
    border: 1px solid black;
    margin:1px;
}*/

/* splitter */
div#splitter{
    position:absolute;
    width:6px;
    background-color:black;
    opacity:0.6;
    cursor:move;
    z-index:15;
}

/*              */
/* main content */
/*              */
div#loading{
    position:absolute;
    top:0;
    left:0;
    opacity:.9;
    background-color:white;
    z-index:999;
}
/* topmost bar */
div#manage_bar{
    position:absolute;
    top:5px;
    left:5px;
    right:5px;
    height:25px;
}

div#manage_bar #blocklogic{
    /* blocklogic link in top-left corner */
    float:left;
}

div#manage_bar #messages{
    /*overflow:hidden; no difference for text that doesn't overflow*/
    text-align:center;
    width:auto;
}

div#manage_bar .management-bar-button{
    float:right;
}

div#bill{
    width:360px;
    position:absolute;
    top:35px;
    bottom:5px;
    left:5px;
}

div#selection{
    position:absolute;
    left:370px;
    right:5px;
    top:35px;
    bottom:5px;
}

div#products{
    /* height is set in javascript */
}

div#controls{
    position:absolute;
    bottom:5px;
    height:200px;
    border:1px solid black;
}