/* TODO: remove */
/*div{
    border: 1px solid black;
    margin:1px;
}*/

/* splitter */
#splitter{
    position:fixed;
    width:6px;
    background-color:black;
    opacity:0.6;
    cursor:move;
    z-index:15;
}

/*              */
/* main content */
/*              */

/* topmost bar */
div#manage_bar{
    position:fixed;
    height:25px;
}

div#manage_bar #blocklogic{
    /* blocklogic link in top-left corner */
    float:left;
}

div#manage_bar #messages{
    /*overflow:hidden; no difference for text that doesn't overflow*/
    text-align:center;
    width:auto;
}

div#manage_bar .management-bar-button{
    float:right;
}

div#selector{
    position:fixed;
    top:35px;
}

div#controls{
    position:fixed;
    height:200px;
    border:1px solid black;
}