/*             */
/* categories  */
/*             */
/*
  category buttons are in three states:
    inactive (class category-button) - when not touched
    active (class category-button-active) - when on path of the currently selected category/product
    selected (class category-button-selected) - when this is the currently focused button

*/
div .category-select{
    /* container for category-button */
    overflow:hidden; /* 'auto' prevents floating divs to break out of parent container */
    height:30px;
    white-space:nowrap;

}
div .category-button{ /* category selection buttons (the scrolling ones) */
    float:left;
    min-width:100px;
    max-width:150px;
    padding:3px;
    cursor:pointer;
}

div .category-button-active{ /* active: also for keyboard arrow navigation */
    background-color:#9999ff;
}

div .category-button-selected{
    background-color:red;
}

.category-button-icon{ /* category image in selection buttons */
    display:inline-block;
    vertical-align:middle;
    height:24px; /* icons are thumbnails, which are already cropped to a square */
    width:24px;
}

p.category-name{
    width:100%;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

p.category-select-none{
    font-style:italic;
}

.focused{
    color:red;
}