{% load staticfiles %}
<!DOCTYPE html>

<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'jquery-ui-1.10.3/themes/base/jquery-ui.css' %}">
    
    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="{% static 'jquery-ui-1.10.3/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.10.3/ui/jquery-ui.js' %}"></script>
    
    {% comment %} bignumber (for all number manipulation) {% endcomment %}
    <script src="{% static 'big.js' %}"></script>
    
    {% comment %} translation {% endcomment %}
    <script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>

    
    {% comment %} common javascript files {% endcomment %}
    <script type="text/javascript" src="{% static 'ajax.js' %}"></script>
    <script type="text/javascript" src="{% static 'common.js' %}"></script>
    
    <title>{% block title %}{{title}} - {{site_title}}{% endblock %}</title>
    
    {% block head %}{% endblock %}
</head>
    {% block body_tag %}<body>{% endblock %}{% comment %} in case something needs to be assigned to body tag (styles, etc.){% endcomment %}

    {% block content %}{% endblock %}
    
<!-- footer -->
</body>
