{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.10.3/themes/base/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/statusbar.css' %}">

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="{% static 'jquery-ui-1.10.3/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.10.3/ui/jquery-ui.js' %}"></script>
    
    <title>{% block title %}{{title}} - {{site_title}}{% endblock %}</title>

</head>

<body>
{% block content %}

<div id="login_form">
    <form action="" method="post">
        {% csrf_token %}

        <input type="hidden" id="action" name="action" value="login">

        {% if next %} <input type="hidden" name="next" value="{{ next }}"> {% endif %}

        <p class="label">{% trans 'E-mail' %}</p>

        <div class="second">
            <input type="text" name="email" id="email"/>
        </div>

        <p class="label">{% trans 'Password' %}</p>

        <div class="second">
            <input type="password" name="password" id="password"/>
        </div>

        {% if message %}
            <div id="login_message">{{ message }}</div>
        {% endif %}

        <div class="nav-links">
            <input type="submit" value="Login" class="buttons hoverable" id="login_register_button">
            <span class="login-or-google">or</span>
        </div>

        <div class="lost-login">
            <a href="{% url 'lost-password' %}"
               id="lost_password">{% trans "Lost Password?" %}</a>
        </div>
    </form>

    <button id="signinButton" style="" class="hoverable">
        <span class="icon"></span>
    </button>
</div>

<div id="lost_password_form">
    LOST PASSWORD
    <form action="" method="post">
        {% csrf_token %}

        <input type="hidden" id="action" name="action" value="lost_password">

        <p class="label">{% trans 'E-mail' %}</p>

        <div class="second">
            <input type="text" name="lost_password_email" id="lost_password_email"/>
        </div>

        <div class="nav-links">
            {# 'normal login' button #}
            <input type="submit"
                   value="{% trans "Send request" %}"
                   class="buttons hoverable"
                   id="lost_password_button"/>
        </div>


        <div class="lost-login">
            <a href="#login" class="lost-password back">{% trans "Back" %}</a>
        </div>
    </form>
</div>

<div id="recover_password_form">
    RESET PASSWORD
    <form action="" method="post">
        {% csrf_token %}

        <input type="hidden" id="action" name="action" value="recover_password">

        <p class="label">{% trans 'New password' %}</p>

        <div class="second">
            <input type="password" name="new_password1" id="new_password1"/>
        </div>

        <p class="label">{% trans 'New password one more time' %}</p>

        <div class="second">
            <input type="password" name="new_password2" id="new_password2"/>
        </div>

        {% if message %}
            <div id="new_password_message">{{ message }}</div>
        {% endif %}

        <div class="nav-links">
            {# 'normal login' button #}
            <input type="submit"
                   value="{% trans "Set new password" %}"
                   class="buttons hoverable"
                   id="new_password_button" name="new_password_button" />
        </div>

        <div class="lost-login">
            <a href="#login" class="lost-password back">{% trans "Back" %}</a>
        </div>
    </form>
</div>
{% endblock %}
</body>
</html>