{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    {% comment %} CSS {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/fonts/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-1.10.3/themes/base/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/statusbar.css' %}">

    {% comment %} jQuery {% endcomment %}
    <script type="text/javascript" src="{% static 'jquery-ui-1.10.3/jquery-1.9.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'jquery-ui-1.10.3/ui/jquery-ui.js' %}"></script>
    
    <title>{% block title %}{{title}} - {{site_title}}{% endblock %}</title>

</head>

<body>
    {% block content %}{% endblock %}
</body>
</html>