/*      */
/* bill */
/*      */
table#bill{
    background-color:#dddddd;
    overflow:hidden;
}

tr#bill-item-header{
    border-bottom:3px solid black;
}

td.bill-item-name-container{
}
    p.bill-item-name{
        margin-top:0px;
        margin-bottom:3px;
    }

    p.bill-item-code{
        font-size:12px;
        font-family:"Courier New", "Courier", monospace;
        margin-top:5px;
        margin-bottom:0px;
    }

td.bill-item-qty-container{
    width:60px;
}

td.bill-item-price-container{
    width:50px;
}

td.bill-item-tax-container{
    width:50px;
}

td.bill-item-discount-container{
    width:80px;
}

td.bill-item-total-container{
    width:50px;
}
