/*      */
/* Bill */
/*      */
table#bill{
    overflow:hidden;
}

tr#bill_header{
    border-bottom:3px solid black;
    background-color:#dddddd;
}

td.bill-item-name{
}

td.bill-item-qty-container{
    width:70px;
}

td.bill-item-price-container{
    width:70px;
}

td.bill-item-tax-container{
    width:70px;
}

td.bill-item-discount-container{
    width:80px;
}

td.bill-item-total-container{
    width:80px;
}

p.bill-title{
    margin-top:0;
    margin-bottom:3px;
}

p.bill-subtitle{
    font-size:12px;
    font-family:"Courier New", "Courier", monospace;
    margin-top:5px;
    margin-bottom:0;
}

td.item-qty input.qty{
    width:30px;
}

input.item-notes{
    width:50px;
    font-size:10px;
}
    
