
/*             */
/* categories  */
/*             */
/*
  category buttons are in three states:
    inactive (class category-button) - when not touched
    active (class category-button-active) - when on path of the currently selected category/product
    selected (class category-button-selected) - when this is the currently focused button

*/

div .category-scroll-outer{ /* category scrolling: outer div*/
    
}

div .category-scroll-inner{ /* scrolling: inner div */
    overflow:auto;
    overflow-x:hidden;
}


div .category-select{
    /* container for category-button */
    height:34px;
    overflow:hidden;
    float:left;
    position:relative;
    padding-left:auto;
    padding-right:auto;
}

div .category-button{ /* category selection buttons (the scrolling ones) */
    float:left;
    min-width:100px;
    max-width:150px;
    padding:3px;
    cursor:pointer;
    border:1px solid black;
}

div .category-button-active{ /* active: also for keyboard arrow navigation */
    background-color:#9999ff;
}

div .category-button-selected{
    background-color:red;
}

.category-button-icon{ /* category image in selection buttons */
    display:inline-block;
    vertical-align:middle;
    height:24px; /* icons are thumbnails, which are already cropped to a square */
    width:24px;
}

p.category-name{
    width:100%;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


/*          */
/* products */
/*          */
div#products_scroll_outer{
    
}

div#products_scroll_inner{
    overflow:auto;
    overflow-x:hidden;
}

div#products{
    position:relative;
    border: 1px solid black;
}

div.product-button{
    border:1px solid red;
    padding:3px;
    margin:2px;
    background-position:center;
    background-repeat:no-repeat;
}

div.product-button-name{
    background:solid white;
    font-weight:bolder;
    color:white;
    box-shadow: 10px 10px 5px #888888;

}

div.product-button-code{
    padding-top:auto;
    padding-bottom:auto;
}
div.product-button-shortcut{
    
}