/*             */
/* categories  */
/*             */
/*
  category buttons are in four states:
    inactive (class category-button) - when not touched
    focused (class category-button-focused) - for keyboard navigation
    active (class category-button-active) - when on path of the currently selected category/product
    selected (class category-button-selected) - when this is the currently focused button

*/
div#children, div#parents{
    height:38px;
    /* prevent text selection (interferes with dragging) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#children_scroll_outer, div#parents_scroll_outer{ /* category scrolling: outer div*/
    height:34px;
    overflow:auto;
    overflow-x:hidden;
    border:1px solid black;
}

div#children_scroll_inner, div#parents_scroll_inner{ /* scrolling: inner div */
    /* container for category-button */
    height:32px;
    width:1280000px; /* this will hold 10,000 buttons */
    overflow:hidden;
    float:left;
    position:relative;
}

div .category-button{ /* category selection buttons (the scrolling ones) */
    float:left;
    min-width:120px;
    max-width:150px;
    padding:3px;
    margin-left:3px;
    margin-right:3px;
    cursor:pointer;
    border:1px solid black;
}

div .category-button-focused{ /* only for keyboard-arrow selection */
    border:1px dotted gray;
}

div .category-button-active{ /* like selected, but this category's products aren't shown */
    background-color:yellow;
}

div .category-button-selected{ /* selected and products are shown*/
    background-color:orange;
}

div .category-button-subcategories{ /* this category has more subcategories */
    border-color:red;
}

.category-button-icon{ /* category image in selection buttons */
    display:inline-block;
    vertical-align:middle;
    height:24px; /* icons are thumbnails, which are already cropped to a square */
    width:24px;
}

p.category-name{
    width:100%;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

/* subcategories indicator */
img.subcategory{
    height:15px;
}
div#children img.subcategory{
    visibility:hidden;
}
div#parents img.subcategory{
    position:relative;
    margin-top:auto;
    margin-bottom:auto;
}