
/*             */
/* categories  */
/*             */
/*
  category buttons are in three states:
    inactive (class category-button) - when not touched
    active (class category-button-active) - when on path of the currently selected category/product
    selected (class category-button-selected) - when this is the currently focused button

*/
div#children, div#parents{
    height:38px;
    /* prevent text selection (interferes with dragging) */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#children_scroll_outer, div#parents_scroll_outer{ /* category scrolling: outer div*/
    height:34px;
    overflow:auto;
    overflow-x:hidden;
}

div#children_scroll_inner, div#parents_scroll_inner{ /* scrolling: inner div */
    /* container for category-button */
    height:32px;
    width:12800000px; /* this will hold 100,000 buttons */
    overflow:hidden;
    float:left;
    position:relative;
    padding-left:auto;
    padding-right:auto;
}

div .category-button{ /* category selection buttons (the scrolling ones) */
    float:left;
    width:120px; /* width must be fixed to determine *_scroll_* width */
    padding:3px;
    margin-left:3px;
    margin-right:3px;
    cursor:pointer;
    border:1px solid black;
}

div .category-button-focused{ /* only for keyboard-arrow selection */
    border:1px dotted gray;
}

div .category-button-active{ /* like selected, but this category's products aren't shown */
    background-color:yellow;
}

div .category-button-selected{ /* selected and products are shown*/
    background-color:orange;
}

div .category-button-subcategories{ /* this category has more subcategories */
    border-color:red;
}

.category-button-icon{ /* category image in selection buttons */
    display:inline-block;
    vertical-align:middle;
    height:24px; /* icons are thumbnails, which are already cropped to a square */
    width:24px;
}

p.category-name{
    width:100%;
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}


/*          */
/* products */
/*          */
div#products_scroll_outer{
    
}

div#products_scroll_inner{
    overflow:auto;
    overflow-x:hidden;
}

div#products{
    position:relative;
    border: 1px solid black;
}

div.product-button{
    border:1px solid red;
    padding:3px;
    margin:2px;
    background-position:center;
    background-repeat:no-repeat;
}

div.product-button-name{
    background:solid white;
    font-weight:bolder;
    color:white;
    box-shadow: 10px 10px 5px #888888;

}

div.product-button-code{
    padding-top:auto;
    padding-bottom:auto;
}
div.product-button-shortcut{
    
}