/*          */
/* products */
/*          */
div#products_scroll_outer{
    border: 1px solid black;
}

div#products_scroll_inner{
    overflow:auto;
    overflow-x:hidden;
}

div#products{
    position:relative;
    width:200000px; /* should be enough for cca. 5000 products*/
}

div .products-column{
    float:left;    
}

div.product-button{
    position:relative; /* this is required for product image to work correctly (to position another div aboce it) */
    border:1px solid red;
    /* do not set margin: it will be set by javascript every time products are rendered for even spacing */
    background-position:center;
    background-repeat:no-repeat;

    z-index:1;
}

img.product-button-image{
    position:absolute; /* positioned above product-button */
    top:0px;
    left:0px;
    max-width:100%;
    max-height:100%;
    z-index:2;
}

div.product-button div.shade{
    position:absolute; /* positioned above product-button-image */
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    background-color: white;
    opacity:0.8;
    z-index: 3;
}

p.product-button-name{
    font-size:10pt;
    margin:0px;
    padding:0px;
    font-weight:bolder;
    text-align: center;
}

p.product-button-code{
    font-size:8pt;
    text-align: center;
}

p.product-button-shortcut{
    font-size:8pt;
    text-align:center;
}

