#content{
    margin-left: 340px; /* that is 300 + margin from search sidebar */
}

#container{
    position: relative;
    padding-right: 30px;
}

#bills_container{
    margin-right: 40px;
    margin-top: 26px;
    width: 100%;
    
}

.bill-list{
    
}

.bill-list.item:nth-child(odd) {
    
}

.bill-list .column.view img{
    height: 20px;
    position: relative;
    top: 3px;
}

.bill-list .column.view.all {
    background-color: orangered;
}

/* columns: width and text align */
.bill-list .column.user{ padding-left: 20px;}

.bill-list .column.total{ text-align: right; padding-right: 20px;}
.bill-list .column.count{ width: 50px; text-align: right; }
.bill-list .column.view{ width: 40px; text-align: right; }
