#content{
    margin-left: 340px; /* that is 300 + margin from search sidebar */
}

#bills_container{
    margin-right: 40px;
}

.bill-list{
    display: block;
    
    overflow: hidden;
}

.bill-list.header {
    background-color: #cccccc;
    color: #ffffff;
}

.bill-list.item {
    border-bottom: 1px solid #646464;
}

.bill-list.item:nth-child(odd) {
    background-color: #ffffff;
}

.bill-list .column {
    display: block;
    float: left;
    width: 10%;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 1%;
}

.bill-list .column.total {
    text-align: right;
}

.bill-list .column.view img{
    height: 20px;
    position: relative;
    top: 3px;
}