#category_tree {
    overflow: hidden;
    /* content is fullscreen here */
    margin-left: -40px; /* the same as #management_content padding-left */
}

.category-button{
    float: left;
    margin: 10px;
    position: relative;
    cursor: pointer;

    display: table;
}

.category-button>span{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000000;
}

.category-button.shaded{
    opacity: 0.3;
}

.category-text{
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
    
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-tools{
    position: absolute;
    bottom: 0;
    width: 100%;

    z-index: 4;
    visibility: hidden;
}

.category-button:hover .category-tools{
    visibility: visible;
}

.category-children{
    overflow: hidden;
    position: relative;
    width: 10000000px;
    margin-left: 20px;
}
.category-children-outer{
    position: relative;
}

/* category levels */
.level-0{ background-color: #ebebeb; }
.level-1{ background-color: #e1e1e1; }
.level-2{ background-color: #d7d7d7; }
.level-3{ background-color: #cdcdcd; }
.level-4{ background-color: #c3c3c3; }
.level-5{ background-color: #b9b9b9; }
.level-6{ background-color: #afafaf; }
.level-7{ background-color: #a5a5a5; }
.level-8{ background-color: #9b9b9b; }

/* level arrows */
.category-children-outer:after{
    top : 100%;
    left: 50%;
    border: 20px solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    margin-left: -20px;
    z-index: 3;
}

.level-0:after{ border-top-color: #ebebeb; }
.level-1:after{ border-top-color: #e1e1e1; }
.level-2:after{ border-top-color: #d7d7d7; }
.level-3:after{ border-top-color: #cdcdcd; }
.level-4:after{ border-top-color: #c3c3c3; }
.level-5:after{ border-top-color: #b9b9b9; }
.level-6:after{ border-top-color: #afafaf; }
.level-7:after{ border-top-color: #a5a5a5; }
.level-8:after{ border-top-color: #9b9b9b; }

#tools{
    position: absolute;
    z-index: 5;
    display: none;
    width: 200px;
    background-color: #000000;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

#tools input{
    width: 100%;
    margin-top: 10px;
}

#tools .arrow{
    position: relative;
    width: 100%;
    height: 0;
}

#tools .arrow-container{
    position:relative;
    width: 100%;
    height: 0;
}

#tools .arrow:after{
    border: 30px solid rgba(0, 0, 0, 0);
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

#tools .arrow.top:after{
    top: -60px;
    left: 50%;
    margin-left: -30px;
    border-bottom-color: #000000;
}

#tools .arrow.bottom:after{
    top: 10px; /* that's for the #toolbox padding */
    left: 50%;
    margin-left: -30px;
    border-top-color: #000000;
}

img.toolbox{
    width: 32px;
    position: absolute;
    z-index: 4;
    bottom: 3px;
    right: 3px;
    opacity: 0.5;
}

img.toolbox:hover{ opacity: 1; }

input[type='submit']{
    width: 100%;
}

div.form-field a.button{
    margin-top: 5px;
}

#add_button_container{
    width: 1000px;
}

#color_list{
    width: 100%;
    overflow: hidden; /* to prevent floated elements inside from breaking out */
}

div.color-button{
    display: block;
    position: relative;
    float: left;
    cursor: pointer;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    /* .color-button.selected:after is in category.html (required image background) */
}