img.fake-button{
    display: inline;
    vertical-align: bottom;
}

div.currency-table{
    display: table;
    width: 100%;
}

div.spacer{
    display: table-cell;
    width: 16.6667%;
    text-align: right;
    vertical-align: bottom;
}


div.spacer.left{
    text-align: left;
}

#bill_format_example {

}