img.fake-button{
    display: inline;
    vertical-align: bottom;
}

div.currency-table{
    display: table;
    width: 100%;
}

div.spacer{
    display: table-cell;
    width: 16.6667%;
    text-align: right;
    vertical-align: bottom;
}


div.spacer.left{
    text-align: left;
}

.help-popup {
    background-color: #f7f7f7;
    padding: 5px;
    position: relative;
    color: #323232;
}

.help-popup * {
    font-size: 90%;
    margin: 5px;
}

.help-text-close {
    position: absolute;
    right: 5px;
}