input[type='submit']{
    width: 100%;
}

span.discount-active, span.discount-inactive{ text-transform: uppercase; }
span.discount-active{ color: #00aa00; }
span.discount-inactive { color: #aa0000; }

div.clear-results{
    text-align: right;
}
div.clear-results a{
    color: #646464;
}

#id_description{
    height: 80px;
}

div.discount-active-checkbox{
    height: 100%;
}

div.object-container{
    position: relative;
    padding-top: 40px;

    background-color: #f7f7f7;
    max-width: 500px;
    margin: 10px;
}

div.object-container div.title{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;

    color: #ffffff;
    background-color: #646464;
}

div.object-container div.title div.controls{
    float: right;
}

td.details-label{
    color: #646464;
    padding-right: 30px;
}
