input[type='submit']{
    width: 100%;
}

span.discount-active, span.discount-inactive{ text-transform: uppercase; }
span.discount-active{ color: #00aa00; }
span.discount-inactive { color: #aa0000; }

#id_description{
    height: 80px;
}

div.discount-active-checkbox{
    height: 100%;
}

div.object-container{
    position: relative;
    float: left;
    padding-top: 40px;

    background-color: #f7f7f7;
    width: 400px;
    margin: 10px;

    padding-left: 10px;
    padding-bottom: 10px;
}

div.object-container div.title{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;

    color: #ffffff;
    background-color: #646464;

    padding-left: 10px;
}

div.object-container div.title div.controls{
    float: right;
}

td.details-label{
    color: #646464;
    padding-right: 30px;
}

div.paginator{
    clear: both;
    text-align: center;
}
div.paginator a{
    text-decoration: none;
    font-weight: bold;
}

#content{
    display: table;
}

#back_link, #forward_link{
    width: 40px;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#list{
    display: table-cell;
    vertical-align: top;
}

