#management_content{
    margin-top: 3em;
}

.menu-hidden{
    /* simpleMenus should not be hidden with display: none, but
       height: 0 to keep the necessary horizontal space occupied */
    height: 0;
}

h1{
    text-transform: uppercase;
}

/* controls and widgets and stuff */
label{
    text-transform: uppercase;
    font-size: 10px;
    color: #999999;
}

input[type='text'], textarea {
    border-radius: 0;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

input[type='submit'], input[type='button']{
    color: #ffffff;
    border: none;
    height: 2.5em;
    font-size: inherit;
    text-transform: uppercase;
}

input[type='submit']{ background-color: #00aa00; }
input#static_cancel{ background-color: #aa0000; }

select{
    border: none;
    background-color: #646464;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.custom-file-input{
    display: inline;
}

div.custom-file-input input{
    border: none;
    height: 2.5em;
    background-color: #000000;
    color: #ffffff;
}

div.form-field-container{
    display: inline;
}

div.form-field{
    margin-top: 15px;
}

div.form-field input, div.form-field textarea, div.form-field select{
    margin-top: 5px;
}

form div.error{
    color: #ff0000;
}

div.management-column{
    width: 30%;
    float: left;
    max-width: 350px;
    margin-right: 40px;
}

#image-clear_id + label{
    /* stupid clear boxes require special attention */
    display: inline;
    vertical-align: middle;
}
#image-clear_id{
    vertical-align: middle;
}

div.form-field input[type='text'],
div.form-field input[type='number'],
div.form-field select, div.form-field textarea{
    width: calc(100% - 5px); /* mind the paddings (dumb css) */
}

div.clear-columns{
    clear: both;
}

div.form-footer{
    margin-top: 30px;
}

div.form-footer-column{
    float: left;
    width: 50%;
    text-align: center;
}

div.left-column{
    float: left;
    width: 300px;
}

div.left-column + div.content{
    margin-left: 330px; /* the same as .left-column width plus some border */
}

div.left-column form, div.left-column .fake-form{
    border-top: 3px solid #646464;
    border-bottom: 3px solid #646464;
}

div.edit-container{
    max-width: 400px;
}

div.split-cell{
    float: left;
    width: 45%;
    margin-bottom: 20px;
}

div.split-cell.first{ padding-right: 5% }
div.split-cell.last{ padding-left: 5%; }

.add-button-container{
    width: 50%;
}

div.paginator{
    max-width: 500px;
    text-align: center;
}
div.paginator a{
    text-decoration: none;
    font-weight: bold;
}
div.paginator a.current-page{ font-size: 120%; }

/* search/filter results */
span.no-results{
    color: #969696;
    font-style: italic;
}

/* buttons that are actually links */
a.button{
    height: 2.5em;
    line-height: 2.5em;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

a.button.do, input.do { background-color: #0000aa; }
a.button.ok, input.ok { background-color: #00aa00; }
a.button.cancel, input.cancel{ background-color: #aa0000; }

#edit_dialog label{
    display: block;
}