#management_content{
    padding-top: 60px;
    padding-left: 40px;
    margin-bottom: 40px;
    /* to prevent floated elements from not taking up space */
    overflow: hidden;
}

h2{
    font-size: 24px;
    margin-bottom: 20px;
}

.menu-hidden{
    /* simpleMenus should not be hidden with display: none, but
       height: 0 to keep the necessary horizontal space occupied */
    height: 0;
}

div.custom-file-input,
form.custom-file-input{
    display: inline;
}

div.custom-file-input input,
form.custom-file-input input{
    border: none;
    background-color: #000000;
    color: #ffffff;
    cursor: pointer;
}

div.form-field{
    margin-top: 15px;
    overflow: hidden;
}

div.form-field.no-label{
    /* fields that have no labels */
    padding-top: 12px;
}

div.form-field input, div.form-field textarea, div.form-field select{
    margin-top: 5px;
}

form div.error{
    color: #ff0000;
}

/* column width: keep it narrow for small screens, but wide on larger */
div.management-column{
    float: left;
    margin-right: 40px;
}

@media only screen and (max-width: 1000px){
    div.management-column{
        width: 260px;
    }
}
@media only screen and (min-width: 1001px){
    div.management-column{
        width: 340px;
    }
}

div.management-column.narrow{
    width: 260px !important; /* regardless of screen sizes */
}

div.form-field input[type='text'],
div.form-field input[type='email'],
div.form-field input[type='number'],
div.form-field select, div.form-field textarea{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.clear-columns{
    clear: both;
}

div.left-column{
    float: left;
    width: 300px;
}

div.left-column + div.content{
    margin-left: 330px; /* the same as .left-column width plus some border */
}

div.left-column form, div.left-column .fake-form{ }

div.edit-container{
    max-width: 400px;
}

div.split-cell{
    float: left;
    width: 45%;
}

div.split-cell.first{ padding-right: 5% }
div.split-cell.last{ padding-left: 5%; }
div.cleared{ clear: both; }

/* search/filter results */
span.no-results{
    color: #969696;
    font-style: italic;
}

/* buttons that are actually links */
a.button{
    line-height: 40px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px; /* this is defined for all inputs */
}

a.button.ok, input.ok { background-color: #22e693; }
a.button.cancel, input.cancel{ background-color: #ff5a6e; }

.delete-image-button{
    display: block;
    position: absolute;

    width: 20px;
    height: 20px;

    background-size: 20px 20px;
    background-color: transparent;

    border: none;
    cursor: pointer;

    z-index: 3;

    left: 0; /* must be modified in html styles by template variable (specific image width) */
    bottom: 0;

    margin-left: 10px;
}

div.bottom input{
    width: 100%;
}

div.bottom{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 0;
}

div.management-column div.read-only-field{
    /* label height + label top margin */
    /* (except that there is no label, so margins must be set by hand) */
    padding-top: 30px;
}

thead td{
    /* headers for taxes and cash registers */
    color: #646464;
}

td {
    border-bottom: 1px solid #ffffff;
    height: 40px;
}

.ui-datepicker td{
    height: auto;
}

table{
    width: 100%;
    max-width: 1200px;
}

.hidden{
    display: none;
}

/* search results */
div.clear-results{
    text-align: center;
    padding-top: 10px;
}
div.clear-results a{
    color: #969696;
    font-size: 12px;
}

.results-header{
    /* must match the first input box of filter form, if there's any */
    padding-top: 28px;
    color: #646464;
    height: 30px;
}

.results-header .pagination{
    display: inline;
    margin-left: 20px;
}

.results-header .paginator img{
    display: inline;
    vertical-align: text-top;
    position: relative;
    top: 0;
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
}

#management_hint{
    display: block;
    position: absolute;

    width: 200px;
    right: 180px;
    top: 100px;

    padding: 20px;

    background-color: #ffffff;
}

#management_hint:after{
    content: "";
    background-color: inherit;
    position: absolute;

    left: 50%;
    margin-left: -15px;

    top: -15px;

    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    z-index: -1;
}

/* ugly ugly ugly, but we are in a hurry */
.user-profile div.form-field {
    margin-top: 0px;
    max-width: 320px;
}

.user-profile .cancel {
    text-align: center;
    display: block;
    width: 100%;
    color: #ffffff;
    height: 40px;
    font-size: inherit;
    text-transform: uppercase;
    border: none;
    /* box-shadow: 0 2px 0 rgba(0,0,0,0.2); */
    box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    vertical-align: middle;
    padding-top: 4px;
}

.user-profile .split-cell:nth-child(2) {
    padding-top: 5px;
    margin-left: 20px;
}

.user-profile .row.profile {
    display: block;
}

.user-profile .row.password {
    display: none;
}

.user-profile h4 button.selector {
    color: #323232;
    height: 100%;
    font-size: inherit;
    text-transform:  none;
    border: none;
    /* box-shadow: 0 2px 0 rgba(0,0,0,0.2); */
    box-shadow: none;
    padding: 6px;
    background-color: transparent;
}


.user-profile h4 button.selector.active, .user-profile h4 button.selector:not(.active):hover {
    background-color: #D3D3D3;
    padding: 6px;
    border-radius: 3px;
}

.user-profile h4 button.selector.active:hover {
    cursor: auto;
}

.user-profile h4 button.selector:not(.active):hover {
    cursor: pointer;
}

.user-profile .password .back-to-profile {
    display: none;
}

.user-profile .password .password-changed-successfully {
    color: #22e693;
    display: none;
}