#management_content{
    margin-top: 40px; /* the height of #status_bar */
    padding-top: 15px;
    padding-left: 40px;
}

.menu-hidden{
    /* simpleMenus should not be hidden with display: none, but
       height: 0 to keep the necessary horizontal space occupied */
    height: 0;
}

h1{
    text-transform: uppercase;
}

/* controls and widgets and stuff */
label, .custom-label{
    color: #999999;
    display: block;
    text-transform: uppercase;
    font-size: 10px;
}

.custom-label.description{
    text-transform: none;
}

input[type='text'],
input[type='email'],
input[type='number'],
textarea {
    border-radius: 0;
    border-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
}

input[type='submit'], input[type='button'], button{
    color: #ffffff;
    border: none;
    height: 40px;
    font-size: inherit;
    text-transform: uppercase;
}

input[type='submit']{ background-color: #00aa00; }
input#static_cancel{ background-color: #aa0000; }

select{
    border: none;
    background-color: #646464;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}

div.custom-file-input,
form.custom-file-input{
    display: inline;
}

div.custom-file-input input,
form.custom-file-input input{
    border: none;
    background-color: #000000;
    color: #ffffff;
}

div.form-field-container{
    display: inline;
}

div.form-field{
    margin-top: 15px;
    /* to prevent floated elements inside
       from breaking out (and not taking up space) */
    overflow: hidden;
}

div.form-field input, div.form-field textarea, div.form-field select{
    margin-top: 5px;
}

form div.error{
    color: #ff0000;
}

div.management-column{
    width: 30%;
    float: left;
    max-width: 350px;
    margin-right: 40px;
}

div.management-column.fixed{
    width: 280px;
}

#image-clear_id + label{
    /* stupid clear boxes require special attention */
    display: inline;
    vertical-align: middle;
}
#image-clear_id{
    vertical-align: middle;
}

div.form-field input[type='text'],
div.form-field input[type='email'],
div.form-field input[type='number'],
div.form-field select, div.form-field textarea{
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

div.clear-columns{
    clear: both;
}

div.form-footer{
    margin-top: 30px;
}

div.form-footer-column{
    float: left;
    width: 50%;
    text-align: center;
}

div.left-column{
    float: left;
    width: 300px;
}

div.left-column + div.content{
    margin-left: 330px; /* the same as .left-column width plus some border */
}

div.left-column form, div.left-column .fake-form{

}

div.edit-container{
    max-width: 400px;
}

div.split-cell{
    float: left;
    width: 45%;
}

div.split-cell.first{ padding-right: 5% }
div.split-cell.last{ padding-left: 5%; }

.add-button-container{
    width: 50%;
}

div.paginator{
    max-width: 500px;
    text-align: center;
}
div.paginator a{
    text-decoration: none;
    font-weight: bold;
}
div.paginator a.current-page{ font-size: 120%; }

/* search/filter results */
span.no-results{
    color: #969696;
    font-style: italic;
}

/* buttons that are actually links */
a.button{
    height: 40px;
    line-height: 40px;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    cursor: default;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px; /* this is defined for all inputs */
}

a.button.do, input.do { background-color: #0000aa; }
a.button.ok, input.ok { background-color: #00aa00; }
a.button.cancel, input.cancel{ background-color: #aa0000; }

#edit_dialog label{
    display: block;
}

.delete-image-button{
    display: block;
    position: absolute;

    left: 100%;
    top: 50%;

    margin-top: -10px;
    margin-left: 5px;

    width: 20px;
    height: 20px;

    background-size: 20px 20px;
    background-color: transparent;

    border: none;
    cursor: pointer;
}

div.bottom input{
    width: 100%;
}

div.bottom{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 0;
}

div.management-column div.read-only-field{
    /* label height + label top margin */
    /* (except that there is no label, so margins must be set by hand) */
    padding-top: 30px;
}