#filter_form input[type='text']{
    width: 100%; /* the padding, defined in managebase.css */
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

#filter-form label{
    display: block;
}

#filter_form input[type='button']{
    width: 100%;
}

/* the 'advanced' "button" */
#advanced_search_toggle{
    vertical-align: middle;
    width: 100%;
    background-color: #000000;
}


.negative-profit{
    color:white;
    font-weight:bold;
    background-color:red;
    padding:2px;
}

#filter_form_controls{
    margin-top: 15px;
}

div.product-details{
    background-color: #f7f7f7;
    float: left;
    width: 400px;
    margin-left: 20px;
    position: relative;
    padding-top: 2.5em;
    margin-bottom: 20px;
}

div.product-details table{
    width: 100%;
    height: 100px;
    border-spacing: 0;
}

div.product-details p{
    margin: 0;
}

div.product-details table.details td{
    vertical-align: bottom;
}

div.product-details table.details td.padded{
    padding: 5px;
}

div.product-details table.details td.product-image{
    width: 100px; /* the same as table height */
    background-position: center center;
    background-size: cover;
}

div.product-details .title{
    background-color: #646464;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    line-height: 40px;
    padding-left: 10px;
    color: #000000;
}

div.product-details .product-management{
    float: right;
}

p.details-label{
    color: #646464;
    width: 40%;
    font-size: 10px;
    text-transform: uppercase;
}

button.product-controls{
    background-color: transparent;
    border: none;
    width: 40px; /* the same as .title height */
    height: 40px;
    background-position: center center;
    background-repeat: no-repeat;
}

input#edit_product_save, input#edit_product_cancel{
    width: 100%;
}

#edit_dialog{
    position: absolute;
    left: 50%;
    top: 50px;
    
    
    z-index: 7;
    width: 960px;
    margin-left: -480px;
    
    background-color: #ebebeb;
    padding-top: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin-bottom: 50px;
    overflow: hidden;
}

#edit_dialog_title{
    margin-right: 40px;
    margin-bottom: 10px;
    margin-bottom: 20px;
    margin-top: 0; /* it's already set in #edit_dialog */
    text-align: center;
}
}

#dialog_shadow{
    position: fixed;
    z-index: 6; /* above menus and shiat */
    background-color: #000000;
    opacity: 0.4;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: none;
}

#edit_product_description,
#edit_product_private_notes{
    /* must match all paddings, margins, height of all junk inside div.form-field */
    height: 114px;
}

/* minor details etc. */
div.management-column.hand-margin-2{
    /* margins for second column */
    margin-top: 5px;
}

div.management-column.hand-margin-3{
    /* margins for third column */
    margin-top: 5px;
}