p.explanation{
    color: #646464;
    font-size: 12px;
}

/* list */
#tax_list{
    margin-bottom: 40px;
    min-width: 300px;
}

/* table */
tbody td{
    border-top: 1px solid #ffffff;
    min-width: 200px;
}

td.controls{
    width: 100px;
    border: none;
}

button.delete-tax, button#add_tax{
    background: none;
    border: none;
    font-weight: bold;
    height: 100%;
}

button.delete-tax{
    color: #aa0000;
}
button#add_tax{
    color: #0000aa;
}

#tax_footer{
    margin-top: 20px;
}

.controls button{
    background-color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    height: 40px;
    width: 40px;
}