{% extends "support/supportbase.html" %}
{% load staticfiles %}
{% load i18n %}
{% load thumbnail %}

{% block main_content_header %} {% endblock %}
{% block home_button %}{% endblock %}

{% block main_content_body %}
    {# show latest questions from each category or all in chosen category #}
    {% if latest %}
        <h2 class="latest">{% trans 'Latest questions' %}</h2>
        {% for l in latest %}
            {% if l.questions %}
                <h2>{{ l.category_name }}</h2>
                {% include 'support/question_list.html' with questions=l.questions %}
            {% else %}
                <h2>{{ l.category_name }}</h2>
                <p class="no-results-message">{% trans 'No questions in this category' %}</p>
            {% endif %}
        {% endfor %}
    {% else %}
        {% if questions %}
            <h2>{{ category_name }} <span class="results-no">({{ questions.paginator.count }})</span></h2>
            {% include 'support/question_list.html' with questions=questions %}

        {# show pagination #}
        {% include 'support/pagination.html' with d=questions %}

        {% else %}
            <h2>{{ category_name }}</h2>
            <p class="no-results-message">{% trans 'No questions in this category' %}</p>
        {% endif %}
    {% endif %}

{% endblock %}